{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}

  {% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}

  {% elsif template contains 'index'  %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}

  {% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}

{% endif %}


<div data-permalink="{{ permalinkURL }}" class="article-share-wrapper text-center">
  <div class="heading">
    <h3>SHARE THIS ARTICLE</h3>
  </div>
  <div class="social-media">
    <span>
      <a target="_blank" class="article-share" href = "//www.facebook.com/sharer.php?u={{ permalinkURL }}" title="{{ shop.name }}">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
    </span>
    <span>
      <a target="_blank" class="article-share" href = "//twitter.com/share?text={{ product.title}}&amp;url={{ permalinkURL }}{% unless template == 'password' %}&amp;media={% if template == 'product' or template == 'index'%}{{ product.featured_image.src | product_img_url: '1024x1024' }}{% endif %}{% if template == 'article' %}{{ article | img_url: '1024x1024' }}{% endif %}{% endunless %}" title="{{ shop.name }}">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </span>
    <span>
      <a target="_blank" class="article-share email-share" href="mailto:?subject=Check+out+this+Saint+Hemp+article&body={{ permalinkURL }}" title="{{ shop.name }}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
      <a target="_blank" class="article-share mobile-share" href="{{ permalinkURL }}" title="{{ shop.name }}">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </a>
    </span>
  </div>
</div>
<script>
    jQuery('.mobile-share').on('click', function(e){
        e.preventDefault();
        var share = {
            title: jQuery(this).attr('title'),
            text: jQuery(this).attr('title'),
            url: jQuery(this).attr('href')
        };

        navigator.share( share );
    });
</script>