<div class="related-article-heading text-center">
  <h2>RELATED PRODUCTS</h2>
</div>
<div class="related-product-wrapper">

  {% for product in collections['all-product'].products  %}
    {% for tag in article.tags %}
        <!-- test {{ tag }} -->
      {% if product.tags contains tag %}
        <!-- contains {{ tag }} -->

        {% assign p_tag = false %}
        {% if product.available %}
          {% assign sold_out = false %}
        {% else %}
          {% assign sold_out = true %}
          {% assign p_tag = true %}
        {% endif %}

        {% if product.compare_at_price_min > product.price_min %}
          {% if sold_out %}
            {% assign on_sale = false %}
          {% else %}
            {% assign on_sale = true %}
            {% assign p_tag = true %}
          {% endif %}
        {% else %}
          {% assign on_sale = false %}
        {% endif %}

        <div class="related-product">
          {% if on_sale %}
            <div class="tag"><span>{{ 'products.product.on_sale_html' | t }}</span></div>
          {% endif %}
          {% if sold_out %}
            <div class="tag"><span>{{ 'products.product.sold_out_html' | t }}</span></div>
          {% endif %}

          <div class="image">
            <a href="{{ product.url }}" title="{{product.title | remove:'|'}}">
              <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{product.title | remove:'|'}}"/>
            </a>
          </div>
          <div class="title">
            <h3><a href="{{ product.url }}" title="{{product.title | remove:'|'}}">{{product.title | remove:'|'}}</a></h3>
          </div>
          <div class="price-wrapper">
            <p class="price">
              {% if on_sale == true %}
                {{ product.price | money }}
                <span class = "reduced-price"><s>{{ product.compare_at_price | money }}</s></span>
                {% elsif product.price_varies %}
                {{product.price_min | money }} - {{ product.price_max | money }}
              {% else %}
                {{ product.price | money }}
              {% endif %}
            </p>
          </div>
          <div class="overlay"><a href="{{ product.url }}" title="{{product.title | remove:'|'}}">VIEW PRODUCT</a></div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
<script>
jQuery( document ).ready(function() {
  setTimeout(function(){

      console.log(jQuery('.related-product').length);
      var items = jQuery('.related-product').length
      if( items < 1){
        jQuery('.article-related-products').hide();
      }else{
        jQuery('.related-product-wrapper').slick({
            infinite: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            dots: true,
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        arrows: false
                    }
                },
            ]
        });
        jQuery('.related-product-wrapper .slick-slide .related-product .title').matchHeight();
        jQuery(window).resize(function(){
            setTimeout(function(){
                j('.related-product-wrapper .slick-slide .related-product .title').matchHeight();
            }, 500);
        });
      }

  }, 500);

});
</script>
