<div class="related-article-heading text-center">
  <h2>RELATED ARTICLES</h2>
</div>
{% assign s_blog = 'news' %}
{% assign related_handle = article.handle %}
{% assign related_tags = article.tags %}
<div class="related-article-content-wrapper slide">
  {% for article in blogs[s_blog].articles %}
    {% for tag in related_tags %}
      {% if article.tags contains tag and article.handle != related_handle %}
        {% include 'blog-article' %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
<script>
    var j = jQuery;

    if(j('.related-article-content-wrapper .grid__item').length > 1){
        j('.related-article-content-wrapper .grid__item').addClass('slide-enable');
        j('.related-article-content-wrapper.slide').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            dots: true,
            responsive: [
                {
                    breakpoint: 769,
                    settings: {
                        arrows: false,
                        slidesToShow: 1
                    }
                },
            ]
        });
    } else if(j('.related-article-content-wrapper .grid__item').length < 1){
        j('.article-related-post-wrapper').hide();
    } else {
        j('.related-article-content-wrapper').addClass('related-post-' + j('.related-article-content-wrapper .grid__item').length);
    }
</script>