<div class="grid__item large--one-third medium-down--one-whole">
  <article class="blog-article">
    <div class="image">
      {% if article.image %}
        <a href="{{ article.url }}">
          <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}">
        </a>
      {% else %}
        <a href="{{ article.url }}">
          <img src="//placehold.it/562x400?text=Saint+Hemp" alt="{{article.title}}"/>
        </a>
      {% endif %}
    </div>
    <div class="content">
      <div class="text-content">
        <h2 class="title"><a href="{{article.url}}" title="{{article.title}}">{{article.title}}</a></h2>
        <div class="rte">
          {% if article.excerpt.size > 0 %}
            <p>{{ article.excerpt | strip_html | truncatewords: 12 }}</p>
          {% else %}
            <p>{{ article.excerpt_or_content | strip_html | truncatewords: 12 }}</p>
          {% endif %}
        </div>
      </div>
      <div class="footer">
        {% capture tag_class %}{% if article.tags.size > 1 %}two-tags{% endif %}{% endcapture %}
        {% if article.tags.size > 0 %}
          <div class="tag {{ tag_class }}">
            {% for tag in article.tags limit: 1 %}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
        <a href="{{article.url}}" class="more s-arrow-right"></a>
      </div>
    </div>
    <div class="overlay">
      <a href="{{ article.url }}">Read Article</a>
    </div>
  </article>
</div>
