{% capture contentForQuerystring %}{{ content_for_header }}{% endcapture %}
{% assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
  replace:'\/','/' |
  replace:'%20',' ' |
  replace:'\u0026','&'
%}
{% assign pageQuerystring = pageUrl | split:'?' | last %}
{% assign parts = pageQuerystring | split:'&' | first | strip_newlines %}

{% if parts contains 'f=' %}
  {% capture current_tag %}{{ parts | replace: 'f=', '' }}{% endcapture %}
  {% capture clean_tag %}{{ parts | replace: 'f=', '' | replace: '+',' ' }}{% endcapture %}
{% endif %}

{% assign s_blog = 'news' %}
{% assign paginator = 12 %}
<div id="shopify-section-collection-template">
  <div class="grid--full s-blog-wrapper">
    <div class="grid--full wrapper">
      <hr/>
      <div class="blog-filters">
        <script>
            function blogFilter($el){
                var newUrl = '{{ request.path }}/?f=' + $el.value;
                window.location.href = newUrl;
            }
        </script>
        <strong>Filter By : </strong>
        <select onchange="blogFilter(this)">
          <option value="all">All articles</option>
          {% for s_tag in blogs[s_blog].all_tags %}

            {% assign stringToFind = " " %}
            {% assign splitString = s_tag | split:stringToFind  %}
              <!--  {{s_tag}} {{ splitString.size }} -->

            {% if s_tag.size < 18 and splitString.size < 3 %}


              {% capture tag_encoded %}{{s_tag | url_encode }}{% endcapture %}
              <option value="{{ tag_encoded }}" {% if current_tag == tag_encoded %}selected="selected`"{% endif %}>{{s_tag}}</option>

            {% endif %}
          {% endfor %}
        </select>
      </div>

    </div>
    {% if current_tag and current_tag != 'all' %}
      <div class="grid--full wrapper blog-grid-wrapper">
        {% for article in blogs[s_blog].articles %}
          {% if article.tags contains clean_tag %}
            {% include 'blog-article' %}
          {% endif%}
        {% endfor %}
      </div>
    {% else %}
      {% paginate blogs[s_blog].articles by paginator %}
        <div class="grid--full wrapper blog-grid-wrapper">
          {% for article in blogs[s_blog].articles %}
            {% include 'blog-article' %}
          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          <div class="pagination">
            {% if paginate.previous.is_link %}
              <a class="s-button btn invert-on-hover-alt" href="{{ paginate.previous.url }}">Show previous articles</a>
            {% endif %}
            {% if paginate.next.is_link %}
              <a class="s-button btn invert-on-hover-alt" href="{{ paginate.next.url }}">View more articles</a>
            {% endif %}
          </div>
        {% endif %}
      {% endpaginate %}
    {% endif %}
  </div>
</div>
<script>
    jQuery('.blog-grid-wrapper .blog-article .text-content').matchHeight();
    setTimeout(function(){
        jQuery('.blog-grid-wrapper .blog-article .text-content').matchHeight();
    }, 500);
</script>
