<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<style>
#mce-HP {
    display: none;
}
</style>
<form autocomplete="off" action="https://sainthemp.us18.list-manage.com/subscribe/post-json?u=280ee849b8d6440d2e965d854&amp;id=5601f55bd1&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
    <input type="text"  autocomplete="hp"   placeholder="hp" name="hp" class="" id="mce-HP" >
    <div class="mc-field-group grid__item medium-down--one-half large--one-third no-padding">
      <input  type="text"  autocomplete="new-password"   placeholder="NAME *" name="FNAME" class="" id="mce-FNAME" required>
    </div>
    <div class="mc-field-group grid__item medium-down--one-half large--one-third text-right no-padding">
      <input  type="email" autocomplete="new-password" placeholder="EMAIL *"  name="EMAIL" class="required email" id="mce-EMAIL" required>
    </div>

    <div style="position: absolute; left: -15000px;" aria-hidden="true"><input type="text" name="b_280ee849b8d6440d2e965d854_5601f55bd1" tabindex="-1" value=""></div>
    <div class="grid__item large--one-third lg-button-wrap medium-down--one-whole no-padding text-right lg--center"><input type="submit" value="Sign me up" name="subscribe" id="mc-embedded-subscribe" class="button invert-on-hover"></div>
  </div>
</form>
<div id="mailchimp-success" class="animated" style="display:none"></div>
</div>

<!--End mc_embed_signup-->
<script>

$( document ).ready(function() {
     window.startDate = new Date();
});
jQuery("#mce-HP").attr('style','display:none;');
jQuery(document).on('submit', '#mc-embedded-subscribe-form', function(event) {
    window.endDate = new Date();
    var seconds = (window.endDate.getTime() - window.startDate.getTime()) / 1000;
    if( jQuery("#mce-HP").val() != "" || seconds <= 20 ){
      console.log('false');
      return false;
    }
    try {
      //define argument as the current form especially if you have more than one
      var $form = jQuery(this);
      // stop open of new tab
      event.preventDefault();
      // submit form via ajax
      register($form);
    } catch(error){
    console.log(error);
    }
  });

  function register($form) {
  jQuery.ajax({
    type: "GET",
    url: $form.attr('action'),
    data: $form.serialize(),
    cache       : false,
    dataType    : 'jsonp',
    contentType: "application/json; charset=utf-8",
    error       : function(err) {  },
    success     : function(data) {
      if (data.result != "success") {
      if(data.msg.indexOf('0') === 0) {
        data.msg = data.msg.slice(3)

        if(data.msg == ' Please enter a value'){
          $('#mailchimp-success').html('Please enter a valid email address');
       }else{
          $('#mailchimp-success').html(data.msg)
            //       console.log(msg+'ko')

       }


       }else{
         var msg = data.msg.replace('to list Saint Hemp.','')

         //msg = msg.replace('to list Saint Hemp ','')
         //console.log(msg+'wo')
         $('#mailchimp-success').html(msg).find('a').remove()
       }


      $('#mailchimp-success').show().addClass('fadeInUp')
      console.log(data)
      } else {
        //console.log('woo hoo');
        $('#mailchimp-success').html('Thanks for subscribing! We\'ll send you a confirmation email shortly.').css('display','block').addClass('fadeInUp')
      }
    }
  });
}
</script>
