<div class="social-sharing-wrapper">
  {% if settings.social_facebook_link != blank %}
  <a title="Facebook" class = "facebook" href = "{{settings.social_facebook_link }}" target="_blank"
  data-applink="fb://page/186178305466716">
    {% comment %} <span class="social-icon facebook"></span> {% endcomment %}
    <img src="{{'fb.svg' | file_url}}" width="32">
  </a>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
  <a title="Instagram" class = "instagram" href = "{{ settings.social_instagram_link }}" target="_blank"
  data-applink="instagram://user?username={{ settings.social_instagram_link | remove:'https://www.instagram.com/'}}">
    {% comment %} <span class="social-icon instagram"></span> {% endcomment %}
    <img src="{{'instagram.svg' | file_url}}" width="32">
  </a>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
  <a title="Youtube" class = "youtube" href = "{{ settings.social_youtube_link }}" target="_blank"
  data-applink="vnd.youtube://user/channel/{{ settings.social_youtube_link | remove:'https://www.youtube.com/channel/'}}">
    {% comment %} <span class="social-icon youtube"></span> {% endcomment %}
    <img src="{{'youtube.svg' | file_url}}" width="32">
  </a>
  {% endif %}
  {% if settings.social_medium_link != blank %}
  <a title="Medium" class = "medium" href = "{{ settings.social_medium_link }}" target="_blank">
    {% comment %} <span class="social-icon medium"></span> {% endcomment %}
    <img src="{{'medium.svg' | file_url}}" width="32">
  </a>
  {% endif %}
  {% if settings.social_reddit_link != blank %}
  <!-- <a title="Reddit" class = "reddit" href = "{{ settings.social_reddit_link }}" target="_blank">
    {% comment %} <span class="social-icon linkedin"></span> {% endcomment %}
    <img src="{{'reddit.svg' | file_url}}" width="32">
  </a> -->
  {% endif %}
  {% if settings.social_steemit_link != blank %}
<!--  <a title="Steemit" class = "steemit" href = "{{ settings.social_steemit_link }}" target="_blank">
    {% comment %} <span class="social-icon steemit"></span> {% endcomment %}
    <img src="{{'steamit.svg' | file_url}}" width="32">
  </a> -->
  {% endif %}
  {% if settings.social_twitter_link != blank %}
    <a title="Twitter" class = "twitter" href = "{{ settings.social_twitter_link }}" target="_blank">
      <span class="social-icon twitter"></span>

    </a>
  {% endif %}

  {% if settings.social_pinterest_link != blank %}
    <a title="Pinterest" class = "pinterest" href = "{{settings.social_pinterest_link }}" target="_blank">
      <i class = "custom-icon-pinterest-2"></i>
    </a>
  {% endif %}

  {% if settings.social_google_plus_link != blank %}
    <a title="Google Plus" class = "google-plus" href = "{{ settings.social_google_plus_link }}" target="_blank">
      <i class = "custom-icon-google-plus-2"></i>
    </a>
  {% endif %}


</div>
 <script>
$(document).ready(function(){
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) && $(window).width() <= 768){
      $('.social-sharing-wrapper a').on('click', function (event) {
        if($(this).data('applink')){
          event.preventDefault();
       window.location= $(this).data('applink')
        }

      })
    }

 })

 </script>
