{% unless shop.enabled_payment_types == empty %}
  <ul class="payment-icon-list grid-uniform">
    {% comment %} <li classs = "grid__item large--one-eighth">
      <img class="bitcoin" src="{{'bitcoin.png' | asset_url }}" width="50">
    </li> {% endcomment %}
    <li classs = "grid__item large--one-eighth">
      <img src="{{'visa-outline.svg' | asset_url }}" width="50">
    </li>
    <li classs = "grid__item large--one-eighth">
      <img src="{{'mastercard-outline.svg' | asset_url }}" width="50">
    </li>
    <li classs = "grid__item large--one-eighth">
      <img src="{{'amex.svg' | asset_url }}" width="50">
    </li>
    <li classs = "grid__item large--one-eighth">
      <img src="{{'paypal-outline.svg' | asset_url }}" width="50">
    </li>
    <li classs = "grid__item large--one-eighth">
      <img src="{{'apple_pay.svg' | asset_url }}" width="50">
    </li>
    <li classs = "grid__item large--one-eighth">
      <img src="{{'google_pay.svg' | asset_url }}" width="50">
    </li>
    <li classs = "grid__item large--one-eighth">
      <img src="{{'bitcoin.svg' | asset_url }}" width="50">
    </li>
    
    {%comment%}
    {% for type in shop.enabled_payment_types %}
    <li classs = "grid__item large--one-eighth">
      <span class="icon-fallback-text">
        <span class="icon icon-{{type}}" aria-hidden="true"></span>
        <span class="fallback-text">{{ type | replace: '_',' '}}</span>
      </span>
    </li>
    {% endfor %}
    {%endcomment%}
  </ul>
{% endunless %}