{% if template contains 'product' or template == 'index' or template == 'collection' %}
  <script src="https://cdn.shopify.com/s/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js" integrity="sha384-UTNk7rP66xrtGkHWaRc940UeXR6SfAUTNAOJxssoHwHpRTtCSWatZnV2x+ft3PL9" crossorigin="anonymous"></script>
{% endif %}

<script src="https://cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/handlebars.min.js?8463" integrity="sha384-pU+vVB8J6ILZU82mb1PEpg+UT0tCExqYISvTbQ8jAcdnKvHcIxgFRkn26ZUOXmDA" crossorigin="anonymous"></script>
{% include 'ajax-cart-template' %}
<script src="https://cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/ajax-cart.js?8463" integrity="sha384-uGckv7aWFz8ZjYREaGBjQ9Q9Ny3oeDu0ZkF+4VR5CYJJcAgq5pPu1FmPZzL+j3bC" crossorigin="anonymous"></script>
{% include 'currencies' %}

<script>
$(document).ready(function() {
  ajaxCart.init({
    formSelector: '#AddToCartForm',
    cartContainer: '#CartContainer',
    addToCartSelector: '#AddToCart',
    cartCountSelector: '.CartCount',
    cartCostSelector: '#CartCost',
    moneyFormat: {{ shop.money_format | json }}
  });

  window.monies = {{ shop.money_format | json }};
});

PaloAlto.initProductVariants = function(container, product, sectionId){
  var selectorClass = 'productSelect--'+sectionId;

  if($('#' + selectorClass).length > 0){
    new Shopify.OptionSelectors(selectorClass, {
      product: product,
      onVariantSelected: onVariantSelected
    });
    var selectorWrapper = $(container).find('.selector-wrapper');
    if(product.options.length == 1){
      $('<label>' + product.options[0] + '</label>').insertBefore(selectorWrapper);
    }
  }
  $(container).find($('.product-form')).css('visibility','visible');
  console.log(container);
  ajaxCart.init({
    formSelector: '#AddToCartForm--'+sectionId,
    cartContainer: '#CartContainer',
    addToCartSelector: '#AddToCart',
    cartCountSelector: '.CartCount',
    cartCostSelector: '#CartCost',
    moneyFormat: {{ shop.money_format | json }}
  });

  function onVariantSelected (variant, selector) {
  $(document).ready(function() {
    timber.productPage({
      money_format:  {{ shop.money_format | json }},
      variant: variant,
      selector: selector,
      container:container
    });
  });
};

};
</script>

{% comment %}
Much of the theme's Javascript is in the theme.js.liquid file, called below.
{% endcomment %}
<script src="https://cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/theme.js" integrity="sha384-ACUD8oJ5DirzNrd1u1Z89jWMtVLxR5sTdI1SZK6kZcM8ZB2ffuIhUiZFZPocAAth" crossorigin="anonymous"></script>
<script src="https://cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/jquery.zoom.min.js" integrity="sha384-EeOf8v/Jh3rqjCmTJTb0iX4HBUzuIgi++DUOReOvjDdonsZreW3JKI9wrrycC9Ub" crossorigin="anonymous"></script>

<script>
{% if newHash %}
  $(function() {
    timber.updateHash('{{ newHash }}');
  });
{% endif %}
{% if resetPassword %}
  $(function() {
    timber.resetPasswordSuccess();
  });
{% endif %}
</script>
