<!-- /snippets/nav-drawer.liquid -->

<div id="NavDrawer" class="drawer drawer--left" role ="navigation">
  <div class="drawer__header">
    {% comment %} <div class="add-icons">
    <a href="/account/login"><img src="{{'user-icon.svg' | asset_url }}" width="25"> </a>
    <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
      {% if cart.item_count > 0%}
        <span class="cart-text">
        <span class = "inline-parenthesis">(</span><span class = "CartCount">{{ cart.item_count }}</span><span class = "inline-parenthesis">)
        </span>
        </span>
      {%endif%}

      <img src="{{'shopping-cart-icon.svg' | asset_url }}" width="25">

    </a>
    </div> {% endcomment %}
    <div class="drawer__close js-drawer-close" style="visibility:hidden">
      <button type="button" class="icon-fallback-text">
        <span class="custom-icon-x" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <!-- Mobile Navigation -->
  <ul class="mobile-nav">
    <li class = "mobile-nav__item">
      {% if settings.show_multiple_currencies %}
        {% include 'currency-picker' %}
      {% endif %}
    </li>
    {% for link in linklists[section.settings.main-menu].links %} 
      {% if link.links != blank %}
        <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
          <div class="mobile-nav__has-sublist">
            <a  href="{{ link.url }}" class="mobile-nav__link"><h3 class="animated fadeInRight">{{ link.title | escape }}</h3></a>
            <div class="mobile-nav__toggle">
              <button type="button" class="icon-fallback-text mobile-nav__toggle-open" aria-controls="menu-toggle">
                <span class="icon icon-plus" aria-hidden="true"></span>
                <span class="fallback-text">See More</span>
              </button>
            </div>
          </div>
          <ul class="mobile-nav__sublist" aria-expanded="false">
            {% for sub_link in link.links %}
              {% if sub_link.levels == 1 %}
              <div class = "mobile-nav__has-sublist">
              {% endif %}
              <li class="mobile-nav__item {% if sub_link.active %} mobile-nav__item--active{% endif %} {% if sub_link.levels == 1 %}has-sublist{% endif %}" {% if sub_link.levels == 1 %}aria-haspopup="true"{% endif %}>
                <a href="{{ sub_link.url }}" class="mobile-nav__link" title="{{ sub_link.title | escape }}"><h5>{{ sub_link.title | escape }} </h5></a>
                {% if sub_link.levels == 1 %}
                  <div class="mobile-nav__toggle">
                    <button type="button" class="icon-fallback-text mobile-nav__toggle-open" aria-controls="submenu-toggle">
                      <span class="icon icon-plus" aria-hidden="true"></span>
                      <span class="fallback-text">See More</span>
                    </button>
                  </div>
                {% endif %}
                
              </li>
              {% if sub_link.levels == 1 %}
                <div class = "mobile-nav__subsublist" aria-expanded="false">
                {% for sub_sub_link in sub_link.links %}
                  <li class="mobile-nav__item {% if sub_sub_link.active %} mobile-nav__item--active{% endif %}">
                    <a href="{{ sub_sub_link.url }}" class="mobile-nav__link" title="{{ sub_sub_link.title | escape }}"><h5>{{ sub_sub_link.title | escape }}</h5></a>
                  </li>
                {% endfor %}
                </div>
              {% endif %}
              {% if sub_link.levels == 2 %}
                  </div>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
          <a href="{{ link.url }}" class="mobile-nav__link" title="{{ link.title | escape }}"><h3 data-index="{{forloop.index}}" style="animation-duration: {{forloop.index | times: 0.40}}s;" class="animated fadeInDown">{{ link.title }}</h3></a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>