<!-- snippets/onboarding-empty-collection.liquid -->

{% include 'grid-logic' %}

<div class="grid__item">
    <div class="grid-uniform helper-content fake-collection">
      {% assign index = 1 %}
      {% for i in (1..8) %}
        {% case i %}
          {% when 7 %}
            {% assign index = 1 %}
          {% when 8 %}
            {% assign index = 2 %}
        {% endcase %}
        <div class="grid__item small--one-whole medium--one-half large--one-quarter helper-product">
          <a href="#!" class="grid__image">
            {{ 'product-' | append: index | placeholder_svg_tag: 'placeholder-svg' }}
          </a>
            <!-- Title -->
            <h3><a href="#!">{{ 'homepage.onboarding.product_title' | t }}</a></h3>
            
            <!-- Price -->
            <p class = "price">$19.99</p>

            <!-- Button -->
            {% if settings.show_product_grid_buttons %}
              <a class = "btn" href="#!">{{ 'products.product.view_item' | t }}</a>
            {% endif %}

        </div>
        {% assign index = index | plus: 1 %}
      {% endfor %}
    </div>
</div>