<!-- /snippets/product-form.liquid -->

{% assign variants_count = 0 %}
{% for variant in product.variants %}
    {% assign variants_count = variants_count | plus: 1 %}
{% endfor %}

{% comment %}
Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}

{% comment %}
Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}

{% comment %}
#addToCartForm is a selector for the Ajax Cart plugin
AddToCartForm--{{section.id}} changed to AddToCartForm as section.id doesn't return value
{% endcomment %}

{% form 'product', product, data-productid: product.id, class:"product-form", id:"AddToCartForm" %}
    {% comment %} id
    Show product title only as Featured product
    {% endcomment %}
    {% if template == 'index' %}
        <h1 class="featured-product-title">
            <a href="{{ product.url  }}">{{ product.title | truncate: 50 }}</a>
        </h1>
    {% endif %}


    {% comment %}
    Prices
    {% endcomment %}

    <div class="product-description rte" >

    {% assign my_description = product.description | split: '<!-- split -->'  %}

    <p> {{ my_description[0] }} <!-- <a href="/pages/hemp-recipes" style="text-decoration:none">Check out our recipes <u>here</u>.</a> -->
</p>
    </div>
    {% comment %}
    Variants
    {% endcomment %}
    <div class="grid__item large--one-half alpha">
    <div class="variants-wrapper">
        {% if variants_count > 1 %}
            <select name="id" data-productid="{{product.id }}" data-productid="{{ product.id }}" id="productSelect--{{ section.id }}"
                    class="product-single__variants">
                {% for variant in product.variants %}
                    {% if variant.available %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}
                            - {{ variant.price | money_with_currency }}</option>
                    {% else %}
                        <option disabled="disabled">
                            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        {% else %}
            <input name="id" data-productid="{{product.id }}" data-productid="{{ product.id }}" type="hidden" value="{{ current_variant.id }}">
        {% endif %}

        {% comment %}
        Quantity Selector
        {% endcomment %}
        <div class="qtydiv pull-left">
              <span class="variant">SIZE : {{product.first_available_variant.title}}</span>

        </div>
        <div class="qtydiv input pull-right">
            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }} : </label>
            {% comment %} <input type="text" id="Quantity1" name="quantity" value="1" min="1"
                   class="quantity-selector quantity-input"> {% endcomment %}
            <select name="quantity" class="quantity-selector quantity-input">
                {% for i in (1..10) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor%}
            </select>
        </div>
    </div>
    {% comment %}
    Buttons
    {% endcomment %}
    <div class="desktop-only">
    {% if sold_out == true %}
        <a class="btn disabled">
            <span>{{ 'products.product.sold_out' | t }}</span>
        </a>
    {% else %}

        <button type="submit" name="add" id="AddToCart" class="btn invert-on-hover-alt {% if section.settings.enable_payment_button %}smart-btn{% endif %}">
            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </button>
        <p class="msg" style="opacity: 0">Item added successfully. <a href="/cart" class="cart-msg" style="color:#000;text-decoration:underline">View Cart </a></p>

    {% endif %}
    </div>
        {% if section.settings.enable_payment_button %}
            {{ form | payment_button }}
        {% endif %}

    </div>
    <div class="grid__item large--one-half beta">
     {% if product.available %}{% include 'subscription-product' %}{% endif %}
      <div class="mobile-only">
          {% if sold_out == true %}
              <a class="btn disabled">
                  <span>{{ 'products.product.sold_out' | t }}</span>
              </a>
          {% else %}

              <button type="submit" name="add" id="AddToCart" class="btn invert-on-hover-alt {% if section.settings.enable_payment_button %}smart-btn{% endif %}">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
              <p class="msg" style="opacity: 0">Item added successfully. <a href="/cart" class="cart-msg" style="color:#000;text-decoration:underline">View Cart </a></p>

          {% endif %}
   	  </div>

    </div>
    {% endform %}

    <div class="grid__item large--one-whole product-tabs-wrapper">
        <div id="tabs-container" class="product-tabs">
        {% include 'product-tabs' %}
        </div>
    </div>


    {% comment %}
    Social Icons
    {% endcomment %}
    <div class="featured-product-social-wrapper">
        {% if section.settings.enable_social_sharing_products %}
            {% include 'social-sharing' %}
        {% endif %}
    </div>
