<!-- /snippets/product-grid-item-suggested.liquid -->
{% include 'grid-logic' %}
{% assign tag = false %}
{% if  my_product.available %}
  {% assign sold_out = false %}
{% else %}
  {% assign sold_out = true %}
  {% assign tag = true %}
{% endif %}


{% if  my_product.compare_at_price_min >  my_product.price_min %}
  {% if sold_out %}
    {% assign on_sale = false %}
  {% else %}
    {% assign on_sale = true %}
    {% assign tag = true %}
  {% endif %}
{% else %}
  {% assign on_sale = false %}
{% endif %}
{% if related %}
<div class="grid__item text-center small--one-half medium--two-quarters large--one-third  {% if tag == true %}has-tag{% endif %} product-item-parent">

{% else %}
  <div class="grid__item text-center small--one-half medium--two-quarters large--one-third {% if tag == true %}has-tag{% endif %} product-item-parent suggested-item">

{%endif%}
  <!-- Image -->
  {% if settings.enable_quick_buy %}
    <div class="grid__image" >
  {% else %}
  {% endif %}
    <!-- Tags -->
    {% if on_sale %}
      <div class="tag"><span>{{ 'products.my_product.on_sale_html' | t }}</span></div>
    {% endif %}
    {% if sold_out %}
      <div class="tag"><span>{{ 'products.my_product.sold_out_html' | t }}</span></div>
    {% endif %}
     {%- assign image =  my_product.featured_image -%}
        {%- assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' -%}

    <div class="grid__image">
      <a title="{{ my_product.title | remove:'|'}}" href="{{  my_product.url  }}" class="wrap">
      {% unless related %}
        <img src="{{ image | img_url: 'master' }}" >
        {%else%}
         <img src="{{ image | img_url: 'master' }}"  >
      {% endunless %}

    </a>
    <div class="product-overlay-grid">
      <a title="{{ my_product.title | remove:'|'}}" class="btn" href="{{  my_product.url  }}">View Product</a>
    </div>
    </div>

  <!-- Title -->
  <h3>

  {% assign title =  my_product.title | split: ' | ' %}
  <a title="{{ my_product.title | remove:'|'}}" href="{{  my_product.url  }}">
  <span class="desktop-only">
   <span style="display:block">{{title[0]}}</span> <span style="display:block">{{title[1]}}</span>
  </span>
  <span class="mobile-only">
    {{ my_product.title | remove:'|'}}
  </span>
  </a>
  <span class="variant">{{ my_product.first_available_variant.title}}</span>
  </h3>
  <a title="{{ my_product.title | remove:'|'}}" href="{{  my_product.url }}">
    <!-- Price -->
    <p class="price">
      {% if on_sale == true %}
         {{  my_product.price | money }}
        <span class = "reduced-price"><s>{{  my_product.compare_at_price | money }}</s></span>
      {% elsif  my_product.price_varies %}
        {{ my_product.price_min | money }} - {{  my_product.price_max | money }}
      {% else %}
        {{  my_product.price | money }}
      {% endif %}
    </p>
  </a>
  {% if settings.show_product_grid_buttons %}
<!--   <a class="btn" href="{{  my_product.url  }}">{{ 'products.my_product.view_item' | t }}</a> -->
  {% endif %}

</div>
