 {% assign product_id  = product.id  %}
 {% assign recipe_tags  = blogs.recipes.tags | join: ','  %}
 {% assign my_description = product.description | split: '<!-- split -->'  %}


  {% assign recipes = blogs.recipes.articles %}
       <ul id="accordion" style="margin: 0">

       {% if  my_description[1] %}
        <li>
            <a href="#" class="parent">Ingredientss {{product.name}}</a>
            <div class="content">
                {{my_description[1]}}
            </div>
        </li>
       {% endif %}
       {% if  my_description[2] %}
        <li>
            <a id="nutrition" href="#" class="parent">nutritional facts</a>
            <div class="content" >
                {{my_description[2]}}
            </div>
        </li>
       {% endif %}

       {% if  my_description[3] %}
        <li>
            <a id="nutrition" href="#" class="parent">Allergens</a>
            <div class="content" >
                {{my_description[3]}}
            </div>
        </li>
       {% endif %}

      <!--
        <li class="no-action" style="border-top:4px solid #eee">
            <a href="#" class="parent" rel="test">Customer Reviews</a>
            <div class="content" style="display:block">
                <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
            </div>
        </li>
        -->
        <!--
        <li class="no-action">
        <a href="#" class="parent" rel="test">Customer Reviews</a>
        <div id="stamped-main-widget"
              data-widget-style="standard"
              data-product-id="{{ product.id }}"
              data-name="{{ product.title | escape }}"
              data-url="{{ shop.url }}{{ product.url }}"
              data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
              data-description="{{ product.description | escape }}"
              data-product-sku="{{product.handle}}">
              {{ product.metafields.stamped.reviews }}
              </div>
        </li>
        -->


        <!--               food bundle                samples                               protein bundle-->
        {% if  product_id == 1519006154807 or product_id == 1698436710455 or product_id == 1575428751415 %}
        <li class="no-action" style="border-top:4px solid #eee; padding-left:0px;">
            <a id="recipes" href="#" class="parent">RECIPES</a>

            <!-- recipe box start -->

            <div class="r-container" id="res-prod-conta">
            {% for article in blogs.hemp-recipes.articles %}
                  {% if  product_id == 1519006154807  %}
                  <div>
                    {% include 'blog-article' %}
                  </div>
                  {% endif %}

                  {% if product_id == 1575428751415 %}
                       {% if article.tags contains 'Protein Powder Recipes' %}
                       <div>
                         {% include 'blog-article' %}
                       </div>
                       {% endif %}
                  {% endif %}

                  {% if product_id == 1698436710455 %}
                      {% if article.title contains 'Oil' %}
                      {% else %}
                      <div>
                        {% include 'blog-article' %}
                      </div>
                      {% endif %}
                  {% endif %}


            {% endfor %}
            </div>
            <script>
            console.log('clieck');
              jQuery('.r-container').slick({
                  infinite: true,
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  dots: true,
                  enterMode: true,
                  responsive: [
                      {
                        breakpoint: 520,
                        settings: {
                          slidesToShow: 2,
                          slidesToScroll: 2,
                          dots:false,
                          arrows:true,
                          infinite: true,
                        }
                      }
                    ]
              });
              $(function() {
              	$('.content').matchHeight();
                $('#res-prod-conta article .overlay a').text('VIEW RECIPE');
                setTimeout(function () {
                  //  $('#res-prod-conta').attr('style','width: 110%;');
                }, 700);


              });


            </script>
            <style>
            #res-prod-conta{
              margin-left: -34px;
            }

            #res-prod-conta article .overlay a{
              color:white;
              width: 90%;
              padding-left: 10px;
              padding-right: 10px;
              font-size: small;
            }
            #res-prod-conta article .overlay a:hover{
              text-decoration: underline;
              color:black;
            }
            #res-prod-conta article div.content div.text-content h2.title{
              font-size: 14px!important;
              letter-spacing: 3px!important;
              line-height: 17px!important;
            }
            #res-prod-conta article div.content div.text-content h2.title:hover{
              text-decoration: underline;
            }
            .r-container .blog-article div.image a img {
                width: 100%!important;
                max-width: none!important;
            }
            #res-prod-conta article div.content{
                display: block!important;
            }
            #res-prod-conta article div.content div.text-content div.rte{
                display: none;
            }
            #res-prod-conta article div.footer div.tag a{
              color:white;
              font-size: 4px;
            }
            #res-prod-conta article div.footer{
                display:none!important;
            }
            #res-prod-conta article div.footer > a{
              display:none!important;
            }
            #res-prod-conta .slick-arrow{
              text-indent: -9999px;
              border-top: 2px solid #000;
              border-left: 2px solid #000;
              width: 25px;
              height: 25px;
              transform: rotate(-45deg);
              top: 45%;
              position: absolute;
              left: -12px;
            }
            #res-prod-conta .slick-arrow.slick-next {
                left: auto;
                right: -30px;
                border-left: 0;
                border-right: 2px solid #000;
                transform: rotate(45deg);
            }
            #res-prod-conta .slick-dots li {
                background-color: transparent;
                border: 1px solid #000;
                width: 10px;
                height: 10px;
            }
             .slick-dots {
                top: -1vw!important;

            }

            #res-prod-conta .slick-dots li.slick-active {
                background-color: #000;
            }
            #res-prod-conta article.blog-article .content .text-content {
               margin-bottom: 0px;
            }
            #res-prod-conta .slick-list {
              box-sizing: initial;
              padding: 5px 0px;
            }
            #res-prod-conta .grid__item{
          /*  padding-left: 0px; */
            }

            .grid__item.large--one-third.medium-down--one-whole{
            width:94%
            }

            @media all and (max-width: 520px) {
              #res-prod-conta article :hover{
                text-decoration: underline;
              }
              #res-prod-conta .slick-arrow{
                top: 90%;
                left:5%;
                z-index: 1;
                width: 15px;
                height: 15px;
              }
              #res-prod-conta .slick-arrow.slick-next {
                  right: 5%;
              }
              #res-prod-conta article div.content div.text-content h2.title{
                font-size: 10px!important;
                font-weight: bolder;
              }
              #res-prod-conta .grid__item {
                  padding-left: 5px;
              }
              #res-prod-conta {
              /*margin-left: -19px;*/
              width: 100%;
              margin: auto;
              }
            }
            </style>


            <!-- recipe box end -->

        </li>
       {% endif %}


        <li class="no-action">
        <a href="#" class="parent" rel="test">Customer Reviews</a>
        <div id="looxReviews" data-product-id="{{product.id}}"

        data-widget-style="standard"
        data-name="{{ product.title | escape }}"
        data-url="{{ shop.url }}{{ product.url }}"
        data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
        data-description="{{ product.description | escape }}"
        data-product-sku="{{product.handle}}"

        >{{ product.metafields.loox.reviews }}</div>
        </li>

     </ul>
     {% if product.metafields.loox.num_reviews %}
     <div itemscope tiemtype="http://schema.org/Product">
     <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
     <meta itemprop="ratingValue" content="{{ product.metafields.loox.avg_rating }}"/>
     <meta itemprop="ratingCount" content="{{ product.metafields.loox.num_reviews }}"/>


     </div>
     </div>
     {% endif %}

     {% comment %}
 {% if recipe_tags == product_id or recipe_tags contains product_id %}

    <div class="carousel-wrapper recipes">
        <a href="#" class="parent show-recipe open">RECIPES</a>
            <div class="recipe-content" style="opacity:0">
                <div class="carousel recipe">
                    {% for recipe in recipes %}


                        {% assign recipe_tag = recipe.tags | join: ',' %}
                        {% if recipe_tag contains product.id %}
                            <div class="card {{recipe.title | handleize}}" style="background:url('{{ recipe.image  | img_url: 'master' }}') no-repeat;background-size:contain">
                                <div class="recipe_title" data-accent-color="{{accent_color}}">
                                    <a href="#" class="h3 "> {{recipe.title}}</a>
                                    <a href="#recipe_{{forloop.index}}" class="h3 hover show-recipe-btn"> Make</a>
                                </div>

                            </div>
                            <div id="recipe_{{forloop.index}}" class="reveal_content">
                                <a data-parent="{{recipe.title | handleize}}" href="#" id="close-recipe">x</a>
                                {{recipe.content}}
                            </div>
                        {%endif%}
                    {% endfor %}
                </div>
            </div>
        </div>
        {%endif%}
        {%endcomment%}
<script>



$(document).ready(function() {


        setTimeout(function(){
        /*
            $('.spr-reviews').slick({
        dots: true,
        autoplay: false,
        slidesToShow: 1,
        nextArrow: '<button class=next-arrow><img src={{'arrow-right.svg' | asset_url }}"></button>"',
        prevArrow: '<button class=prev-arrow><img src={{'arrow-left.svg' | asset_url }}></button>'
        });
        $('.spr-reviews').css('opacity','1');

        */
        },5000)

    $('#accordion li:not(.no-action) a.parent').on('click',function(e)    {
        e.preventDefault()
        $(this).toggleClass('open')
        $(this).next().slideToggle()
        $('.recipe-content').hide()
        $('#accordion li:not(.no-action) > div').not($(this).next()).slideUp()
        $('#accordion a').not($(this)).removeClass('open')
        $('a.show-recipe').removeClass('open')


        //create review slider onclick to remove FOUC issue

    })
    $('a.show-recipe').on('click',function(e){
        e.preventDefault()
        $(this).toggleClass('open')

        $('#accordion li > div').slideUp()
        $('#accordion a').removeClass('open')

        $(this).next().slideToggle()

    })
   /* $('.carousel').slick({
        dots: true,
        autoplay: false,
        slidesToShow: 1,
        slide: '.card',
        infinite: true,
        nextArrow: '<button class=next-arrow><img src={{'arrow-right.svg' | asset_url }}"></button>"',
        prevArrow: '<button class=prev-arrow><img src={{'arrow-left.svg' | asset_url }}></button>'
    })

    $('a.show-recipe-btn').on('click',function(e){
        e.preventDefault();
        var target = $(this).attr('href')
        $(this).parents('.card').addClass('animated fadeOutRight').removeClass('fadeInRight')
        $(target).addClass('animated fadeInRight').removeClass('fadeOutRight')

        //hide the slider controls when recipe is shown
        $('.carousel.recipe .slick-arrow, .carousel.recipe .slick-dots').css('visibility','hidden')

    });
    $('a#close-recipe').click(function(e){
        e.preventDefault();

        $(this).parents('.reveal_content').removeClass('fadeInRight').addClass('fadeOutRight')
        var recipeTitle = $(this).attr('data-parent')
        $('.card.'+recipeTitle+'').removeClass('fadeOutRight').addClass('fadeInRight')

        //show the slider controls when recipe is shown
        $('.carousel.recipe .slick-arrow, .carousel.recipe .slick-dots').css('visibility','')

    })
    */
    // Fix for FOUC Issue in Recipe Slider
    //setTimeout(function(){ $('a.show-recipe').next().css('opacity','1') },800)

})
</script>
 {%comment%}
 <style>
    {% for recipe in recipes %}

        {% for tag in recipe.tags %}
            {% if tag contains '#' %}
                {% assign accent_color = tag %}
            {% endif%}
        {% endfor %}

        .card.{{recipe.title | handleize}} .recipe_title:after,
        .card.{{recipe.title | handleize}} .recipe_title:before{
            background: {{accent_color}}
        }
        .card.{{recipe.title | handleize}} .recipe_title a.h3{
        color: {{accent_color}};
        border-color: {{accent_color}};
        }

        .card.{{recipe.title | handleize}} a#close-recipe{
        color: {{accent_color}};
        }
        .card.{{recipe.title | handleize}} .recipe_title a.h3.hover{
        background: {{accent_color}};
        border-color: {{accent_color}};
        color: #000;
        }
    {%endfor%}
 {% endcomment %}

 </style>
{% comment %} <ul class="tabs">

    {% if  pages[section.settings.product_tab_page_one].title != "" %}
            <li><a href="#tab-1">{{ pages[section.settings.product_tab_page_one].title }}</a></li>
    {% endif %}

    {% if  pages[section.settings.product_tab_page_two].title != "" %}
            <li><a href="#tab-2">{{ pages[section.settings.product_tab_page_two].title }}</a></li>
    {% endif %}


    {% if  pages[section.settings.product_tab_page_three].title != "" %}
        <li><a href="#tab-3">{{ pages[section.settings.product_tab_page_three].title }}</a></li>
    {% endif %}

</ul>

{% if pages[section.settings.product_tab_page_one].title %}
    <div id="tab-1" class="p-tab">
        <div class="product-description rte">
            {{ pages[section.settings.product_tab_page_one].content }}
        </div>
    </div>
{% endif %}

{% if pages[section.settings.product_tab_page_two].title %}
    <div id="tab-2" class="p-tab">
        <div class="product-description rte">
            {{ pages[section.settings.product_tab_page_two].content }}
        </div>
    </div>
{% endif %}

{% if pages[section.settings.product_tab_page_three].title %}
    <div id="tab-3" class="p-tab">

        <div class="product-description rte">
            {{ pages[section.settings.product_tab_page_three].content }}
        </div>
    </div>
{% endif %} {% endcomment %}
