<!-- related products -->
{% if section.settings.show_related_products == true %}
    {% assign products_limit = 2 %}
    {% assign current_product = product %}
    <div class="grid--full wrapper related-products text-center" style="padding: 0">
      <h4 class="full-width">{{ section.settings.related_products_section_title }}</h4>
    {% for my_collection in collections %}
      <!-- {{ my_collection.handle }} -->
      {% if my_collection.handle == "hemp-food" %}
      <!-- collection hemp -->

    {% for my_product in my_collection.products %}
            <!-- collection loop  -->
          {% if my_product.title == "Chocolate Hemp Protein Powder" %}
            {% assign default_one = my_product %}
          {% endif %}
          {% if my_product.title == "Vanilla Hemp Protein Powder" %}
              {% assign default_two = my_product %}
          {% endif %}

            {% case current_product.title %}

            {% when "Vanilla Hemp Protein Powder" %}

                {% if my_product.title == "Hemp Protein Bundle" %}
                  {% assign product_one = my_product %}
                {% endif %}
                {% if my_product.title == "Hemp Food Bundle" %}
                  {% assign product_two = my_product %}
                {% endif %}

            {% when "Chocolate Hemp Protein Powder" %}

                {% if my_product.title == "Hemp Protein Bundle" %}
                    {% assign product_one = my_product %}
                {% endif %}
                {% if my_product.title == "Hemp Food Bundle" %}
                  {% assign product_two = my_product %}
                {% endif %}

            {% when "Australian Hemp Seed Oil" %}


                {% if my_product.title == "Hemp Food Bundle" %}
                    {% assign product_one = my_product %}
                {% endif %}
                {% if my_product.title == "Australian Hemp Seeds" %}
                  {% assign product_two = my_product %}
                {% endif %}

            {% when "Australian Hemp Seeds" %}

                {% if my_product.title == "Hemp Food Bundle" %}
                    {% assign product_one = my_product %}
                {% endif %}
                {% if my_product.title == "Australian Hemp Seed Oil" %}
                  {% assign product_two = my_product %}
                {% endif %}

            {% when "Stainless Steel Protein Shaker Bottle" %}

                {% if my_product.title == "Hemp Protein Bundle" %}
                    {% assign product_one = my_product %}
                {% endif %}
                {% if my_product.title == "Hemp Food Bundle" %}
                  {% assign product_two = my_product %}
                {% endif %}

            {% when "Hemp Food Bundle" %}

                {% if my_product.title == "Hemp Protein Bundle" %}
                  {% assign product_one = my_product %}
                {% endif %}
                {% if my_product.title == "Australian Hemp Seed Oil" %}
                  {% assign product_two = my_product %}
                {% endif %}

            {% when "Hemp Protein Bundle" %}

                {% if my_product.title == "Hemp Food Bundle" %}
                  {% assign product_one = my_product %}
                {% endif %}
                {% if my_product.title == "Stainless Steel Protein Shaker Bottle" %}
                  {% assign product_two = my_product %}
                {% endif %}

            {% when "Hemp Food Samples" %}

                {% if my_product.title == "Hemp Protein Bundle" %}
                  {% assign product_one = my_product %}
                {% endif %}
                {% if my_product.title == "Hemp Food Bundle" %}
                  {% assign product_two = my_product %}
                {% endif %}

            {% else %}

            {% assign product_one = my_collection.products[0] %}
            {% assign product_two = my_collection.products[1] %}

            {% endcase %}
    {% endfor %}
    {%endif%}
  {% endfor %}



    {% if product_one %}
      {% assign my_product = product_one %}
      {% include 'product-grid-item-suggested' %}
    {% else %}
      {% assign my_product = default_one %}
      {% include 'product-grid-item-suggested' %}
    {%endif%}

    {% if product_two %}
      {% assign my_product = product_two %}
      {% include 'product-grid-item-suggested' %}
    {% else %}
      {% assign my_product = default_two %}
      {% include 'product-grid-item-suggested' %}
    {%endif%}



    </div>
{% endif %}
