<!-- /snippets/site-nav.liquid -->

<div class="grid__item hide large--three-quarters large--text-right medium-down--hide" role = "navigation">
  <ul class="site-nav" id="AccessibleNav">

    <li class="site-nav__item site-nav--compress__menu">
      <button type="button" class="icon-fallback-text site-nav__link site-nav__link--icon js-drawer-open-left" aria-controls="NavDrawer">
        <span class="icon custom-icon-hamburger" aria-hidden="true"></span>
      </button>
    </li> 

{% for link in linklists[section.settings.main-menu].links %} 
      {% if link.links != blank %}
        <li class="site-nav__item site-nav__expanded-item site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true" aria-controls="submenu-toggle">
          <div class = "drawer-nav__has-sublist">
            <a href="{{ link.url }}" class="site-nav__link">
              {{ link.title | escape }}
            </a>
          </div>
          <button class = "drawer-nav__toggle"><span class="custom-icon-down-arrow" aria-hidden="true"></span></button>
          <ul class="site-nav__dropdown {% if link.levels == 2 %}site-nav__dropdown__large{% endif %}" data-levels="{{link.levels}}" aria-expanded="false">
          
            {% for sub_link in link.links %} 

              {% if sub_link.levels == 1 %}
              <div class="dropdowns--wrapper">
              {% endif %}
              <li class="{% if sub_link.active %}site-nav--active {% endif %} {% if sub_link.levels == 1 %}has-sub-links{% else %} no-sub-links {% endif %}" {% if sub_link.levels == 1 %} aria-haspopup="true" {% endif %} aria-controls="submenu-toggle">
                <a href="{{ sub_link.url }}" class="site-nav__link">{{ sub_link.title | escape }}</a>
                {% if sub_link.levels == 1 %}
                  <button class = "sub-drawer-nav__toggle"><span class="custom-icon-down-arrow" aria-hidden="true"></span></button>
                {% endif %}
              </li>
            {% if sub_link.levels == 1 %}
              <div class = "sub-sub-links" aria-expanded="false">
                {% for sub_sub_link in sub_link.links %}
                    <a  class="site-nav__link" href= "{{sub_sub_link.url}}">{{ sub_sub_link.title | escape }}</a>
                {% endfor %}
              </div>
            {% endif %}
            {% if sub_link.levels == 1 %}
              </div>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="site-nav__item site-nav__expanded-item{% unless template == 'index' %}{% if link.active %} site-nav--active{% endif %}{% endunless%}">
          <a href="{{ link.url }}" class="site-nav__link">{{ link.title | escape }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="site-nav__item">
      <a href="/cart" class="site-header__cart-toggle {% unless template == 'cart' %}js-drawer-open-right{% endunless %}" aria-controls="CartDrawer" aria-expanded="false">
        {{ 'layout.cart.title' | t }}
        <span class="custom-icon-cart" aria-hidden="true"></span>
        <span id="CartCount" class = "CartCount">{{ cart.item_count }}</span>
      </a>
    </li>
    <li class="site-nav__item">
        {% if settings.show_multiple_currencies %}
          {% include 'currency-picker' %}
        {% endif %}
    </li>
  </ul>
</div>

<div class="grid__item   one-half nav-controls-wrapper">
  <div class="text-right mobile-toggle-menu">
    <a href="/account" title="Account" class="account-icon"><img src="{{'user-icon.svg' | asset_url }}" width="25"> </a>
    <a href="/cart" title="View Cart" class="site-header__cart-toggle " aria-controls="CartDrawer" aria-expanded="false">
        <span class="cart-text       {% unless cart.item_count > 0%} hide {%endunless%}">
        <span class = "inline-parenthesis">(</span><span class = "CartCount">{{ cart.item_count }}</span><span class = "inline-parenthesis">)
        </span>
        </span>
      <img src="{{'shopping-cart-icon.svg' | asset_url }}" width="25">
    </a>
    <button class="hamburger hamburger--slider nav-controls icon-fallback-text js-drawer-open-left" type="button">
    <span class="hamburger-box">
    <span class="hamburger-inner"></span>
    </span>
    </button>

    {% comment %}
    <button type="button" class="nav-controls icon-fallback-text js-drawer-open-left" aria-controls="NavDrawer">
      <span class="icon custom-icon-hamburger" aria-hidden="true"></span>
      <span class="custom-icon-x" aria-hidden="true"></span>
    </button> <button type="button" class="icon-fallback-text drawer__close js-drawer-close dummy">
    </button> {% endcomment %}
     {% if settings.show_multiple_currencies %}
      {% include 'currency-picker' %}
    {% endif %}
  </div>
</div>
 