<!-- /snippets/site-logo.liquid -->

<div class="grid__item large--one-half medium-down--one-half">
  <h2 class="site-header__logo large--left">

    {% if template == 'index' %}
      {% if section.settings.logo != blank %}
          <a href="/"  class="site-header__logo-link">
            {%- assign image = section.settings.logo -%}
            {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
            {% include 'theme-rias' %}
            <img
               class="lazyload"
               alt="{{ shop.name }}"

               data-src="{{ image_url_pattern }}"
               data-widths= "[{{ image_widths }}]"
               data-aspectratio="{{image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ image.alt | escape }}">
            <noscript>
              <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
            </noscript>
          </a>
      {% endif %}
    {% else %}
       {% if section.settings.logo_not_home != blank %}
            {%- assign image = section.settings.logo_not_home -%}
            {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
            {% include 'theme-rias' %}
     <a href="/"  class="site-header__logo-link">
            <img
               class="lazyload"
               data-src="{{ image_url_pattern }}"
               data-widths= "[{{ image_widths }}]"
               data-aspectratio="{{image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ image.alt | escape }}">
            <noscript>
              <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
            </noscript>
    </a>
      {% endif %}
    {% endif %}

    {% if section.settings.show_shop_name %}
      <a class = "logo" href="/" >{{ shop.name }}</a>
    {% endif %}

  </h2>
</div>
