<!-- /templates/customers/account.liquid -->
<div class = "wrapper extra-header-padding grid--full">
  <div class = "grid__item large--three-quarters push--large--one-eighth medium-down--one-whole">
   <div class="grid__item no-padding-left one-half">
     <h1 class = "account-header inline-list">{{ 'customer.account.title' | t }}</h1>
    </div>
    <div class="grid__item no-padding-left one-half text-right">
      <br/>
       <a class = "inline-list" href = "/account/logout">{{ 'layout.customer.log_out' | t }}</a>
    </div>
    <hr class="hr--small">
    <div class="grid">
      <div class="grid__item two-thirds medium-down--one-whole">
        <h4 class = "account-header">{{ 'customer.orders.title' | t }}</h4>
        {% comment %}
        If we have past orders, loop through each one
      {% endcomment %}
      {% paginate customer.orders by 20 %}
      {% if customer.orders.size != 0 %}
        <div class="table-wrap">
          <table class="full">
            <thead class = "desktop-order">
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr class = "responsive-order">
                  <th class = "order-title">{{ 'customer.orders.order_number' | t }}</th>
                  <td class = "order-title">{{ order.name | link_to: order.customer_url }}</td>
                  <th>{{ 'customer.orders.date' | t  | link_to: order.customer_url }}</th>
                  <td>{{ order.created_at | date: format: 'month_day_year'  | link_to: order.customer_url }}</td>
                  <th>{{ 'customer.orders.payment_status' | t  | link_to: order.customer_url }}</th>
                  <td>{{ order.financial_status_label  | link_to: order.customer_url }}</td>
                  <th>{{ 'customer.orders.fulfillment_status' | t  | link_to: order.customer_url }}</th>
                  <td>{{ order.fulfillment_status_label  | link_to: order.customer_url }}</td>
                  <th>{{ 'customer.orders.total' | t  | link_to: order.customer_url }}</th>
                  <td>{{ order.total_price | money  | link_to: order.customer_url }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>{{ 'customer.orders.none' | t }}</p>
      {% endif %}
      {% if paginate.pages > 1 %}
        <hr>
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      {% endif %}
    {% endpaginate %}
  </div>
  <div class="grid__item one-third medium-down--one-whole account-details">
    <h4>{{ 'customer.account.details' | t }}</h4>
    <p>{{ customer.name }}<br>

{% if customer.metafields.subscriptions.customer_string %}
<!-- Begin ReCharge code -->
<p><a href="/tools/recurring/customer/{{ customer.metafields.subscriptions.customer_string }}/subscriptions/">Manage Subscriptions</a></p>
<!-- End ReCharge code -->
{% endif %}
      {% if customer.default_address != nil %}
        
        {{ customer.default_address.address1 }}<br>
        {% if customer.default_address.address2 != "" %}
          {{ customer.default_address.address2 }}<br>
        {% endif %}
        {% if customer.default_address.city != "" %}
          {{ customer.default_address.city }}<br>
        {% endif %}
        {% if customer.default_address.province_code != nil %}
          {{ customer.default_address.province_code | upcase }}<br>
        {% endif %}
        {% if customer.default_address.zip != "" %}
          {{ customer.default_address.zip | upcase }}<br>
        {% endif %}
        {% if customer.default_address.country != "" %}
          {{ customer.default_address.country }}<br>
        {% endif %}
        {% if customer.default_address.phone != "" %}
          {{ customer.default_address.phone }}
        {% endif %}
      </p>
    {% endif %}
    <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
  </div>
</div>
</div>
</div>