<!-- /templates/customers/addressess.liquid -->
{% comment %}

  Template note:
  - There are instances of inline JS below.
  - There are separate 'add new' and 'edit' address forms

{% endcomment %}

    {% paginate customer.addresses by 5 %}

      <div class="grid--full wrapper extra-header-padding">
        <div class = "grid__item large--three-quarters push--large--one-eighth medium-down--one-whole">
          <div class = "grid--full">
            <div class="grid__item medium-down--one-whole">
              <header class="section-header address-header">
                <h1 class="section-header__left address-title text-left">{{ 'customer.addresses.title' | t }}</h1>
                <a class = "light-gray address-return text-left" href="/account">{{ 'customer.account.return' | t }}</a>
                <div class="section-header__right">
                  <a href="#" class="btn new-address" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
                </div>
            </div>
            </header>
            <div class = "grid">
              <div class="grid__item two-thirds medium-down--one-whole">
                {% comment %}
                  Add address form, hidden by default
                {% endcomment %}
                <div id="AddAddress" class="form-vertical" class = "grid__item" style="display: none;">
                  <div class = "grid">
                    <div class = "grid__item">
                      {% form 'customer_address', customer.new_address %}

                        <h2>{{ 'customer.addresses.add_new' | t }}</h2>

                        <div class="grid">

                          <div class="grid__item one-half small--one-whole">
                            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                            <input required type="text" id="AddressFirstNameNew" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
                          </div>

                          <div class="grid__item one-half small--one-whole">
                            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                            <input required type="text" id="AddressLastNameNew" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
                          </div>

                        </div>

                        <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                        <input required type="text" id="AddressCompanyNew" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">

                        <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                        <input required type="text" id="AddressAddress1New" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">

                        <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                        <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">

                        <div class="grid">
                          <div class="grid__item large--one-half">
                            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                            <input required type="text" id="AddressCityNew" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">
                          </div>

                          <div class="grid__item large--one-half">
                            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                            <div class = "address-selector-wrapper">
                              <select id="AddressCountryNew" class="input-full " name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                            </div>
                          </div>

                          <div class="grid__item" id="AddressProvinceContainerNew" style="display:none">
                            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                            <div class = "address-selector-wrapper">
                              <select id="AddressProvinceNew" class="input-full " name="address[province]" data-default="{{ form.province }}"></select>
                            </div>
                          </div>

                          <div class="grid__item large--one-half">
                            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                            <input type="text" id="AddressZipNew" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                          </div>

                          <div class="grid__item large--one-half">
                            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                            <input type="tel" id="AddressPhoneNew" class="input-full" name="address[phone]" value="{{ form.phone }}">
                          </div>
                        </div>

                        <p>
                          {{ form.set_as_default_checkbox }}
                          <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                        </p>

                        <p><input type="submit" style="margin:0" class="btn" value="{{ 'customer.addresses.add' | t }}"></p>
                        <p><a href="#" class = "light-gray" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a></p>

                        <hr>
                      {% endform %}
                    </div>
                  </div>
                </div>
              </div>
              {% comment %}
                List all customer addresses with a unique edit form.
                Also add pagination in case they have a large number of addresses
              {% endcomment %}
              {% for address in customer.addresses %}
                <div class = "address grid__item one-whole">
                  <h3 class = "address-name">
                    {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                    {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}
                  </h3>

                  <p>
                    <br>{{ address.company }}
                    {{ address.street }}<br>
                    {{ address.city | capitalize }}<br>
                    {% if address.province_code %}
                      {{ address.province_code | upcase }}<br>
                    {% endif %}
                    {{ address.zip | upcase }}<br>
                    {{ address.country }}<br>
                    {{ address.phone }}
                  </p>
                  <div class = "light-gray">
                    {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} |
                    {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
                  </div>

                  <div id="EditAddress_{{ address.id }}" class="edit-address form-vertical grid__item grid-uniform large--one-half medium-down--one-whole" style="display:none;">
                    {% form 'customer_address', address %}

                      <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

                      <div class="grid">
                        <div class="grid__item one-half small--one-whole">
                          <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                          <input required type="text" id="AddressFirstName_{{ form.id }}" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
                        </div>

                        <div class="grid__item one-half small--one-whole">
                          <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                          <input required type="text" id="AddressLastName_{{ form.id }}" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
                        </div>
                      </div>

                      <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                      <input type="text" id="AddressCompany_{{ form.id }}" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">

                      <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                      <input required type="text" id="AddressAddress1_{{ form.id }}" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">

                      <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                      <input type="text" id="AddressAddress2_{{ form.id }}" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">

                      <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                      <input required type="text" id="AddressCity_{{ form.id }}" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">

                      <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                      <div class = "address-selector-wrapper">
                        <select id="AddressCountry_{{ form.id }}" class=" input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                      </div>

                      <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                        <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                        <div class = "address-selector-wrapper">
                          <select id="AddressProvince_{{ form.id }}" class=" input-full" name="address[province]" data-default="{{ form.province }}"></select>
                        </div>
                      </div>

                      <div class="grid">
                        <div class="grid__item one-half small--one-whole">
                          <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                          <input type="text" id="AddressZip_{{ form.id }}" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                        </div>

                        <div class="grid__item one-half small--one-whole">
                          <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                          <input type="tel" id="AddressPhone_{{ form.id }}" class="input-full" name="address[phone]" value="{{ form.phone }}">
                        </div>
                      </div>

                      <p>
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_{{ form.id }}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                      </p>

                      <p><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></p>
                      <p><a href="#" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a></p>

                    {% endform %}
                  </div>
                  <hr>
                </div>

              {% endfor %}

              {% if paginate.pages > 1 %}
                <hr>
                <div class="pagination">
                  {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <script>
          // Initialize observers on address selectors
          new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
              hideElement: 'AddressProvinceContainerNew'
          });

          // Setup province selector on each customer address
          {% for address in customer.addresses %}
          new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
              hideElement: 'AddressProvinceContainer_{{ address.id }}'}
          );
          {% endfor %}

          // Modified contents of customer_area.js (global asset)
          Shopify.CustomerAddress = {
              toggleForm: function(id) {
                  var editEl = document.getElementById('EditAddress_'+id);
                  editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
                  return false;
              },

              toggleNewForm: function() {
                  var el = document.getElementById('AddAddress');
                  el.style.display = el.style.display == 'none' ? '' : 'none';
                  return false;
              },

              destroy: function(id, confirm_msg) {
                  if (confirm(confirm_msg || "Are you sure you wish to delete this address?")) {
                      Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
                  }
              }
          }
      </script>

    {% endpaginate %}