<!-- /templates/customers/login.liquid -->
<div class="grid--full extra-header-padding wrapper account-pages">
  <div class="grid__item large--one-whole">
    {% comment %}
    If a user has successfully requested a new password, the form.posted_successfully? variable
    is set to true within the 'recover_customer_password' form only. Within that form you'll see
    the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
  {% endcomment %}
  <h2 class="text-center CustomerLoginForm">{{ 'customer.login.title' | t }}</h2>

  <div class="grid__item large--one-half npd-left">

  
  <div class="pills col-2">
    <a href="#LoginForm" class="open" id="white-divider">Login</a>
    <a href="#RegisterForm" > Register</a>
  </div>
  <div id="LoginForm" class="pill-content open">

  <div id="CustomerLoginForm" class="form-vertical">
    {% form 'customer_login', autocomplete: 'off' %}
      {{ form.errors | default_errors }}
        <div class="note form-success" id="ResetSuccess" style="display:none;">
        {{ 'customer.recover_password.success' | t }}
        </div>
      <label for="CustomerEmail" class="hidden-label">{{ 'customer.login.email' | t }}</label>
      <input  autocomplete="new-password" type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
      {% if form.password_needed %}
        <label for="CustomerPassword" class="hidden-label">{{ 'customer.login.password' | t }}</label>
        <input autocomplete="new-password" type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
      {% endif %}
      <input type="submit" class="btn invert-on-hover-alt" value="{{ 'customer.login.sign_in' | t }}">
      <div class= "return text-center  ">
      <p> &nbsp; </p>
        {% if form.password_needed %}
          <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}  </a>
        {% endif %}
       </div>
    {% endform %}
    </div>
    <div id="RecoverPasswordForm" class = "text-left" style="display: none;">
    <h4 class="heading">{{ 'customer.recover_password.title' | t }}</h4>
      <p class = "light-gray"> Don't worry, we will send you an email to reset it.</p>
      <div class="form-vertical">
        {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}
          {% comment %}
          Assign variable to be used after timber.init() is run in theme.liquid
        {% endcomment %}
        {% if form.posted_successfully? %}
          {% assign resetPassword = true %}
        {% endif %}
        <label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
        <input autocomplete="new-password" type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
        <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
        <p>&nbsp; </p>
        <a href = "#!" type="button" id="HideRecoverPasswordLink" style="display: block; text-align: center;font-weight: bold;color: #000">Go back</a>
      {% endform %}
    </div>
    </div>

  </div>
  <div id="RegisterForm" class="pill-content">

    {% form 'create_customer' %}
   <div class="header">
    <h4 class="heading" style="margin-bottom: 30px;">Why Register?</h4> 
      <p><strong>Quick checkout</strong> - Save your billing and shipping details.</p>

      <p><strong>Manage orders</strong> - Track your order online and view your complete order history.</p>

      <p><strong>Manage subscription</strong> - Update your subscription options, including frequency, quantity and delivery schedules.</p>

      <p><strong>Review products</strong> - Share your opinion with the Saint Hemp community.</p>
  </div>
        <label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
        <input autocomplete="new-password" type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}*" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
        <label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
        <input autocomplete="new-password" type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}*" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
        <label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
        <input autocomplete="new-password" type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}*" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
        <label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>
        <input autocomplete="new-password" type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}*">
        
        <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
        <a class = "return light-gray hide" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
      {% endform %}
  </div>
  </div>
  <div class="grid__item large--one-half desktop-only">
    <img src="{{'account-page.jpg' | asset_url }}" >
  </div>
  {% comment %}
  JS shows/hides this form in timber.loginForms()
{% endcomment %}
{% comment %}
If accounts are set as optional, the following will be shown as an option
during checkout, not on the default /login page.
{% endcomment %}
{% if shop.checkout.guest_login %}
<hr>
<h2>{{ 'customer.login.guest_title' | t }}</h2>
{% form 'guest_login' %}
<input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
{% endform %}
{% endif %}
</div>
</div>
<style>
 @media (min-width: 2000px){
   .account-pages.wrapper{
     width: 80%;
   }
 }
</style>
<script>
  $(document).ready(function(){
    $('.pills a').on('click',function(e){
      e.preventDefault()
      $('.pill-content').hide()
      $('.pills a').removeClass('open')
      $(this).addClass('open')
      var target = $(this).attr('href').toString()
      $(target).show();
    })
  })
</script>