<!-- /templates/customers/order.liquid -->
{% comment %}
SKU column logic.
{% endcomment %}
{% for line_item in order.line_items %}
{% if line_item.sku != blank %}
  {% assign showSku = true %}
{% else %}
  {% assign showSku = false %}
{% endif %}
{% endfor %}
<div class = "wrapper extra-header-padding grid--full">
<div class = "grid__item large--three-quarters push--large--one-eighth medium-down--one-whole">
  <a href = "/account"><h1 class="address-title">{{ 'customer.account.title' | t }}</h1></a>
  <hr class="hr--small">
  <div class="grid">
    <div class="grid__item two-thirds medium-down--one-whole order-wrapper">
      <h4 class = "order-title">{{ 'customer.order.title' | t: name: order.name }}</h4>
      <p>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
      {% if order.cancelled %}
        <div class="errors">
          {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
          <p class="h5">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
        </div>
      {% endif %}
      <div class="table-wrap">
        <table class="full">
          <thead>
            <tr class = "order-history">
              <th class = "desktop-order" >{{ 'customer.order.product' | t }}</th>
              {% if showSku == true %}
                <th class = "desktop-order" >{{ 'customer.order.sku' | t }}</th>
              {% endif %}
              <th class = "desktop-order" >{{ 'customer.order.price' | t }}</th>
              <th class="desktop-order">{{ 'customer.order.quantity' | t }}</th>
              <th class="desktop-order">{{ 'customer.order.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for line_item in order.line_items %}
              <tr class = "responsive-order" id="{{ line_item.id }}">
                <th>{{ 'customer.order.product' | t }}</th>
                <td>
                  {{ line_item.title | link_to: line_item.product.url }}
                  {% if line_item.fulfillment %}
                    <div class="note">
                      {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
                      {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                      {% if line_item.fulfillment.tracking_number %}
                        <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                      {% endif %}
                    </div>
                  {% endif %}
                </td>
                {% if showSku == true %}
                  <th>{{ 'customer.order.sku' | t }}</th>
                  <td class="">{{ line_item.sku }}</td>
                {% endif %}
                <th>{{ 'customer.order.price' | t }}</th>
                <td>{{ line_item.price | money }}</td>
                <th>{{ 'customer.order.quantity' | t }}</th>
                <td class="">{{ line_item.quantity }}</td>
                <th>{{ 'customer.order.total' | t }}</th>
                <td class="">{{ line_item.quantity | times: line_item.price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot class = "responsive-order">
          <tr>
            <td colspan="3">{{ 'customer.order.subtotal' | t }}</td>
            <td class="">{{ order.subtotal_price | money }}</td>
          </tr>
          {% for discount in order.discounts %}
            <tr class="order_summary discount">
              <td colspan="3">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
              <td class="">{{ discount.savings | money }}</td>
            </tr>
          {% endfor %}
          {% for shipping_method in order.shipping_methods %}
            <tr>
              <td colspan="3">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
              <td class="">{{ shipping_method.price | money }}</td>
            </tr>
          {% endfor %}
          {% for tax_line in order.tax_lines %}
            <tr>
              <td colspan="3">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
              <td class="">{{ tax_line.price | money }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="3">{{ 'customer.order.total' | t }}</td>
            <td class="">{{ order.total_price | money }} {{ order.currency }}</td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="grid__item one-third medium-down--one-whole account-details">
      <h4>{{ 'customer.order.billing_address' | t }}</h4>
      <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>
      <p>{{ order.billing_address.name }}<br>
        {% if order.billing_address.company != '' %}
          {{ order.billing_address.company }}<br>
        {% endif %}
        {{ order.billing_address.street }}<br>
        {{ order.billing_address.city }}<br>
        {% if order.billing_address.province != nil %}
          {{ order.billing_address.province }}<br>
        {% endif %}
        {{ order.billing_address.zip | upcase }}<br>
        {{ order.billing_address.country }}<br>
        {{ order.billing_address.phone }}
      </p>
      <h4>{{ 'customer.order.shipping_address' | t }}</h4>
      <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>
      <p>{{ order.shipping_address.name }}<br>
        {% if order.shipping_address.company != '' %}
          {{ order.shipping_address.company }}<br>
        {% endif %}
        {{ order.shipping_address.street }}<br>
        {{ order.shipping_address.city }}<br>
        {% if order.shipping_address.province != nil %}
          {{ order.shipping_address.province }}<br>
        {% endif %}
        {{ order.shipping_address.zip | upcase }}<br>
        {{ order.shipping_address.country }}<br>
        {{ order.shipping_address.phone }}
      </p>
    </div>
  </div>
</div>
</div>