<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]><html class="no-js ie9 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--><html class="not-ie no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32'}}" type="image/png" />
{% endif %}

{% assign current_url = '' %}
{% case template %}
{% when 'page' %}
{% assign current_url = page.url %}
{% when 'blog' %}
{% assign current_url = blog.url %}
{% when 'article' %}
{% assign current_url = article.url %}
{% when 'collection' %}
{% assign current_url = collection.url %}
{% when 'product' %}
{% assign current_url = product.url %}
{% endcase %}

<!-- <meta name="url-val" content="{{ current_url }}" alt"{{ page.url }}" prop="{{ article.url }}" current="{{ blog.url }}"> -->
{% if current_url == '/products/hemp-protein-vanilla' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/products/chocolate-organic-hemp-protein' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/all/products/hemp-protein-vanilla' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/all/products/protein-shaker-stainless-steel' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/frontpage/products/hemp-protein-vanilla' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/frontpage/products/vanilla-organic-hemp-protein' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/products/vanilla-organic-hemp-protein' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/frontpage/products/hemp-protein-chocolate' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/all/products/hemp-protein-chocolate' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/products/hemp-protein-chocolate' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/products/product-1' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/products/product-6' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/all/products/chocolate-organic-hemp-protein' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/frontpage/products/chocolate-organic-hemp-protein' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/recipes' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/hemp-recipes' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/hemp-recipes/hemp-protein-smoothie-mixed-berry-recipe' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/frontpage' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/all-product' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/collections/non-food-products' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/blog-1' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/news?page=1' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/news?page=2' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/recipes/tagged/hemp-oil-food-recipes' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/recipes/tagged/hemp-seed-recipes' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/recipes/tagged/protein-powder-recipes' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/recipes/tagged/598047162423' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/recipes/tagged/fff' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/recipes/tagged/598047391799' %}
<meta name="robots" content="noindex">
{% endif %}
{% if  current_url == '/blogs/recipes/tagged/999' %}
<meta name="robots" content="noindex">
{% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  <!-- start description -->
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <meta name="description" content="{{ page.metadescription | escape }}">
  <meta name="description" content="{{ page_metadescriptions | escape }}">
  <!-- end description -->

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% capture new_content_for_header %}
    {{ content_for_header }}
  {% endcapture %}
  {{ new_content_for_header | replace: 'src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms', 'crossorigin="anonymous" integrity="sha384-7KbT2xGL7jfQFUwEhY5fqCt16OuFDW+M2YjpViSxY1kJFNpJrFRoLZCEBfirqzUv" src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms' }}
  <!-- Google Webfonts ================================================== -->
  {% include 'google-fonts' %}

  <!-- CSS ================================================== -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'hamburgers.css' | asset_url | stylesheet_tag }}
  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
  {{ 'ipad.scss.css' | asset_url | stylesheet_tag }}

  <noscript>
    <style>
      .block-body {display: none !important;}
    </style>
  </noscript>

  <!-- Header hook for plugins ================================================== -->
  {% include 'header-javascript' %}
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Mukta:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">

  <!-- <script src="//staticxx.s3.amazonaws.com/aio_stats_lib_v1.min.js?v=1.0"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" integrity="sha384-eT0YEpbpan941EziZNOWpfAiLW/ZHHJBIqDcU6JR/TtllraXwNqo9JPld6YUZN15" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha384-OOQxAlvDeToeGLa7+PiUtbtpQyESK8Ej4fNM8foz5VaMpO8TCp1vbi2HIOIzMurt" crossorigin="anonymous"></script>

  {% if current_url == '' %}

      {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
      {%- assign mypage = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
         replace:'\/','/' |
         replace:'%20',' ' |
         replace:'\u0026','&'
      -%}
      {% assign current_url =  mypage | replace: 'sainthemp.com' : '' %}
  {% endif %}
  {% case template %}
  {% when 'product' %}
        {% assign current_url = product.url %}
  {% when 'product.with.specs'%}
        {% assign current_url = product.url %}
  {% endcase %}



  <meta name="p:domain_verify" content="8dca65a27c7f9a5e15f56a2e39721876"/>
  <link rel="alternate" hreflang="x-default" href="https://sainthemp.com{{current_url}}"/>
  <link rel="alternate" hreflang="en-AU" href="https://sainthemp.com{{current_url}}"/>
  <link rel="alternate" hreflang="en" href="https://sainthemp.com{{current_url}}"/>



</head>

<body id="{{ page_title | handle }}" class="{% if settings.header_bg_color == 'rgba(0,0,0,0)' %}full-header{% endif%} {% if customer %} customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} no-outlines {% if settings.show_body_padding %}body--show-padding{% endif %} {% if settings.show_spacer_lines %}body--show-spacer-lines{% else %}body--hide-spacer-lines{% endif %} {% if settings.enable_quick_buy %}quick-buy-enabled{% endif %}">
<div class="block-body"></div>


{% section 'header' %}
<div id="PageContainer" class="is-moved-by-drawer">
  <main class="main-content" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  {% if settings.show_popup %}
    {% include 'popup' %}
  {% endif %}
</div>

{% include 'cart-drawer' %}

{% include 'footer-javascript' %}

<input type="hidden" id="656565115116111114101" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}" data-customer-name="{{ customer.first_name }} {{ customer.last_name }}"/> {% include 'subscription-theme-footer' %}
</body>

</html>
