<!doctype html>
  <!--[if IE 8]><html class="no-js ie9 lt-ie9" lang="en"> <![endif]-->
  <!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
  <!--[if !IE]><!--><html class="not-ie no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32'}}" type="image/png" />
    {% endif %}

    <!-- Title and description ================================================== -->
    <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{ content_for_header }}

    <!-- Google Webfonts ================================================== -->
    {% include 'google-fonts' %}

    <!-- CSS ================================================== -->
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
    <noscript>
      <style>
      .block-body {display: none !important;}
      </style>
    </noscript>

    <!-- Header hook for plugins ================================================== -->
    {% include 'header-javascript' %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
    <meta name="p:domain_verify" content="8dca65a27c7f9a5e15f56a2e39721876"/>
  </head>

  <body id="{{ page_title | handle }}" class="{% if settings.header_bg_color == 'rgba(0,0,0,0)' %}full-header{% endif%} {% if customer %} customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} no-outlines {% if settings.show_body_padding %}body--show-padding{% endif %} {% if settings.show_spacer_lines %}body--show-spacer-lines{% else %}body--hide-spacer-lines{% endif %} {% if settings.enable_quick_buy %}quick-buy-enabled{% endif %}">
    <div class = "block-body"></div>
    {% if template == 'index' %}
    <style>
      .site-header.top{display:none !important}
      #shopify-section-header.under_slider{ display: block; }

      @media all and (max-width: 768px){
        .site-header.top{ display: block !important }
        #shopify-section-header.under_slider{ display: none; }
      }
    </style>
    {% endif %}

    {% section 'header' %}
    <div id="PageContainer" class="is-moved-by-drawer">
      <main class="main-content" role="main">
        {{ content_for_layout }}
      </main>
      {% section 'blog' %}
      {% section 'footer' %}
    {% if settings.show_popup %}
      {% include 'popup' %}
    {% endif %}
    </div>

 	{% include 'cart-drawer' %}

    {% include 'footer-javascript' %}

</body>

</html>
