<!-- /sections/rich-text-with-media.liquid -->

{% if section.settings.image == blank %}
  {% assign no_image = "no-image" %}
{% endif %}

<!-- Video section-->
<div  data-section-id="{{ section.id }}" data-section-type="rich-text-with-media" class = "featured-content-section mobile-bottom has-image" id="featured-content">
  <div class = "grid--full">
    <div class = "grid__item large--one-whole medium-down--one-whole featured-content-overlay" >
    <div class = "featured-content-padding"></div>
    <div class="grid--full grid--table featured-content-wrapper">

      <div data-aos="fade-up" data-aos-duration="1000" class="grid__item large--one-half medium-down--one-whole video-text-col mobile-only">
        <div class="video-wrapper">
            {% if section.settings.heading %}
              <h3>{{section.settings.heading}}</h3>
            {% endif %}
            {% if section.settings.text %}
              <span>{{ section.settings.text }}</span>   
            {% endif %}
            {% if section.settings.button_text %}
            <a class = "btn--small" href ="{{section.settings.button_url}}">{{section.settings.button_text}}</a>
            {% endif %}
            <span class="featured-content-spacer-line"></span>
        </div>
      </div>
      <!-- Left col -->
      <div data-aos="fade-right" data-aos-duration="1000" class="grid__item large--one-half medium-down--one-whole video-image-parent">
        <div class = "video-image-wrapper {{ no_image }}">
          {% unless section.settings.image == blank %}
                {%- assign image = section.settings.image -%}
                {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
                {% include 'theme-rias' %}
                 
                  <img class = "video-image" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
           {% else %}
            <span class = "video-image">{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg-filled' }}</span>
          {% endunless %}

          {% unless section.settings.video_url == blank %}
            <a class="play-button animated fadeInLeftBig _1" href="{{ section.settings.video_url }}">
              <span class = "filled-circle custom-icon-filled-circle"></span>
              <span class = "stroke-circle custom-icon-stroke-circle"></span>
              <span class = "triangle custom-icon-triangle"></span>
            </a>
          {% endunless %}
        </div>
      </div>

      <!-- Right col -->
      <div data-aos="fade-up" data-aos-duration="1000" class="grid__item large--one-half medium-down--one-whole video-text-col desktop-only">
        <div class="video-wrapper">
            {% if section.settings.heading %}
              <h3>{{section.settings.heading}}</h3>
            {% endif %}
            {% if section.settings.text %}
              <span>{{ section.settings.text }}</span>   
            {% endif %}
            {% if section.settings.button_text %}
            <a class = "btn--small" href ="{{section.settings.button_url}}">{{section.settings.button_text}}</a>
            {% endif %}
            <span class="featured-content-spacer-line"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<style>
.featured-content-section{
  padding-top: 0;
}
.featured-content-overlay{
  background: transparent;
}
.video-text-col{
  right: 0!important;
}
.video-wrapper{
  text-align: left !important;
}
@media (min-width: 1400px){
  .featured-content-overlay{
    padding-left: 30px;
  }
}
</style>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Story"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type":"text",
      "id":"button_text",
      "label":"Button text",
      "default":"Learn More"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"Button link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    } 
  ] 
}
{% endschema %}