<!-- /sections/article-template.liquid -->

{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}

{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<style>
.recipes-wrapper .block .block-overlay{
    width: 100%;
}
@media (min-width:1400px){
 .recipes-wrapper{
     max-width:73vw;margin:auto;padding-top: 0;
 }
}
</style>
<div id="article-template-recipes" class="shopify-section">
  <div class="grid--full wrapper recipes-wrapper no-border">
  <div class = "phone-only">
    {%- assign image = article.image -%}
    {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
    {% include 'theme-rias' %}
     <img class = "" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
  </div>

   	<h1 id="rcp" class="page-title text-center hemp-recipes-collection-title">{{ article.title }}</h1>
    <! -- start nav -->
    <div class="desktop-only">
    <nav class="breadcrumb recipe-breadcrumb" role="navigation" aria-label="breadcrumbs">

        <a href="/pages/hemp-recipes"> Recipes </a>
        <span class="black" >/</span>
          <a href="/pages/{{ article.tags | first | replace: ' ', '-' | downcase }}"> {{ article.tags | first }} </a>
        <span aria-hidden="true">/</span>
        <span>{{ article.title }}</span>

    </nav>
    </div>
    <! -- end nav -->
    <div class="recipe-content">{{ article.excerpt }}</div>

    <!-- Left col -->
    <div data-aos="fade-right" data-aos-duration="700" class="grid__item large--one-half medium-down--one-whole video-image-parent desktop-only res-img">
      <div class = "video-image-wrapper ">
        {%- assign image = article.image -%}
        {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
        {% include 'theme-rias' %}
         <img class = " video-image" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
      </div>
    </div>

    <!-- Right col -->
    <div id="res-box" data-aos="fade-up" data-aos-duration="1000" class="grid__item large--one-half medium-down--one-whole video-text-col list-con ">
      <div class="video-wrapper recipe-list-container">
          {{ article.content }}
          <span class="featured-content-spacer-line"></span>
      </div>
    </div>

  </div>
</div>
{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
