{% comment %} Settings {% endcomment %}
{% assign blogArticles = blogs[section.settings.blogName].articles %}
{% assign blogLink = blogs[section.settings.blogName].url %}

{% assign title = section.settings.title %}
{% assign articlesCount = 4 | plus: 0 %}

{% assign blog_count = 0 %}

{% if section.settings.blogName != blank %}
{% for article in blogArticles limit: articlesCount %}
{% assign blog_count = blog_count | plus : 1%}
{% endfor %}
{% endif %}

{% case blog_count %}
  {% when 1 %}
 	 {% assign blog_width = 'small--one-whole medium--one-whole large--one-whole' %}
  {% when 2 %}
 	 {% assign blog_width = 'small--one-whole medium--one-half large--one-half' %}
  {% when 3 %}
 	 {% assign blog_width = 'small--one-whole medium--one-third large--one-third' %}
  {% when 4 %}
 	 {% assign blog_width = 'small--one-whole medium--one-half large--one-quarter' %}
  {% else %}
 	 {% assign blog_width = 'small--one-whole medium--one-half large--one-quarter' %}
{% endcase %}


{% comment %} Section {% endcomment %}
<section data-section-type="blog-posts" class="featured-blog wrapper" data-section-id="{{ section.id }}">
    <div>
        {% if title != blank %}
            <h2 class = "text-center">{{ title }}</h2>
        {% endif %}
        {% if section.settings.blogName == blank %}
            {% for i in (1..articlesCount) %}
  		    <div class="featured-blog__post {{blog_width}}">
                <a href="#!" title="{{article.title}}" aria-label = "{{ article.title }}">
                    <div class="svg-placeholder">
                        {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
                        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg-filled' }}
                    </div>
                    <div class="featured-blog__content onboarding-blog-content">
                        <p class ="h4" >Blog post title</p>
                        <p class ="h6" >Feb. 15, {{ 'now' | date: '%Y' }}</p>
                        <p>Once you create a blog post or choose a blog, its content will appear here.</p>
                    </div>
                </a>
    		  </div>
            {% endfor %}
        {% else %}
            {% for article in blogArticles limit: articlesCount %}
      		<div class="featured-blog__post {{blog_width}}">
                <a href="{{ article.url }}" aria-label = "{{ article.title }}" title="{{ article.title }}">
                <div class="featured-blog__article_image lazyload"
                {% if article.image %}      
                data-bgset="{% include 'bgset', image: article.image %}"
                data-sizes="auto"
                data-parent-fit="cover"
                style="background-image: url('{{ article.image | img_url: '600x'}}');"
                {% endif %}
                >
                </div>
                <div class = "featured-blog__content">                        
                    <p class = "h4">{{ article.title }}</p>
                    <p class= "h6">{{ article.published_at | date: "%a, %b %d, %y" }}</p>
                    <p class= "excerpt">{{ article.excerpt_or_content | strip_html | truncatewords: 10 }}</p>
                </div>
                </a>
       		 </div>
            {% endfor %}
        {% endif %}        
    </div>
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
{
    "name": "Blog posts",
    "settings": [ 
    {
        "type": "header",
        "content": "Blog"
    },
    {
        "type": "blog",
        "id": "blogName",
        "label": "Select a blog"
    }, 
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default":"Our Blog"
    } 
    ],
    "presets": [ {
        "category": "Blog",
        "name": "Blog posts"
    } ]
}
{% endschema %}
