<!-- /sections/rich-text-with-media.liquid -->

{% if section.settings.image == blank %}
  {% assign no_image = "no-image" %}
{% endif %}

<!-- Video section-->
<div data-section-id="{{ section.id }}" data-section-type="rich-text-with-media" class = "featured-blog-section has-image" id="featured-content">
  <div class = "grid--full">
    <div class = "grid__item large--one-whole medium-down--one-whole featured-content-overlay">
      <div class = "featured-content-padding"></div>
      <div class="grid--full grid--table featured-content-wrapper">

        <!-- Left col -->
        {%- assign image = section.settings.image -%}
        {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
        {% include 'theme-rias' %}
        <div class="grid__item medium-down--one-whole video-image-parent  large--one-half">
          <div class = " npl-mobile grid__item large--four-fifths {{ no_image }}" >
            {% unless section.settings.image == blank %}
              <div class="video-image-wrapper">
                <img
                    class=" " src="{{image | img_url: 'master'}}"
                    alt="{{ image.alt | escape }}">
              </div>
              {% else %}
              <span class = "video-image">{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg-filled' }}</span>
            {% endunless %}

            {% unless section.settings.video_url == blank %}
              <a class="play-button animated fadeInLeftBig _1" href="{{ section.settings.video_url }}">
                <span class = "filled-circle custom-icon-filled-circle"></span>
                <span class = "stroke-circle custom-icon-stroke-circle"></span>
                <span class = "triangle custom-icon-triangle"></span>
              </a>
            {% endunless %}
            <h2 class="section-title desktop-only sh-blog-section-title">Blog.</h2>
          </div>
        </div>
        <!-- Right col -->
        <div class="grid__item sh-blog-content  medium-down--one-whole large--one-half relative-desktop">
          <div class="blog-wrapper">
            <h2 class="section-title mobile-only">Blog.</h2>
            <div class="mobile-padding">
              {% if section.settings.heading %}
                <h3>{{section.settings.heading}}</h3>
              {% endif %}
              {% if section.settings.text %}
                <span>{{ section.settings.text }}</span>
              {% endif %}
            </div>
            {% if section.settings.button_text %}
              <a class = "btn--small invert-on-hover-alt" href ="{{section.settings.button_url}}">{{section.settings.button_text}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>

  @media (min-width:1300px){

    .featured-blog-section{
      padding-top: 8rem;
    }

    .video-image-wrapper img:hover{
    }
    .blog-wrapper{
      max-width: 650px;
      padding-right: 0 !important;
    }
    .blog-wrapper p{
      font-size: 20px;
      line-height: 2.5;
    }

    .blog-wrapper h3{
      font-size: 34px;
      letter-spacing : 3px;
      line-height: 36px;
      margin-bottom: 43px;
    }
    .blog-wrapper .section-title{
      font-size: 30px;
      color: #000;
    }
    .blog-wrapper a.btn--small{
      font-size: 18px;
      min-width: 350px;
      padding: 25px 0;
      text-align: center;

    }

  }
  @media only screen  and (min-width : 1400px) {
    .featured-blog-section{
      background: linear-gradient(180deg, #eee 85%, #fff 15%);
    }
    /*     .featured-blog-section h1.section-title:not(.mobile-only){
          position: relative;
          left: -140px;
          top: -30px;
          display: inline-block !important;
        } */
    .video-image-wrapper{
      display:inline-block;
      position: relative;
      top: -70px;
    }
  }


</style>
{% schema %}
  {
  "name": "Featured Blog Post",
  "settings": [
  {
  "type": "text",
  "id": "heading",
  "label": "Heading",
  "default": "Our Story"
  },
  {
  "type": "richtext",
  "id": "text",
  "label": "Text",
  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
  },
  {
  "type":"text",
  "id":"button_text",
  "label":"Button text",
  "default":"Learn More"
  },
  {
  "type":"url",
  "id":"button_url",
  "label":"Button link"
  },
  {
  "type": "image_picker",
  "id": "image",
  "label": "Image"
  }
  ],
  "presets": [
  {
  "name": "Featured Blog Post",
  "category": "Text"
  }
  ]
  }
{% endschema %}
