<!-- /sections/collection-template.liquid -->
{{ 'collection.css' | asset_url | stylesheet_tag }}

{% paginate collection.products by 12 %}
{% comment %}
If there is a collection image, the split header is used.
Else, the plain, centered text header is used.
{% endcomment %}

<div data-section-type="collection-template" data-section-id="{{ section.id }}">

{% comment %}
Collection header
{% endcomment %}
{% if collection.image %}

  <div class = "split-collection split-collection-image">
    <header class="collection-header grid ">
      <div class = "grid__item large--one-half medium-down--text-center medium-down--one-whole split-collection-parent">
        <div class = "split-collection-text">
          <h1 class="section-header__title collection-title collection-title-head ">{{ collection.title }}</h1>
          <div class = "spacer-line"></div>
          <div class="rte rte--header collection-description">{{ collection.description }}</div>
        </div>
      </div>
      <div
      class = "grid__item large--one-half medium-down--one-whole split-collection-image lazyload {{ section.settings.collection_image_height }}"
      {% unless section.settings.collection_image_height =='original-height' %}
        data-bgset="{% include 'bgset', image: collection.image %}"
        data-sizes="auto"
        data-parent-fit="cover"
      >
      <noscript>
        <style>
          .split-collection-image {
             background: url({{ collection.image.src | img_url: '2048x' }})
             no-repeat center center;
             background-size: cover;"
          }
        </style>
      </noscript>
      {% else %}
      >
        {%- assign image = collection.image -%}
        {%- assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' -%}
        {% include 'theme-rias' %}
        <img
           class="lazyload"
           data-src="{{ image_url_pattern }}"
           data-widths= "[{{ image_widths }}]"
           data-aspectratio="{{image.aspect_ratio }}"
           data-sizes="auto"
        >
        <noscript>
          <img src="{{ image | img_url: '600x' }}" alt="{{ image.alt | escape }}">
        </noscript>
      {% endunless %}
      </div>
    </header>
  </div>

{% else %}

  {% if collection.description != blank %}
    <header class="collection-header wrapper grid--full collection-header--no-image">
      <div class="grid__item large--one-whole text-center">
        <h1 class="section-header__title collection-title collection-title-head">{{ collection.title | escape }}</h1>
        <div class="rte rte--header collection-description">
          {{ collection.description }}
        </div>
        <hr>
      </div>
    </header>
  {% else %}
    <header class="collection-header wrapper collection-header--no-image collection-head-push">
      <div class="large--one-whole text-center">
        {% if collection.handle == 'all' %}
          <h1 class="section-header__title collection-title collection-title-head">{{ 'products.general.catalog' | t }}</h1>
        {% else %}
          <h1 class="section-header__title collection-title collection-title-head">{{ collection.title }}</h1>
        {% endif %}
      </div>
    </header>
  {% endif %}

{% endif %}

<div id = "collection-sorting-trigger" class = "{% if section.settings.enable_collection_sorting %}sort-me{% endif %}">
{% if section.settings.enable_collection_sorting %}

    <div class = "wrapper">
      <div class="text-center" id = "collection-sorting">

<div class="form-horizontal">
{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
  <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
  <div class = "selector-wrapper">
            <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
              {% if sort_by == collection.default_sort_by %}
                {% if collection.default_sort_by != 'manual' %}
                  <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                {% endif %}
                {% if collection.default_sort_by != 'best-selling' %}
                  <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                {% endif %}
                {% if collection.default_sort_by != 'title-ascending' %}
                  <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                {% endif %}
                {% if collection.default_sort_by != 'title-descending' %}
                  <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                {% endif %}
                {% if collection.default_sort_by != 'price-ascending' %}
                  <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                {% endif %}
                {% if collection.default_sort_by != 'price-descending' %}
                  <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                {% endif %}
                {% if collection.default_sort_by != 'created-descending' %}
                  <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                {% endif %}
                {% if collection.default_sort_by != 'created-ascending' %}
                  <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                {% endif %}
              {% else %}
                <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
              {% endif %}
            </select>
            <input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
          </div>
        </div>


        <div class="browse-by form-horizontal">
<label>{{ 'collections.sorting.browse_by' | t }}</label>
  <div class = "selector-wrapper single-option-selector">
          <div class="filters-toolbar__item">
            <select class="filters-toolbar__input filters-toolbar__input--filter hidden" name="SortTags" id="SortTags">
              {% if current_tags %}
                {% if collection.handle %}
                  <option value="/collections/{{ collection.handle }}">{{ 'collections.sorting.browse_all' | t }}</option>
                {% elsif collection.current_type %}
                  <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.sorting.browse_all' | t }}</option>
                {% elsif collection.current_vendor %}
                  <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
                {% endif %}
              {% else %}
                {% if current_tags contains tag %}
                  <option value="">{{ 'collections.filters.all_tags' | t }}</option>
                {% else %}
                  <option value="">{{ 'collections.sorting.browse_all' | t }}</option>
                {% endif %}
              {% endif %}
              {% for tag in collection.all_tags %}
                <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
</div>
        </div>
      </div>
    </div>
{% endif %}
</div>

  {% assign collection_count = collection.all_products_count %}
  <div class = "grid--full wrapper collection-wrap">
        {% if collection_count > 0 %}
          {% for product in collection.products %}
            {% include 'product-grid-item-shop', collection_count: ‘collection.all_products_count’ %}
          {% endfor %}
          {% elsif collection.handle == 'all' and collection_count == 0 %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% include 'onboarding-empty-collection' %}
          {% elsif collection.handle != 'all' and collection_count == 0 %}
          <div class="grid__item text-center">
            <h2 class="text-center">{{ 'collections.general.no_matches' | t }}</h2>
            <a href="/" class="btn" >{{ 'general.404.button_text' | t }}</a>
          </div>
        {% endif %}

  </div>
<!--
  <div class="grid--full wrapper recipes-wrapper">
    {% assign recipes = blogs.recipes.articles %}
    {% for recipe in recipes %}

        {% for tag in recipe.tags %}
            {% if tag contains '#' %}
                {% assign accent_color = tag %}
            {% endif%}
        {% endfor %}

     {% assign cssHandle = recipe.title | handleize %}

      <div class="grid__item block medium--down-one-whole large--one-half scene">
      <div class="flip-card">
        <div class="front-face">
          <div class="block-overlay text-center {{cssHandle}}">
          <div class="hover desktop-only">
            <a href="#">
             {{recipe.title}}
            </a>
            <a href="#" class="hover-btn flipper">MAKE</a>
          </div>
            <div class="mobile-only hover-mobile">
              <a href="#" class=" flipper"> {{recipe.title}}</a>
            </div>
            <p style="color:{{accent_color}}">
              {{recipe.excerpt}}
            </p>

          </div>
          <img src="{{ recipe.image | img_url:'master'}}" width="100%">
          </div>
          <div class="back-face" >
            <a href="#" class="close"> x </a>
            {{recipe.content}}
          </div>
        </div>
      </div>
      <style>

        .block-overlay.{{cssHandle}} {
          color: {{accent_color}};
        }
        .block-overlay.{{cssHandle}}:before,
        .block-overlay.{{cssHandle}}:after{
          content: '';
          display: block;
          height: 80px;
          width: 2px;
          background: {{accent_color}} ;
          margin: auto;
          position: relative;
        }
        .block-overlay.{{cssHandle}}:after{
          top: -10px;
        }
        .block-overlay.{{cssHandle}} a{
          color: {{accent_color}};
          border-color: {{accent_color}};
        }
        .recipes-wrapper .block-overlay.{{cssHandle}} a.hover-btn{
          background: {{accent_color}} ;
          color: #000;
          padding: 7px 15px;
          display: block;
          margin: auto;
          opacity: 0;
          z-index: 999;
          cursor: pointer;
          position: relative;
          top: -43px;
          letter-spacing: 2px;

        }

      </style>
    {%endfor%}
-->
  </div>
  {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    </div>
  {% endif %}
{% endpaginate %}

</div>
<script type="text/javascript">
$(document).ready(function(){

    $('.flipper').on('click',function(e){
      e.preventDefault();
      var $front = $(this).closest('.front-face'),
          $back = $front.next();
      $front.removeClass('fadeInRight').addClass('animated fadeOutRight');
      $back.removeClass('fadeOutRight').addClass('animated fadeInRight');

      $front.parent().css('min-height', $back.outerHeight());
    })
    $('.back-face a.close').on('click',function(e){
      e.preventDefault();
      var $back = $(this).parent(),
          $front = $(this).parent().prev();
      $front.removeClass('fadeOutRight').addClass('fadeInRight');
      $back.removeClass('fadeInRight').addClass('fadeOutRight');

      $front.parent().removeAttr('style');

    })
  })
</script>
{% schema %}
{
  "name": "Collection pages",
  "settings": [

    {
      "type": "checkbox",
      "label": "Enable collection sorting",
      "id": "enable_collection_sorting"
    },
    {
      "type": "select",
      "id": "collection_image_height",
      "label": "Collection image height",
      "default": "original-height",
      "options": [
        {
          "value": "original-height",
          "label": "Image height"
        },
        {
          "value": "five-fifty-height-hero",
          "label": "550px"
        },
        {
          "value": "four-fifty-height-hero",
          "label": "450px"
        },
        {
          "value": "three-fifty-height-hero",
          "label": "350px"
        }
      ]
    }
  ]
}
{% endschema %}
