<p class="text-center sub-text">
{{section.settings.heading}}
</p>
<ul id="accordion" class="faq">
 {% for block in section.blocks %}
    <li>
    <a href="#" id="question" class="">{{ block.settings.question}}</a>
    <div class="content">{{ block.settings.answer}}</div>
    </li>
 {%endfor%}
</ul>
<style>
#accordion li a#question{
  font-weight: bold;
}
#accordion li a#question:after{
 content: '\002b';
 display: inline-block;
 float: right;
 padding-right: 10px;
 font-weight: 700;
 position: absolute;
 right: 0;
}
#accordion li a#question.open:after{
   content: '\002d';
}
@media (max-width:767px){
  #accordion.faq{
    margin-top: 40px;
  }
   
  #accordion.faq li a#question{
    font-size: 19px;
    display: flex;
    align-items: center;

  }
   
   
  #accordion.faq li a#question{
    
  }
  
}
  
</style>
<script>
$(document).ready(function() {
     $('#accordion a#question').on('click',function(e){
         e.preventDefault()
         $(this).toggleClass('open')
         $(this).next().slideToggle()
         $('#accordion li > div').not($(this).next()).slideUp()
         $('#accordion a#question').not($(this)).removeClass('open')
        if($(this).hasClass('open')){
          scrollToLink($(this))
        }        
     })

        function scrollToLink(target){

          setTimeout(function(){

            $('html, body').animate({
                scrollTop: target.offset().top - 100
              }, 800);

          }, 400);
        }
})
</script>
{% schema %}
  {
    "name": "FAQ list",
    "settings": [
   		{
        "type": "text",
		    "id": "heading",
		    "label": "Heading"
       }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "FAQ",
        "settings": [
         
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ list",
        "category": "Text"
      }
    ]
  }
{% endschema %}
