<!-- /sections/featured-image.liquid -->

{% if section.settings.enable_parallax %}
  {% assign bg_attachment = "ba-fixed" %}  
{% endif %}

{% if section.settings.btn_link != blank %}
  {% assign btn_link =  section.settings.btn_link  %}
{% else %}
  {% assign btn_link = "#!" %}
{% endif %}
{% assign overlayOpacity = section.settings.overlay_opacity | prepend: '.' %}

  <div data-aos="fade-up" data-aos-duration="1000"
class = "featured-image-section alt no-caption featured-image featured-image-section--{{ section.id }} {{ bg_attachment }} {{ section.settings.image_position }} {{ section.settings.image_height }}"
data-section-id="{{ section.id }}"
data-section-type="featured-image"
id="featured-image"
style= "
    background-image: url('{{ section.settings.image | img_url:'2048x' }}');
    "
>

<div class="mobile-only">
  <img src="{{section.settings.image | img_url:'master' }}"style="max-width: 100vw" >
</div>

<div class ="overlay desktop-only" style="background-color:{{ section.settings.hero_overlay_color }}; !important; opacity:{{ overlayOpacity }};"></div>
    <div class="featured-image-section-inner desktop-only text-center">
    {% if section.settings.heading != blank %}
    <h1 class="slide-title main-heading {{ section.settings.text_color }}">{{ section.settings.heading | escape }}</h1>
    {% endif %}
    {% if section.settings.subheading != blank %}
    <h2 class="slider-caption main-subheading {{ section.settings.text_color }}">{{ section.settings.subheading | escape }}</h2>
    {% endif %}
    {% if section.settings.btn_text != blank %}
      <a class="btn call-to-action" href="{{ btn_link }}">{{ section.settings.btn_text | escape }}</a>
    {% endif %}
    </div>
</div>
<style>
 @media (min-width:1020px){
     #about .featured-image-section{
         margin: 10vw 0 10vw 20vw;
     }
 }
  @media (min-width:1680px){
     #about .featured-image-section{
         margin: 10vw 0 5vw 18vw;
     }
 }

</style>
{% schema %}
  {
  "name": "Featured image No caption",
  "class" : "featured-image",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image height",
      "default": "one-hundred-height-hero",
      "options": [
      {
          "value": "one-hundred-height-hero",
          "label": "Full screen height"
        },
        {
          "value": "original-height",
          "label": "Image height"
        },
        {
          "value": "seven-fifty-height-hero",
          "label": "750px"
        },
        {
          "value": "sixty-fifty-height-hero",
          "label": "650px"
        },
        {
          "value": "five-fifty-height-hero ",
          "label": "550px"
        },
        {
          "value": "four-fifty-height-hero",
          "label": "450px"
        }
      ]
    },
    {
      "type": "select",
      "label": "Center point of image",
      "id": "image_position",
      "default": "bg-pos-center-center",
      "options": [
        {
          "value": "bg-pos-top-center",
          "label": "Top"
        },
        {
          "value": "bg-pos-right-center",
          "label": "Right"
        },
        {
          "value": "bg-pos-center-center",
          "label": "Center"
        },
        {
          "value": "bg-pos-left-center",
          "label": "Left"
        },
        {
          "value": "bg-pos-bottom-center",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Opacity",
      "min": 0,
      "max": 95,
      "step": 5,
      "unit": "%",
      "default": 30
    },
    {
      "type": "color",
      "id": "hero_overlay_color",
      "label": "Overlay color",
      "default": "#000"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "Enable parallax",
      "default":true
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to Palo Alto"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Cras justo odio, dapibus ac facilisis in, egestas eget quam."
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-light",
      "options": [
        {
          "value": "text-light",
          "label": "Light"
        },
        {
          "value": "text-dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link"
    }
  ]
}
{% endschema %}