<!-- /sections/featured-image.liquid -->

{% if section.settings.enable_parallax %}
  {% assign bg_attachment = "ba-fixed" %}
{% endif %}

{% if section.settings.btn_link != blank %}
  {% assign btn_link =  section.settings.btn_link  %}
{% else %}
  {% assign btn_link = "#!" %}
{% endif %}
{% assign overlayOpacity = section.settings.overlay_opacity | prepend: '.' %}

<div
    class = "featured-image-section featured-image-section--{{ section.id }} {{ bg_attachment }} {{ section.settings.image_position }} {{ section.settings.image_height }} {% if section.settings.image == blank %} placeholder-bg {% endif %} lazyload"
    data-section-id="{{ section.id }}"
    data-section-type="featured-image"
    id="featured-image"
    data-bgset="{% include 'bgset', image: section.settings.image %}"
    data-sizes="auto"
    data-parent-fit="cover"
    style= "{% if section.settings.image == blank %}
        background-image: url(' {% include 'placeholder_svg_uri', placeholder : 'image' %} ');
        height: 100vh !important;
    {% endif %}{% if section.settings.hero_background_color != blank %}
        background-color: {{ section.settings.hero_background_color }};
    {% endif %}"
>
  <div class ="overlay" style="background-color:{{ section.settings.hero_overlay_color }}; !important; opacity:{{ overlayOpacity }};"></div>
  <div class="featured-image-section-inner text-center ">
    <div class="mobile-wrapper">
      {% if section.settings.heading != blank %}
        <!--   <h1 class="slide-title rotate desktop-only {{ section.settings.text_color }}">{{ section.settings.heading | escape }}</h1> -->
      {% endif %}
      {% if section.settings.subheading1 != blank %}
        <h2 id="home-title" class="slide-title medium-down--text-center main-subheading {{ section.settings.text_color }}">{{ section.settings.subheading1 | escape }}</h2>
      {% endif %}
      {% if section.settings.subheading2 != blank %}
        <h1 class="slide-title medium-down--text-center main-subheading {{ section.settings.text_color }}">{{ section.settings.subheading2 | escape }}</h1>
      {% endif %}
      {% if section.settings.btn_text != blank %}
        <a class="btn invert-on-hover call-to-action" href="{{ btn_link }}">{{ section.settings.btn_text | escape }}</a>
      {% endif %}
    </div>
  </div>
</div>

<noscript>
  <div
      class = "featured-image-section featured-image-section--{{ section.id }} {{ bg_attachment }} {{ section.settings.image_position }} {{ section.settings.image_height }}"
      data-section-id="{{ section.id }}"
      data-section-type="featured-image"
      id="featured-image"
      style= "
          background-image: url('{{ section.settings.image | img_url:'2048x' }}');
          height: 100vh !important;
          background-color: {{ section.settings.hero_background_color }}"
  >
    <div class ="overlay" style="background-color:{{ section.settings.hero_overlay_color }}; !important; opacity:{{ overlayOpacity }};"></div>
    <div class="featured-image-section-inner text-center">
      {% if section.settings.heading != blank %}
        <h2 class="slide-title rotate text-left {{ section.settings.text_color }}">{{ section.settings.heading | escape }}</h2>
      {% endif %}
      {% if section.settings.subheading1 != blank %}
        <h2 class="slider-caption main-subheading {{ section.settings.text_color }}">{{ section.settings.subheading1 | escape }}</h2>
      {% endif %}
      {% if section.settings.subheading2 != blank %}
        <h2 class="slider-caption main-subheading {{ section.settings.text_color }}">{{ section.settings.subheading2 | escape }}</h2>
      {% endif %}
      {% if section.settings.btn_text != blank %}
        <a class="btn call-to-action" href="{{ btn_link }}">{{ section.settings.btn_text | escape }}</a>
      {% endif %}
    </div>
  </div>
</noscript>
<style>
  @media (max-width:768px){
    .featured-image-section--{{ section.id }}{
      background-image: url('{{ section.settings.image_mobile_1 | img_url:'master' }}') !important;
      background-repeat: no-repeat !important;
      background-attachment: initial !important;
      background-position: center bottom !important;
    }
  }
  @media (max-width:767px){
    .featured-image-section--{{ section.id }}{
      background-size: cover !important;
    }
  }
  @media only screen and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1){
    .featured-image-section--{{ section.id }}{
      background-image: url('{{ section.settings.image_mobile_1 | img_url:'master' }}') !important;
      background-size: auto 100% !important;
      background-color: #222222 !important;
      background-position: center bottom !important;
      background-attachment: initial !important;
    }
    .template-index .featured-image-section .featured-image-section-inner{
      top: 25%;
    }
  }
  @media only screen  and (min-width : 1400px) {
    h1.slide-title{
      left: 25px;
    }
  }
</style>
{% schema %}
  {
  "name": "Featured image",
  "settings": [
  {
  "type": "header",
  "content": "Image"
  },
  {
  "type": "image_picker",
  "id": "image",
  "label": "Image"
  },
  {
  "type": "image_picker",
  "id": "image_mobile_1",
  "label": "Mobile Image"
  },
  {
  "type": "select",
  "id": "image_height",
  "label": "Image height",
  "default": "one-hundred-height-hero",
  "options": [
  {
  "value": "one-hundred-height-hero",
  "label": "Full screen height"
  },
  {
  "value": "original-height",
  "label": "Image height"
  },
  {
  "value": "seven-fifty-height-hero",
  "label": "750px"
  },
  {
  "value": "sixty-fifty-height-hero",
  "label": "650px"
  },
  {
  "value": "five-fifty-height-hero ",
  "label": "550px"
  },
  {
  "value": "four-fifty-height-hero",
  "label": "450px"
  }
  ]
  },
  {
  "type": "select",
  "label": "Center point of image",
  "id": "image_position",
  "default": "bg-pos-center-center",
  "options": [
  {
  "value": "bg-pos-top-center",
  "label": "Top"
  },
  {
  "value": "bg-pos-right-center",
  "label": "Right"
  },
  {
  "value": "bg-pos-center-center",
  "label": "Center"
  },
  {
  "value": "bg-pos-left-center",
  "label": "Left"
  },
  {
  "value": "bg-pos-bottom-center",
  "label": "Bottom"
  }
  ]
  },
  {
  "type": "range",
  "id": "overlay_opacity",
  "label": "Opacity",
  "min": 0,
  "max": 95,
  "step": 5,
  "unit": "%",
  "default": 30
  },
  {
  "type": "color",
  "id": "hero_overlay_color",
  "label": "Overlay color",
  "default": "#000"
  },
  {
  "type": "color",
  "id": "hero_background_color",
  "label": "background color",
  "default": "#fff"
  },
  {
  "type": "checkbox",
  "id": "enable_parallax",
  "label": "Enable parallax",
  "default":true
  },
  {
  "type": "header",
  "content": "Text"
  },
  {
  "type": "text",
  "id": "heading",
  "label": "Heading",
  "default": "Welcome to Palo Alto"
  },
  {
  "type": "textarea",
  "id": "subheading1",
  "label": "Subheading 1",
  "default": "Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  },
  {
  "type": "textarea",
  "id": "subheading2",
  "label": "Subheading 2",
  "default": "Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  },
  {
  "type": "select",
  "id": "text_color",
  "label": "Text color",
  "default": "text-light",
  "options": [
  {
  "value": "text-light",
  "label": "Light"
  },
  {
  "value": "text-dark",
  "label": "Dark"
  }
  ]
  },
  {
  "type": "header",
  "content": "Button"
  },
  {
  "type": "text",
  "id": "btn_text",
  "label": "Text"
  },
  {
  "type": "url",
  "id": "btn_link",
  "label": "Link"
  }
  ],
  "presets": [
  {
  "name": "Featured image",
  "category": "Image"
  }
  ]
  }
{% endschema %}
