<!-- /sections/featured-image.liquid -->

{% if section.settings.enable_parallax %}
  {% assign bg_attachment = "ba-fixed" %}
{% endif %}

{% if section.settings.btn_link != blank %}
  {% assign btn_link =  section.settings.btn_link  %}
{% else %}
  {% assign btn_link = "#!" %}
{% endif %}
{% assign overlayOpacity = section.settings.overlay_opacity | prepend: '.' %}
<style>
h2.slide-title.second-h2 {
    font-size: 21px;
    color: #000;
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #000;
    max-width: 80%;
    margin: auto;
    margin-bottom: 40px;
}
</style>
  <h2 class="second-h2 slide-title main-heading mobile-only">{{ section.settings.heading | escape }}</h2>

<div data-aos="fade-up-left" data-aos-duration="700"
class = "featured-image-section no-caption featured-image-section--{{ section.id }} {{ bg_attachment }} {{ section.settings.image_position }} {{ section.settings.image_height }} {% if section.settings.image == blank %} placeholder-bg {% endif %} lazyload"
data-section-id="{{ section.id }}"
data-section-type="featured-image"
id="featured-image"
data-bgset="{% include 'bgset', image: section.settings.image %}"
data-sizes="auto"
data-parent-fit="cover"
style= "{% if section.settings.image == blank %}
    background-image: url(' {% include 'placeholder_svg_uri', placeholder : 'image' %} ');
    height: 100vh !important;
  {% endif %}"
>
  <h1 class="slide-title rotate main-heading desktop-only">{{ section.settings.heading | escape }}</h1>

<div class="mobile-only">
  <img src="{{section.settings.image | img_url:'master' }}"style="max-width: 100vw" >
</div>

<div class ="overlay desktop-only" style="background-color:{{ section.settings.hero_overlay_color }}; !important; opacity:{{ overlayOpacity }};"></div>
    <div class="featured-image-section-inner desktop-only text-left">

    {% if section.settings.subheading != blank %}
    <h2 class="slider-caption main-subheading {{ section.settings.text_color }}">{{ section.settings.subheading | escape }}</h2>
    {% endif %}
    {% if section.settings.btn_text != blank %}
      <a class="btn call-to-action" href="{{ btn_link }}">{{ section.settings.btn_text | escape }}</a>
    {% endif %}
    </div>
  	<img class="ipad-only" src="{{section.settings.image | img_url:'master' }}" >
</div>
<style>
 @media (min-width:1280px){
     #about .featured-image-section{
        margin: 10vw 0 10vw 20vw;
     }
     #about h1.slide-title{
       color: #000;
       bottom: 3.6vw;
       left: -20vw;
     }
 }
 @media (min-width:1680px){
     #about .featured-image-section{
        margin: 10vw 0 10vw 20vw;
     }
     #about h1.slide-title{
       color: #000;
       bottom: 2vw;
       left: -17vw;
     }
 }
 @media (max-width: 768px){
   h1.slide-title{
     font-size: 21px;
     color: #000;
     padding: 30px 0 20px 0;
     border-bottom: 1px solid #000;
     max-width: 80%;
     margin: auto;
     margin-bottom: 40px;
   }
   .featured-image-section{
     background: none !important;
     height: auto !important;
   }
   .featured-image-section-inner{
     display: block;
     max-width: 85%;
     margin: auto;
   }
   .featured-image-section-inner h3{
      font-family: "Mukta",sans-serif;
      font-weight: 700;
      color: #000;
      font-size: 23px;
      letter-spacing: 3px;
   }
 }
</style>
{% schema %}
  {
  "name": "Featured image About",
  "class" : "featured-image",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image height",
      "default": "one-hundred-height-hero",
      "options": [
      {
          "value": "one-hundred-height-hero",
          "label": "Full screen height"
        },
        {
          "value": "original-height",
          "label": "Image height"
        },
        {
          "value": "seven-fifty-height-hero",
          "label": "750px"
        },
        {
          "value": "sixty-fifty-height-hero",
          "label": "650px"
        },
        {
          "value": "five-fifty-height-hero ",
          "label": "550px"
        },
        {
          "value": "four-fifty-height-hero",
          "label": "450px"
        }
      ]
    },
    {
      "type": "select",
      "label": "Center point of image",
      "id": "image_position",
      "default": "bg-pos-center-center",
      "options": [
        {
          "value": "bg-pos-top-center",
          "label": "Top"
        },
        {
          "value": "bg-pos-right-center",
          "label": "Right"
        },
        {
          "value": "bg-pos-center-center",
          "label": "Center"
        },
        {
          "value": "bg-pos-left-center",
          "label": "Left"
        },
        {
          "value": "bg-pos-bottom-center",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Opacity",
      "min": 0,
      "max": 95,
      "step": 5,
      "unit": "%",
      "default": 30
    },
    {
      "type": "color",
      "id": "hero_overlay_color",
      "label": "Overlay color",
      "default": "#000"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "Enable parallax",
      "default":true
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome to Palo Alto"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Cras justo odio, dapibus ac facilisis in, egestas eget quam."
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-light",
      "options": [
        {
          "value": "text-light",
          "label": "Light"
        },
        {
          "value": "text-dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link"
    }
  ]
}
{% endschema %}
