<!-- /sections/featured-collection.liquid -->

{% assign collection = collections[section.settings.featured_collection] %}
{% assign productsNumber =  50  %}

{% for product in collection.products limit: productsNumber %}
{% else %}
{% unless emptyState %}
{% assign emptyState = true %}
{% endunless %}
{% endfor %}
<style>
#h2-freatured-products{
  text-align: left;
  border-bottom: 1px solid #000;
  padding-bottom: 18px;
  font-size: 20px;
  color: #000;
  margin-bottom: 30px;
  padding-top: 50px;
}
</style>
<div class = "featured-collection-section text-center{% if emptyState %}empty-featured-collection{% endif %}" id="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
      <!-- <h1 class="section-title rotate desktop-only side-title-home">{{section.settings.title}}</h1> -->
      <div class="wrapper mobile-only" ><h2 class="section-title " id="h2-freatured-products" >{{section.settings.title}}</h2></div>

  <div class="grid--full home-featured-collection featured-collection wrapper">

    {% for product in collection.products limit:productsNumber %}
      {% if  product.tags contains 'HOME_FEATURE_1' %}
      <!-- product HOME_FEATURE_1 -->
          {% include 'product-grid-item' %}
          {% break %}
      {% endif %}
    {% endfor %}

    {% for product in collection.products limit:productsNumber %}
      {% if  product.tags contains 'HOME_FEATURE_2' %}
      <!-- product HOME_FEATURE_2 -->
          {% include 'product-grid-item' %}
          {% break %}
      {% endif %}
    {% endfor %}

    {% for product in collection.products limit:productsNumber %}
      {% if  product.tags contains 'HOME_FEATURE_3' %}
      <!-- product HOME_FEATURE_3 -->
          {% include 'product-grid-item' %}
          {% break %}
      {% endif %}
    {% endfor %}



  </div>
  <div class="grid--full wrapper home-btn-wrapper">
    <a class="btn call-to-action home-btn invert-on-hover-alt" href="/collections/hemp-food">VIEW ALL PRODUCTS</a>
  </div>
</div>
<style>
.grid__image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid__image a.wrap{
  width: 100%;
}
.featured-collection .product-item-parent:nth-of-type(3n+3 ){
  margin-right: 0;
}
@media (max-width:1400px){
  .featured-collection-section .section-title{
    bottom: 170px;
  }
  .product-item-parent h3 a, .product-item-parent h3 span{
    font-size: 17px;
  }
}
@media only screen  and (min-width : 1020px) {
  .featured-collection .product-item-parent{
    margin-right: 80px;
  }
}
@media only screen  and (min-width : 1300px) {
  .featured-collection .product-item-parent{
    margin-right: 120px;
  }
  .featured-collection-section .section-title{
    bottom: 145px;
  }
}
@media only screen  and (min-width : 1824px) {
  .featured-collection-section .section-title{
    bottom: 175px;
  }
}

@media (min-width:800px) and (max-width:1120px){
  .featured-collection .product-item-parent{
    width: 25%;
    margin-right: 30px;
  }
}
</style>
{% schema %}
{
  "name": "Featured collection",
  "settings": [
	{
	"type": "text",
	"id" : "title",
	"label" : "Caption"
	},
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show collection title"
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
