<!-- /sections/footer.liquid -->

<footer style="background: url({{ section.settings.footer_bg | img_url: 'master'}})" class="site-footer" role="contentinfo"  data-section-id="{{ section.id }}"  data-section-type="footer">
  <div class="grid--full wrapper small--text-center footer">


    {% for block in section.blocks %}
      {% case block.type %}

      {% when 'logo' %}
      <div class="grid__item large--one-half alpha  medium-down--one-whole no-padding-right" {{ block.shopify_attributes }}>
        <a href="{{ shop.url }}" class="footer-logo">
        {% if block.settings.image != blank %}
        {%- assign image = block.settings.image -%}
        {%- assign image_widths = '100,295,394,590,700,800' -%}
        {% include 'theme-rias' %}


            <img
            src="{{ image | img_url: '1024x' }}" 
            alt="{{shop.name}}"

             >

          {% else %}
          <style> .footer-logo svg {width:{{ block.settings.logo_width | remove: 'px' | append: 'px' }};}</style>
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg-filled' }}
          {% endif %}
        </a>
        <div class="grid__item large--one-whole mobile-only no-padding no-padding-right" {{ block.shopify_attributes }}>
          <h5>{{ block.settings.newsletter_title | escape }}</h5>
          {% include 'footer-newsletter-mc' %}
        </div>
      </div>

        {% when 'link' %}
        <div class="grid__item large--one-quarter beta {{linklists[block.settings.foot-menu].handle }} medium-down--one-half footer-menu " {{ block.shopify_attributes }}>
          <div class="grid--full">
            {% for link in linklists[block.settings.foot-menu].links %}
            <div class="grid__item large--one-whole medium-down--one-third footer_link-item  small--text-left large--text-right">
              <a {% if link.title =='Blog' %} target="_blank" {% endif %} class="footer-link" href="{{ link.url }}">{{ link.title }}</a>

            </div>
            {% endfor %}
          </div>
        </div>

        {% when 'blog' %}
        <div class="grid__item large--one-quarter medium-down--one-whole" {{ block.shopify_attributes }}>
          {% assign article = blogs[block.settings.blog_widget_select].articles.first %}
          <a class="article-title" href="{{ article.url }}" title="{{ article.title }}"> {{ article.title }}</a>
          {% if article.excerpt.size > 0 %}
          <p class="article-excerpt">{{ article.excerpt | link_to: article.url }}</p>
          {% else %}
          <p class="article-excerpt">{{ article.content | strip_html | truncatewords: 12 | link_to: article.url }}</p>
          {% endif %}
        </div>

        {% when 'newsletter' %}



        {% when 'text' %}
        <div class="grid__item large--one-quarter medium-down--one-whole footer-text" {{ block.shopify_attributes }}>
          <div>{{ block.settings.footer_text }}</div>
        </div>

      {% endcase %}
    {% endfor %}
    <div class="grid__item pull-right gamma no-padding-right f-social large--one-half medium-down--text-center large--text-right">
      {% include 'footer-social' %}

      <hr class="mobile-only">
      <div class="mobile-only">
        {% include 'footer-payment' %}
        {% include 'footer-copyright' %}
      </div>
    </div>




  </div>

  <div class="grid--full wrapper small--text-center footer desktop-only desktop-footer">
    <div class="grid__item alpha large--one-half no-padding no-padding-right" {{ block.shopify_attributes }}>
      {% include 'footer-newsletter-mc' %}
    </div>
    <div class="grid__item gamma large--one-half no-padding no-padding-right payment large--text-right" {{ block.shopify_attributes }}>
      {% include 'footer-payment' %}
      {% include 'footer-copyright' %}
    </div>

  </div>



</footer>
<style type="text/css">
  @media only screen  and (min-width : 1400px) {

  }

@media (max-width: 768px){
  .payment-icon-list img{
    width: 55px;
  }
  .payment-icon-list{
    max-width: 90%;
    margin: auto;
    margin-top: 15px;
  }
}
</style>
{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
    "settings": [
   		{
        "type": "image_picker",
		"id": "footer_bg",
		"label": "Footer Background"
       }
    ],
  "blocks": [
    {
      "type": "link",
      "name": "Link list",
      "settings": [
        {
          "type": "link_list",
          "id": "foot-menu",
          "label": "Link list",
          "default": "footer",
          "info":"This menu won't show dropdown items"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "footer_text",
          "label": "Text",
          "default": "<p>Leave your customers with a final message about your brand in this rich text block.</p>"
        }
      ]
    },
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
        {
          "type": "blog",
          "id": "blog_widget_select",
          "label": "Choose blog to show recent article excerpts"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "paragraph",
          "content": "Subscribers are added as customers in your site admin. Download the [Mailchimp app](https:\/\/apps.shopify.com/mailchimp) to sync with Mailchimp."
        },
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo"
        },
        {
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width (in pixels)",
          "min":0,
          "max":400,
          "default": 100,
          "step":5,
          "unit":"px"
        },
        {
          "type": "checkbox",
          "id": "show_social_links",
          "label": "Show social icons",
          "info":"Edit your social settings and accounts in General settings",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "label": "Show payment icons",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
