<style>
.site-header__logo img { width:{{ section.settings.logo_max_width | append:'px' }};
</style>


{% if settings.color_header_bg == "rgba(0,0,0,0)" and settings.color_nav_home == "#ffffff" and section.settings.header_position == "fixed" %}
{% assign colorFix = "color-fix" %}
{% endif %}


{% if section.settings.show_announcement_bar %}
<div class = "top-bar wrapper" style="background:{{ section.settings.color_announcement_bar_bg }};">
  <a href="{{section.settings.link}}" style="color: {{ section.settings.color_announcement_bar_text }};">
  {{section.settings.top_bar_text | truncatewords: 50 | strip_html }}
  </a>
</div>
{% endif %}
{% include 'nav-drawer' %}

<header class="site-header top " role="banner" data-section-id="{{ section.id }}"  data-section-type="header" data-position="{{section.settings.header_position}}">

	<div class="wrapper {% if section.settings.top_bar_text != blank %}site-header-wrapper{% endif %}">
		<div class="grid--full grid--table">
		{% include 'site-logo' %}
		{% include 'site-nav' %}
		</div>
	</div>
  <div class="space-maker"></div>

</header>
<style type="text/css">
  @media only screen  and (min-width : 1400px) {
    .site-header .grid--table{
      padding-bottom: 0;
    }
    .mobile-toggle-menu .account-icon{
      position: relative;
      top: 1px;
    }
  }

</style>

{% schema %}
{
  "name": "Header",
  "class": "header-wrapper",
  "settings": [
    {
      "type": "select",
      "id": "header_position",
      "label": "Position",
      "default": "fixed",
      "options": [
        {
          "value": "fixed",
          "label": "Stick to top on scroll"
        },
        {
          "value": "relative",
          "label": "Hide on scroll"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo (Home page only)"
    },
    {
      "type": "image_picker",
      "id": "logo_not_home",
      "label": "Custom logo"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "min":50,
      "max":400,
      "default": 100,
      "step":5,
      "unit":"px"
    },
    {
      "type": "checkbox",
      "id": "show_shop_name",
      "label": "Show shop name"
    },
    {
      "type": "link_list",
      "id": "main-menu",
      "label": "Link list",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type":"checkbox",
      "id":"show_announcement_bar",
      "label":"Show announcement bar"
    },
    {
      "type": "textarea",
      "id": "top_bar_text",
      "label": "Text",
      "default": "Announce something here"      
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "color_announcement_bar_bg",
      "label": "Background",
      "default": "#fafafa"
    },
    {
      "type": "color",
      "id": "color_announcement_bar_text",
      "label": "Text",
      "default": "#333"
    }
  ]
}
{% endschema %}