<!-- /sections/rich-text-with-media.liquid -->

{% if section.settings.image == blank %}
  {% assign no_image = "no-image" %}
{% endif %}

<!-- Video section-->
<div data-section-id="{{ section.id }}" data-section-type="rich-text-with-media" class = "featured-content-section has-image" id="featured-content">
  <div class = "grid--full">
    <div class = "grid__item large--nine-tenths medium-down--one-whole featured-content-overlay">
    <div class = "featured-content-padding"></div>
    <div class="grid--full grid--table featured-content-wrapper">

      <!-- Left col -->
      <div class="grid__item medium-down--one-whole video-image-parent">
        <div class = "video-image-wrapper {{ no_image }}">
          {% unless section.settings.image == blank %}
                {%- assign image = section.settings.image -%}
                {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
                {% include 'theme-rias' %}
                <img 
                   class="lazyload lazyload video-image"
                   data-src="{{ image_url_pattern }}"
                   data-widths= "[{{ image_widths }}]"
                   data-aspectratio="{{image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ image.alt | escape }}">
                <noscript>
                  <img class = "lazyload video-image" src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
                </noscript>
          {% else %}
            <span class = "video-image">{{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg-filled' }}</span>
          {% endunless %}

          {% unless section.settings.video_url == blank %}
            <a class="play-button animated fadeInLeftBig _1" href="{{ section.settings.video_url }}">
              <span class = "filled-circle custom-icon-filled-circle"></span>
              <span class = "stroke-circle custom-icon-stroke-circle"></span>
              <span class = "triangle custom-icon-triangle"></span>
            </a>
          {% endunless %}
        </div>
      </div>

      <!-- Right col -->
      <div class="grid__item medium-down--one-whole video-text-col">
        <div class="video-wrapper">
            {% if section.settings.heading %}
              <h3>{{section.settings.heading}}</h3>
            {% endif %}
            {% if section.settings.text %}
              <span>{{ section.settings.text }}</span>   
            {% endif %}
            {% if section.settings.button_text %}
            <a class = "btn--small" href ="{{section.settings.button_url}}">{{section.settings.button_text}}</a>
            {% endif %}
            <span class="featured-content-spacer-line"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Story"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type":"text",
      "id":"button_text",
      "label":"Button text",
      "default":"Learn More"
    },
    {
      "type":"url",
      "id":"button_url",
      "label":"Button link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "id": "video_url",
      "type": "text",
      "label": "Video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    }
  ],
  "presets": [
    {
      "name": "Image with media",
      "category": "Text"
    }
  ]
}
{% endschema %}