<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" integrity="sha384-YGnnOBKslPJVs35GG0TtAZ4uO7BHpHlqJhs0XK3k6cuVb6EBtl+8xcvIIOKV5wB+" crossorigin="anonymous"></script>

{% if section.blocks.size > 0 %}
  <div class="image-grid-wrapper wrapper">
    <!-- <h1 class="section-title desktop-only rotate" style="left:-10px">{{section.settings.title}}</h1> -->
    <!-- <div class="wrapper mobile-only"><h2 class="section-title">{{section.settings.title}}</h2></div> -->
    <div class="carousel">
      {% for block in section.blocks %}

        <div class="grid__item small--one-half medium--one-third large--one-third text-center">
          <div class="title mobile-only">0{{forloop.index}} / {{ block.settings.cta_label}}</div>
          <img src="{{ block.settings.image}}">
          <div class="title desktop-only">{{ block.settings.cta_label}}</div>
        </div>

      {%endfor%}
    </div>
  </div>
{%endif%}
<style>
  .image-grid-wrapper .title{
    font-size: 17px;
    font-family: "Mukta",sans-serif;
    font-weight: 700;
  }
  @media (max-width: 768px){
    .image-grid-wrapper{
      padding-top: 0;
      padding-bottom: 0;
    }
    .slick-slider{
      padding-top: 2em;
    }

  }
  @media only screen  and (min-width : 1824px) {
    .image-grid-wrapper .section-title{
      bottom: 190px;
    }
  }
</style>
<script>
    function checkCarousel(){
        if ($(window).width() <= 1024){
//           if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
            if(!$('.carousel').hasClass('slick-initialized')){
                $('.carousel').slick({
                    dots: true,
                    autoplay: false,
                    slidesToShow: 1,
                    autoplaySpeed: 3000,
                    nextArrow: '<button class=next-arrow><img src={{'arrow-right.svg' | asset_url }}"></button>"',
                    prevArrow: '<button class=prev-arrow><img src={{'arrow-left.svg' | asset_url }}></button>'
                });
            }
//           }
        } else {
            $('.carousel').slick('unslick');
        }
    }
    $(document).ready(function(){
        var wWidth = $(window).width();
        checkCarousel();
        $(window).on('resize', function(){
            if($(window).width() != wWidth){
                wWidth = $(window).width();
                checkCarousel();
            }
        });
    });
</script>
{% schema %}
  {
  "name": "Image Grid",
  "max_blocks": 6,
  "settings": [
  {
  "type": "text",
  "id": "title",
  "label": "Section Title"
  }
  ],
  "blocks": [
  {
  "type": "image",
  "name": "Image",
  "settings": [
  {
  "type": "text",
  "id": "image",
  "label": "Image"
  },
  {
  "type": "text",
  "id": "cta_label",
  "label": "Caption"
  }
  ]
  }
  ],
  "presets": [
  {
  "name": "Gallery",
  "category": "Image"
  }
  ]
  }
{% endschema %}
