<!-- /sections/instagram.liquid -->

{% assign rows = section.settings.rows | plus:0 %}
{% assign num_photos = rows | times: 5 %}

  {% if settings.social_instagram_link != blank %}

<div class="insta-featured">
  <a href="{{ settings.social_instagram_link }}" target="_blank" class="insta-featured-link" style="display:block;width: 100%;padding: 25px 0">
  <h2>
  <img src="{{ 'insta-featured.png' | asset_url }}" width="70">
  FIND US @SAINTHEMP</h2>
  </a>
</div>
  {%endif%}

<div data-section-type="instagram" data-section-id="{{ section.id }}">
  <div class = " clearfix">
    <div id="instafeed" class="grid--full" data-access-token="{{ section.settings.instagram_access_token }}" data-num-photos="{{ num_photos }}"></div>
    {% if section.settings.section_title != blank %}<h2 class = "text-center">{{ section.settings.section_title }}</h2>{% endif %}
    {% if section.settings.instagram_access_token == blank %}
      {% for i in (1..5) %}
       <div class ="grid__item large--one-fifth medium-down--one-whole " style="padding-left:0px !important;"> {{ 'image' | placeholder_svg_tag: "placeholder-svg-filled" }}</div>
      {% endfor %}
    {% endif %}
  </div>
</div>

<style>

</style>
{% schema %}
{
  "name": "Instagram",
  "class":"instagram-section",
  "settings": [
    {
      "type": "text",
      "id": "instagram_access_token",
      "label": "Instagram access token",
      "info": "[Get your access token](http://pagemilldesign.com/instagram-privacy-policy)"
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min":1,
      "max": 6,
      "step":1,
      "default": 2
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Instagram"
    }
  ],
  "presets": [
    {
      "name": "Instagram",
      "category": "Social"
    }
  ]
}
{% endschema %}