<!-- /sections/newsletter.liquid -->

<div class = "newsletter-section" id = "newsletter" data-section-id="{{ section.id }}"  data-section-type="newsletter">
  <h2>{{ section.settings.title | escape }}</h2>
  {% if section.settings.subtitle %}
  <p>{{ section.settings.subtitle | escape }}</p>
  {% endif %}
  <div class="newsletter">
    {% form 'customer' %}
        {% if form.posted_successfully? %}
          <div class="newsletter--form">
            <div class="note form-success">{{ 'general.newsletter_form.newsletter_success' | t }}</div>
          </div>
        {% elsif form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}

          <input type="hidden" name="contact[accepts_marketing]" value="true">
          <div class="newsletter--form">
            <div class="input-group">

                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email' | t }}" name="contact[email]" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.email' | t }}" autocorrect="off" autocapitalize="off">

                <span class="input-group-btn">
                  <button type="submit" name="subscribe" id="subscribe" value="">
                    <i class = "custom-icon-long-arrow"></i>
                  </button>
                </span>                    
            </div>
          </div>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "paragraph",
      "content": "Subscribers are added as customers in your site admin. Download the [Mailchimp app](https:\/\/apps.shopify.com/mailchimp) to sync with Mailchimp."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
      "default": "Subscribe for updates"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "promotional"
    }
  ]
}
{% endschema %}
