<!-- /sections/article-template.liquid -->

{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}

{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<style>
  .recipes-wrapper .block .block-overlay{
    width: 100%;
  }
  @media (min-width:1400px){
    .recipes-wrapper{
      max-width:73vw;margin:auto;padding-top: 0;
    }
  }
</style>
{% capture tag_html %}
{% assign tag_size = article.tags.size %}
{% assign tag_i = 1 %}
  {% for tag in article.tags limit:1 %}
    <a href="{{ settings.blog_page_url }}/?f={{ tag | url_encode }}" title="{{tag}}">{{tag}}</a>
    {% if tag_i != tag_size %}{% endif %}
    {% assign tag_i = tag_i | plus: 1 %}
  {% endfor %}
{% endcapture %}
{% capture tag_encoded %}{{tag | url_encode}}{% endcapture %}
<div id="article-template-news" class="shopify-section s-news-article-wrapper">
  <div class="s-fullwidth-header">
    {% assign image = article.image %}
    <img class = "" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
  </div>
  <div class="s-blog-wrapper s-blog-article clearfix">
    <h1 class="news-title">{{ article.title }}</h1>
    <div class="article-meta"><p>{{ article.published_at | date: "%d %B %Y" }}<span>|</span><i class="unbreakable">By {{ article.author }}</i><span>|</span>{{ tag_html }}</p></div>
    <div class="article-excerpt"><p>{{ article.excerpt }}</p></div>
    <div class="article-index">
      <p>IN THIS ARTICLE</p>
      <div id="article-index-list"><ul></ul></div>
    </div>
    <div class="content">
      {{ article.content }}
    </div>
    <!-- start test -->
    <hr>
    <!-- end test -->
    {% if section.settings.show_share_buttons %}
      {% include 'article-sharing'%}
    {% endif %}
    <div class="article-related-products">
      {% include 'article-related-product' %}
    </div>
  </div>
  <div class="article-related-post-wrapper">
    <div class="article-related-post">
      {% include 'article-related-post' %}
    </div>
  </div>

  {% if blog.comments_enabled? %}
    <div class="s-blog-wrapper s-blog-article clearfix">
      <!-- yes -->
      {% if number_of_comments > 0 %}
        <ul class="no-bullets">
          {% comment %}
            If a comment was just submitted with no blank field, show it.
          {% endcomment %}
          {% if comment and comment.created_at %}
            <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">

            </li>
          {% endif %}

          {% comment %}
            Showing the rest of the comments.
          {% endcomment %}
          {% for comment in article.comments %}
            <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
              {% include 'comment' %}
            </li>

            {% unless forloop.last %}
              <li><hr></li>
            {% endunless %}
          {% endfor %}
        </ul>
      {% endif %}
      <hr>

      <div class="form-vertical">
        {% form 'new_comment', article %}
          <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>

          {% if form.errors %}
            <div class="errors"><ul>
                {% for field in form.errors %}
                  {% if field == 'author' %}
                    <li>Name {{ form.errors.messages[field] }}</li>
                    {% elsif field == 'body' %}
                    <li>Messages {{ form.errors.messages[field] }}</li>
                  {% else %}
                    <li>{{ field | capitalize }} {{ form.errors.messages[field] }}</li>
                  {% endif %}
                {% endfor %}
              </ul></div>
          {% endif %}

          <div class="grid">

            <div class="grid__item large--one-half">
              <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
              <input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}" autocapitalize="words">

              <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
              <input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
            </div>

            <div class="grid__item large--one-half">
              <label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
              <textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
            </div>

          </div>

          {% if blog.moderated? %}
            <p>{{ 'blogs.comments.moderated' | t }}</p>
          {% endif %}

          <input type="submit" class="btn" value="submit">
        {% endform %}
      </div>
    </div>
  {% endif %}
  <script>
      jQuery('.s-blog-article .content h2').each(function(i, el){
          var hId = 's-heading-' + i;
          $(el).attr('id', hId);
          if($(el).text() != '') {
              jQuery('#article-index-list ul').append('<li><a href="#'+hId+'">'+$(el).text()+'</a></li>');
          }
      });
      jQuery('#article-index-list a').on('click', function(e){
          e.preventDefault();
          var target = jQuery(this).attr('href');
          jQuery('html, body').animate({
              scrollTop: jQuery(target).offset().top - jQuery('header.site-header').height()
          }, 2000);
      });
  </script>
</div>
{% schema %}
  {
  "name": "Posts",
  "settings": [
  {
  "type": "checkbox",
  "id": "show_share_buttons",
  "label": "Show social sharing buttons",
  "default": true
  }
  ]
  }
{% endschema %}
