{% layout 'password' %}
  <style>
  .password-page__wrapper {
    {% if section.settings.background_image %}
    background-image: url("{{ section.settings.background_image | img_url: '2048x' }};");
    {% else %}
    background-image: url("{{'password-page-background.jpg' | asset_url}}");
    {% endif %}
  }
  .password-logo { width:{{ section.settings.logo_max_width | append:'px' }};
  </style>
  <body class = "template-password">
    <div class="password-page__wrapper" data-section-type="password-template" data-section-id="{{ section.id }}">
      <div class="password-page__signup-form wrapper">
        <div class = "toggle-wrapper">
          <small>
          <a href = "#" id = "AdminLoginToggle" class = "inline-list" onclick="$('#AdminLogin').show();$('#CustomerSignup').hide();$('.errors').hide();"> {{ 'password.buttons.store_login' | t }}</a> |
          <a href = "#" id = "NewsletterToggle" class = "inline-list" onclick ="$('#AdminLogin').hide();$('#CustomerSignup').show();$('.errors').hide();">{{ 'password.buttons.newsletter_signup' | t }}</a>
          </small>
        </div>
        <div class = "grid">
          <div class = "grid__item large--one-half push--large--one-quarter medium-down--one-whole">
          {% if section.settings.logo %}
           <img class = "password-logo" src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}" itemprop="logo">
           {% endif %}
            {% if section.settings.show_shop_name %}
            <h1 class="text-center">{{ shop.name }}</h1>
            {% endif %}
            <h3>{{ 'password.page.title' | t  }}</h3>
            {% unless shop.password_message == blank %}
            <p>{{ shop.password_message }}</p>
            {% endunless %}
          {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
              <p>{{ 'password.form.success' | t }}</p>
            {% else %}
              <div id ="CustomerSignup">
                <p>{{ 'password.form.newsletter_title' | t }}</p>
                <input class = "signup-input inline-list" type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.placeholder' | t }}">
                <input type="submit" class = "btn--small customer-signup-button" value="{{ 'password.buttons.sign_up' | t }}">
              </div>
            {% endif %}
          {% endform %}
            {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            {% else %}
              <div id = "AdminLogin" style = "display:none">
                <p>{{ 'password.buttons.store_login' | t }}</p>
                <input class = "inline-list password-input" type='password' name='password' id='password'>
                <input type="submit" class="btn--small password-login-button" value="{{ 'password.buttons.login' | t }}" >
              </div>
            {% endif %}
          {% endform %}
          <div>
            <!-- Social Icons -->
            {% if settings.social_sharing_products %}
              {% include 'social-sharing' %}
            {% endif %}
            <small>{{ powered_by_link }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Password page",
  "class": "password",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shop_name",
      "label": "Show shop name",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "min":50,
      "max":400,
      "default": 200,
      "step":5,
      "unit":"px"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image",
      "info": "2048px width recommended"
    }
  ]
}
{% endschema %}
