<!-- /sections/product-template.liquid -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>

<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" integrity="sha384-YGnnOBKslPJVs35GG0TtAZ4uO7BHpHlqJhs0XK3k6cuVb6EBtl+8xcvIIOKV5wB+" crossorigin="anonymous"></script>

<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" integrity="sha384-axi5ffQG1HW3hkExwml/y1xQHdTCM5KumQS+E7XSolfUkIPC7Ev/l3UCd71SU+3L" crossorigin="anonymous"></script>

{{ 'product.css' | asset_url | stylesheet_tag }}

{% comment %}
Rich snippets
{% endcomment %}
<div>
<meta  content="{{ product.title }}">
<meta  content="{{ shop.url }}{{ product.url }}">
<meta   itemprop="ulr" content="{{ product.featured_image.src | img_url: '800x' }}">
<!-- insert here global identifier (e.g. isbn, mpn or gtin8) -->
<meta   itemprop="sku" content="{{ product.variants.first.sku }}">
<!-- insert here global identifier (e.g. isbn, mpn or gtin8) -->
<meta  itemprop="gtin8"  content="{{ product.variants.first.barcode }}">

{% comment %}
Establish thumbnail grid
{% endcomment %}
{% assign thumbnailLength = product.images | size %}

{% comment %}
Hide if there are no variant images
{% endcomment %}
{% assign thumbnailColumns = 'grid__item large--hide medium-down--hide' %}
{% if thumbnailLength == 1 %}
  {% assign thumbnailColumns = 'grid__item large--hide medium-down--hide' %}
{% elsif thumbnailLength == 2 %}
  {% assign thumbnailColumns = 'grid__item push--large--one-quarter large--one-quarter medium-down--one-half' %}
{% elsif thumbnailLength == 3 %}
  {% assign thumbnailColumns = 'grid__item one-third' %}
{% elsif thumbnailLength > 3 %}
  {% assign thumbnailColumns = 'grid__item one-quarter' %}
{% endif %}

{% comment %}
Get first variant, or deep linked one
{% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
<div class="grid--full product-single wrapper product--{{section.id}}" data-section-type="product-template" data-section-id="{{section.id}}">
<div class = "grid__item">

<!-- Product Photos -->
<div class = "grid">
<div class="grid__item product-images large--{{ section.settings.product_image_width }} text-center">
  <div class="product-single__photos" id="ProductPhoto">
   <div class="desktop-only">{% include 'breadcrumbs' %}</div>
    <div class ="product-page-table">
         <div class="product-gallery">
          {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
          {% for image in product.images %}

                {% if image.alt contains "cdn.shopify.com" %}
                  <div class="videoWrapNew">
                    <video id="productVideo" height="100%" controls>
                      <source src="{{image.alt}}" />
                    </video>
                  </div>
                {% else %}
                  <div class="image-zoom" style="position:relative !important;">
                    <img data-zoom="{{ image | img_url: 'master'}}" src="{{image | img_url: 'master'}}" />
                  </div>
                 {% endif %}

          {%endfor%}

        </div>
        <div class="product-gallery-nav desktop-only">
            {% for image in product.images %}
              <div>
              <img src="{{image | img_url: 'master'}}">

                {% if image.alt contains "cdn.shopify.com" %}
                <div class="play-icon">
                  <img src="{{'play-icon.png' | asset_url }}" width="32" style="margin-right:10px">
                  <h5>WATCH THE VIDEO</h5>
                </div>

                {% endif %}
              </div>


            {%endfor%}
          </div>
    </div>
  </div>

 <!-- Related Products-->
  <div class="desktop-only">{% include 'related-products' %}</div>
</div>
<!-- Product Description -->
<div class="grid__item large--{{ section.settings.product_image_width }} product-description-wrapper {% if section.settings.text_alignment == 'text-center' %}text-center{% else %}text-left{% endif %}">
  <h1 id="{{product.id}}" class="product-title text-center" itemprop="name" >{{ product.title | remove:'|'}}</h1>
  <h2 id="ProductPrice" class="text-center">
        {% if current_variant.compare_at_price %}
            <s class="reduced-price"  itemprop="price" >{{ current_variant.compare_at_price | money }}</s>
        {% endif %}
          <span itemprop="price"  >{{ current_variant.price | money }}</span>
    </h2>
  <div>
    <meta content="{{ shop.currency }}">


    <meta itemprop="priceValidUntil"  datetime="{{ "now" | date: "%Y-%m-%d"  }}">
    <meta content="{{ product.url }}">
    <meta content="https://sainthemp.com{{ product.url }}">
    <!-- Product Form Snippet -->
    {% include 'product-form' %}
    <div class="mobile-only">{% include 'related-products' %}</div>

  </div>
</div>
</div>
</div>
</div>


</div>
<style>

</style>
<script>
$(document).ready(function(){
         $('.product-gallery').slick({
            dots: true,
            autoplay: false,
            slidesToShow: 1,
            infinite: false,
            draggable: false,
             asNavFor: '.product-gallery-nav',
            nextArrow: '<button class=next-arrow><img src={{'arrow-right.svg' | asset_url }}"></button>"',
            prevArrow: '<button class=prev-arrow><img src={{'arrow-left.svg' | asset_url }}></button>'
        })
        $('.product-gallery-nav').slick({
          slidesToShow: 3,
          asNavFor: '.product-gallery',
          dots: false,
          arrows: false,
          infinite: true,
          focusOnSelect: true
        });


        $('.product-gallery').on('afterChange', function(event, slick, currentSlide) {
          if (currentSlide == 2) {
            $('.product-gallery').slick('slickPause');
            productVideo.play();
          }else{

            productVideo.pause();
          }
        });
        if($(window).width() > 1024){
        $('.image-zoom').zoom({
        url: $(this).find('img').attr('data-zoom')
        })
        }

  })
</script>
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>

<script>
window.product = {{ product | json }};
window.product.money_format = "{{ shop.money_format }}";
window.product.add_label = {% if product.options.size == 1 %}true{% else %}false{% endif %};
window.product.label = "{{ product.options.first | escape }}";
window.selectCallback = PaloAlto.onVariantSelected;
</script>

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type":"header",
      "content":"Layout"
    },
    {
      "type": "select",
      "label": "Product image width",
      "id": "product_image_width",
      "options": [
        {
          "value": "one-half",
          "label": "50%"
        },
        {
          "value": "one",
          "label": "100%"
        }
      ]
    },
    {
      "type": "select",
      "label": "Text alignment",
      "id": "text_alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing_products",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "header",
      "content":"Related Products"
    },
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": true
    },
    {
      "type":"text",
      "id":"related_products_section_title",
      "label":"Title",
      "default":"You Might Also Like"
    },
    {
      "type": "header",
      "content": "Additional content"
    },
    {
      "type": "page",
      "label": "Additional content 1",
      "id": "product_tab_page_one"
    },
    {
      "type": "page",
      "label": "Additional content 2",
      "id": "product_tab_page_two"
    },
    {
      "type": "page",
      "label": "Additional content 3",
      "id": "product_tab_page_three"
    },
    {
      "type":"header",
      "content":"Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    }
  ]
}
{% endschema %}
