{% comment %}  
Desktop layout
{% endcomment %}
<div data-section-id="{{ section.id }}" data-section-type="product-features">
<div class="desktop wrapper">
  {% comment %}  
  Product feature 1
  {% endcomment %}
  {% for block in section.blocks %}
    {% if forloop.index == 1 %}
  <div class="grid--full feature-1-wrapper" {{ block.shopify_attributes }}>
    <div class="grid__item large--two-fifths feature-1-images">
      <div class = "feature-1-image-1">
        {% if block.settings.image_link_1 != blank %}<a href = "{{block.settings.image_link_1}}">{% endif %}
        {% if block.settings.image_1 != blank %}
      {%- assign image = block.settings.image_1 -%}
      {% assign image_widths = '295,394,590,700,800,1000,1024,1500,1800,2000,2400' %}
      {% include 'theme-rias' %}
      <img 
         class="lazyload"
         data-src="{{ image_url_pattern }}"
         data-widths= "[{{ image_widths }}]"
         data-aspectratio="{{image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ image.alt | escape }}">
      <noscript>
        <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
      </noscript>
        {% else %}
          {{ 'image' | placeholder_svg_tag: "placeholder-svg-filled" }}
        {% endif %}
        {% if block.settings.image_link_1 != blank %}</a>{% endif %}
    </div>
      {% if block.settings.image_2 != blank %}
        <div class="feature-1-image-2">
            {% if block.settings.image_link_2 != blank %}<a href = "{{block.settings.image_link_2}}">{% endif %}
                {%- assign image = block.settings.image_2 -%}
                {%- assign image_widths = '295,394,590,700,800,1000,1024,1500,1800,2000,2400' -%}
                {% include 'theme-rias' %}
                <img 
                   class="lazyload"
                   data-src="{{ image_url_pattern }}"
                   data-widths= "[{{ image_widths }}]"
                   data-aspectratio="{{image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ image.alt | escape }}">
                <noscript>
                  <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
                </noscript>
            {% if block.settings.image_link_2 != blank %}</a>{% endif %}
        </div>
      {% endif %}
    </div>
    <div class="feature-1-text">
      <h2>{{ block.settings.heading | escape }}</h2>
      <hr>
      <p>{{ block.settings.description }}</p>
      {% if block.settings.button_text != blank %}
      <a href = "{{block.settings.button_link}}" class ="btn">{{ block.settings.button_text }}</a>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}

  {% comment %}  
  Product feature 2
  {% endcomment %}
    {% for block in section.blocks %}
    {% if forloop.index == 2 %}
  <div class="grid--full feature-2-wrapper" {{ block.shopify_attributes }}>
    <div class = "grid__item large--two-fifths feature-2-images">
        <div class="feature-2-image-1 {% if block.settings.image_1 == blank %}empty-pf{% endif %}">
        {% if block.settings.image_link_1 != blank %}<a href = "{{block.settings.image_link_1}}">{% endif %}
        {% if block.settings.image_1 != blank %}
        {%- assign image = block.settings.image_1 -%}
        {% assign image_widths = '295,394,590,700,800,1000,1024,1500,1800,2000,2400' %}
        {% include 'theme-rias' %}
        <img 
           class="lazyload"
           data-src="{{ image_url_pattern }}"
           data-widths= "[{{ image_widths }}]"
           data-aspectratio="{{image.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ image.alt | escape }}">
        <noscript>
          <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
        </noscript>
        {% else %}
        {{ 'image' | placeholder_svg_tag: "placeholder-svg-filled" }}
        {% endif %}
          {% if block.settings.image_link_1 != blank %}</a>{% endif %}

        </div>
        {% if block.settings.image_2 != blank  %}
          <div class="feature-2-image-2">
            {% if block.settings.image_link_2 != blank %}<a href = "{{ block.settings.image_link_2 }}">{% endif %}
                {%- assign image = block.settings.image_2 -%}
                {% assign image_widths = '295,394,590,700,800,1000,1024,1500,1800,2000,2400' %}
                {% include 'theme-rias' %}
                <img 
                   class="lazyload"
                   data-src="{{ image_url_pattern }}"
                   data-widths= "[{{ image_widths }}]"
                   data-aspectratio="{{image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ image.alt | escape }}">
                <noscript>
                  <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
                </noscript>
            {% if block.settings.image_link_2 != blank %}</a>{% endif %}
          </div>
        {% endif %}
      </div>
    <div class="feature-2-text">
      <h2>{{ block.settings.heading | escape }}</h2>
      <hr>
      <p>{{ block.settings.description }}</p>
      {% if block.settings.button_text != blank %}
      <a href = "{{block.settings.button_link}}" class ="btn">{{ block.settings.button_text }}</a>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% comment %}  
Mobile layout - it's more lightweight than JS magic
{% endcomment %}
<div class = "wrapper mobile">
  {% for block in section.blocks %}
    {% if forloop.index == 1 %}
    <div class="grid--full feature-1-wrapper">
      <div class="feature-1-images">
      
        <div class = "feature-1-image-1">
          {% if block.settings.image_link_1 != blank %}<a href = "{{block.settings.image_link_1}}">{% endif %}
          {% if block.settings.image_1 != blank %}
      {%- assign image = block.settings.image_1 -%}
      {% assign image_widths = '295,394,590,700,800,1000,1024,1500,1800,2000,2400' %}
      {% include 'theme-rias' %}
      <img 
         class="lazyload"
         data-src="{{ image_url_pattern }}"
         data-widths= "[{{ image_widths }}]"
         data-aspectratio="{{image.aspect_ratio }}"
         data-sizes="auto"
         alt="{{ image.alt | escape }}">
      <noscript>
        <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
      </noscript>
          {% else %}
            <div>
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg-filled' }}
            </div>
          {% endif %}
         {% if block.settings.image_link_1 != blank %}</a>{% endif %}

        </div>
      </div>
      <div class="feature-1-text">
        <h2>{{ block.settings.heading | escape }}</h2>
        <hr>
        <p>{{ block.settings.description }}</p>
        {% if block.settings.button_text != blank %}
        <a href = "{{block.settings.button_link}}" class ="btn">{{ block.settings.button_text }}</a>
        {% endif %}
      </div>
    </div>
      {% endif %}
    {% endfor %}

    <div class = "second-images-wrapper">
     {% for block in section.blocks %}
        {% if forloop.index == 1 %}
          {% assign class = "feature-1-image-2" %}
        {% else %}
          {% assign class = "feature-2-image-2" %}
        {% endif %}

       {% for block in section.blocks %}
          {% if forloop.index == 1 %}
            {% if block.settings.image_2 == blank %}
              {% assign noSibling = "no-sibling" %}
            {% endif %}
          {% endif %}
          
          {% if forloop.index == 2 %}
          {% if block.settings.image_2 == blank %}
              {% assign noSibling = "no-sibling" %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if block.settings.image_2 != blank %}
      
            <div class="{{ class }} {{ noSibling }}">
                {% if block.settings.image_link_2 != blank %}<a href = "{{block.settings.image_link_2}}">{% endif %}
                 {%- assign image = block.settings.image_2 -%}
                {% assign image_widths = '295,394,590,700,800,1000,1024,1500,1800,2000,2400' %}
                {% include 'theme-rias' %}
                <img 
                   class="lazyload"
                   data-src="{{ image_url_pattern }}"
                   data-widths= "[{{ image_widths }}]"
                   data-aspectratio="{{image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ image.alt | escape }}">
                <noscript>
                  <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
                </noscript>
                {% if block.settings.image_link_2 != blank %}</a>{% endif %}

            </div>
        {% endif %}
      {% endfor %}
    </div>

    {% for block in section.blocks %}
      {% if forloop.index == 2 %}
        <div class="grid--full feature-2-wrapper">
          <div class="feature-2-text">
            <h2>{{ block.settings.heading | escape }}</h2>
            <hr>
            <p>{{ block.settings.description }}</p>
            {% if block.settings.button_text != blank %}
             <a href = "{{block.settings.button_link}}" class ="btn">{{ block.settings.button_text }}</a>
            {% endif %}
          </div>
          <div class = "feature-2-images">
              <div class="feature-2-image-1">
               {% if block.settings.image_link_1 != blank %}<a href = "{{block.settings.image_link_1}}">{% endif %}

                {% if block.settings.image_1 != blank %}
                {%- assign image = block.settings.image_1 -%}
                {% assign image_widths = '295,394,590,700,800,1000,1024,1500,1800,2000,2400' %}
                {% include 'theme-rias' %}
                <img 
                   class="lazyload"
                   data-src="{{ image_url_pattern }}"
                   data-widths= "[{{ image_widths }}]"
                   data-aspectratio="{{image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ image.alt | escape }}">
                <noscript>
                  <img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
                </noscript>
                {% else %}
                  {{ 'image' | placeholder_svg_tag: "placeholder-svg-filled" }}
                {% endif %}     
                {% if block.settings.image_link_1 != blank %}</a>{% endif %}

              </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
</div> 
</div>

{% schema %}
{
  "name": "Product features",
  "max_blocks": 2,
  "class": "product-features",
  "blocks": [
    {
      "type": "text",
      "name": "Product feature",
      "settings": [
        {
          "type":"header",
          "content":"Text"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "This is a heading for a Product feature block."
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Use this text to share information about the point put forth above. Describe a product, your brand, or what makes you special.</p>"
        },
        {
          "type":"header",
          "content":"Images"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link_1",
          "label": "Image link"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link_2",
          "label": "Image link"
        },
        {
          "type":"header",
          "content":"Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product features",
      "category": "Product",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}