<!-- /sections/product-template.liquid -->

{% comment %}
Rich snippets
{% endcomment %}
<div>
<meta  content="{{ product.title }}">
<meta  content="{{ shop.url }}{{ product.url }}">
<meta  content="{{ product.featured_image.src | img_url: '800x' }}">

{% comment %}
Establish thumbnail grid
{% endcomment %}
{% assign thumbnailLength = product.images | size %}

{% comment %}
Hide if there are no variant images
{% endcomment %}
{% assign thumbnailColumns = 'grid__item large--hide medium-down--hide' %}
{% if thumbnailLength == 1 %}
  {% assign thumbnailColumns = 'grid__item large--hide medium-down--hide' %}
{% elsif thumbnailLength == 2 %}
  {% assign thumbnailColumns = 'grid__item push--large--one-quarter large--one-quarter medium-down--one-half' %}
{% elsif thumbnailLength == 3 %}
  {% assign thumbnailColumns = 'grid__item one-third' %}
{% elsif thumbnailLength > 3 %}
  {% assign thumbnailColumns = 'grid__item one-quarter' %}
{% endif %}

{% comment %}
Get first variant, or deep linked one
{% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
<div class="grid--full product-single wrapper product--{{section.id}}" data-section-type="product-template" data-section-id="{{section.id}}">
<div class = "grid__item">

<!-- Product Photos -->
<div class = "grid">
<div class="grid__item product-images large--{{ section.settings.product_image_width }} text-center">
    {% include 'breadcrumbs' %}
  <div class="product-single__photos" id="ProductPhoto">
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
    <img
        src="{{ featured_image | img_url: 'master' }}"
        alt="{{ featured_image.alt | escape }}">

  </div>


  <!-- Related Products-->
  <div class="desktop-only">{% include 'related-products' %}</div>
</div>
<!-- Product Description -->
<div class="grid__item large--{{ section.settings.product_image_width }} product-description-wrapper {% if section.settings.text_alignment == 'text-center' %}text-center{% else %}text-left{% endif %}">
  <h1 class="product-title text-center" itemprop="name">{{ product.title | remove:'|'}}</h1>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
    <!-- Product Form Snippet -->
    {% include 'product-form' %}
    <div class="mobile-only">{% include 'related-products' %}</div>

  </div>
</div>
</div>
</div>
</div>


</div>
<style>

h1.product-title{
  margin: 50px 0 20px 0;
}
.related-products .price{
  display: none;
}
h1.product-title,h2#ProductPrice,.related-products h4,
.qtydiv{
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Mukta",sans-serif;
  font-weight: 700;
}
.qtydiv{
  font-size: 1em;
  padding-right: 0;
}
.quantity-input {
  padding: 0;
}
.variants-wrapper{
  overflow: hidden;
}
#AddToCart{
  border: 1px solid #000;
  width: 100%;
  margin-bottom: 20px;
}
.product-form .grid__item.alpha{
  padding-left: 0;
  padding-right:20px;
  border-right: 3px solid #eee;
}
#accordion li:first-child{
  border-top: 0;
}
#accordion li{
  padding: 5px 0 5px 10px;
}
#accordion li a{
  letter-spacing: 2px;
  font-family: "Mukta",sans-serif;
  font-weight: 700;
}
</style>
<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>

<script>
window.product = {{ product | json }};
window.product.money_format = "{{ shop.money_format }}";
window.product.add_label = {% if product.options.size == 1 %}true{% else %}false{% endif %};
window.product.label = "{{ product.options.first | escape }}";
window.selectCallback = PaloAlto.onVariantSelected;
</script>

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type":"header",
      "content":"Layout"
    },
    {
      "type": "select",
      "label": "Product image width",
      "id": "product_image_width",
      "options": [
        {
          "value": "one-half",
          "label": "50%"
        },
        {
          "value": "one",
          "label": "100%"
        }
      ]
    },
    {
      "type": "select",
      "label": "Text alignment",
      "id": "text_alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_social_sharing_products",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "header",
      "content":"Related Products"
    },
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": true
    },
    {
      "type":"text",
      "id":"related_products_section_title",
      "label":"Title",
      "default":"You Might Also Like"
    },
    {
      "type": "header",
      "content": "Additional content"
    },
    {
      "type":"header",
      "content":"Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    }
  ],
  "blocks": [
      {
        "type": "text",
        "name": "Additional Content",
        "settings": [

          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
}
{% endschema %}
