<!-- /sections/rich-text.liquid -->

<!-- Video Section-->
<div  data-section-id="{{ section.id }}" data-section-type="rich-text" class = "featured-content-section no-image" id="featured-content">
  <div class = "grid--full wrapper featured-content-no-image text-center">
    <div class = "grid__item large--three-quarters push--large--one-eighth medium-down--one-whole">
        {% if section.settings.heading %}
          <h3>{{section.settings.heading}}</h3>
        {% endif %}
        {% if section.settings.text %}
          <span>{{ section.settings.text }}</span>
        {% endif %}
        {% if section.settings.button_text %}
          <a class = "btn" href ="{{section.settings.button_url}}">{{section.settings.button_text}}</a>
        {% endif %}
        <span class="featured-content-spacer-line"></span>  
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Rich text",
    "class":"rich-text",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Our Story"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
      "type":"text",
      "id":"button_text",
      "label":"Button text",
      "default":"Learn More"
      },
      {
        "type":"url",
        "id":"button_url",
        "label":"Button link"
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ]
}
{% endschema %}