<!-- /sections/slideshow.liquid -->

{% assign duration = section.settings.duration | times: 1000 %}

<div data-section-id="{{ section.id }}" data-section-type="slider" data-slides-count="{{ section.blocks.size }}" data-autoplay="{{section.settings.autoplay_slider}}" data-duration = "{{duration}}" data-text-position="{{section.settings.slider_text_position}}" data-image-height="{{section.settings.slide_height}}">

  <div class="slider">
  {% if section.blocks.size > 0 %}
    <div class="slide-block">
      <div class="flickity">
        {% for block in section.blocks %}
        {% assign overlayOpacity = block.settings.overlay_opacity | prepend: '.' %}

        {% if block.settings.slide_btn_link != blank %}
          {% assign btn_link =  block.settings.slide_btn_link  %}
        {% else %}
          {% assign btn_link = "#!" %}
        {% endif %}

        {% if block.settings.slide_btn_text != blank and block.settings.video_btn_text != blank %}
        {% assign call_to_action_offset = 'call-to-action-offset' %}
        {% endif %}

        <div class="item {{ block.settings.hero_text_alignment }}" {{ block.shopify_attributes }} data-slide-position="{{ forloop.index }}">
        {% if section.settings.slider_text_position == 'slider-text-block' %}
         <div class = "overlay overlay--{{section.settings.slide_height}}" style = "background-color:{{ block.settings.hero_overlay_color }} !important; opacity:{{ overlayOpacity }};"></div>
      {% if section.settings.slide_height == 'original-height' and block.settings.image != blank%}
          {%- assign image = block.settings.image -%}
          {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
          {% include 'theme-rias' %}
          <img 
             class="lazyload"
             data-flickity-lazyload="{{ image | img_url: '2048x' }}"
             data-src="{{ image_url_pattern }}"
             data-widths= "[{{ image_widths }}]"
             data-aspectratio="{{image.aspect_ratio }}"
             data-sizes="auto"
             alt="{{ image.alt | escape }}">
           <noscript>
            <img src="{{ image | img_url: '2048x' }}" alt="{{ image.alt | escape }}">
          </noscript>
        {% endif %}
        {% endif %}
          <div class="{{ section.settings.slider_text_position }}">
            {% if block.settings.slide_heading != blank %}
            <h1 class="slide-title main-heading {{ section.settings.text_color }}">{{ block.settings.slide_heading | escape }}</h1>
            {% endif %}
            {% if block.settings.slide_subheading != blank %}
            <h2 class="slider-caption main-subheading {{ section.settings.text_color }}">{{ block.settings.slide_subheading | escape }}</h2>
            {% endif %}
            
          </div>
          <div class="scroll">
            {% if block.settings.slide_btn_text != blank %}
            <a class="btn call-to-action slider-btn arrow-down-btn" 
               href="#shopify-section-featured-image-about">
              <img src="{{'down-arrow.png' | asset_url }}" >

            </a>
            {% endif %}
          </div>
            {% unless block.settings.image == blank %}
              {% if section.settings.slide_height != 'original-height' %}
                  <div class="slides slide--{{block.id}} {{ section.settings.slide_height }} {{ section.settings.slide_height }}--{{section.id}} {{ block.settings.bg_position }} lazyload"      
                  data-bgset="{% include 'bgset', image: block.settings.image %}"
                  data-sizes="auto"
                  data-parent-fit="cover">
                  </div>
              {% endif %}
                    <noscript>
                      <style>
                        .slide--{{block.id}} {
                           background: url({{ block.settings.image | img_url: '2048x' }})
                           no-repeat center center;
                           background-size: cover;"
                        }
                      </style>
                    </noscript>
              {% if section.settings.slide_height == 'original-height' and section.settings.slider_text_position == 'slider-text-block-outside' %}
              {%- assign image = block.settings.image -%}
              {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
              {% include 'theme-rias' %}
              <img 
                 class="lazyload"
                 data-flickity-lazyload="{{ image | img_url: '2048x' }}"
                 data-src="{{ image_url_pattern }}"
                 data-widths= "[{{ image_widths }}]"
                 data-aspectratio="{{image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
               <noscript>
                <img src="{{ image | img_url: '2048x' }}" alt="{{ image.alt | escape }}">
              </noscript>
              {% endif %}
            {% else %}            
             <div class="slides placeholder-bg {% unless section.settings.slide_height == 'original-height' %} {{ section.settings.slide_height }} {% else %} seven-fifty-height-hero {% endunless %}" style="background-image: url(' {% include 'placeholder_svg_uri', placeholder : 'lifestyle-1' %} ');"></div>
            {% endunless %}
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
</div>
<style>
    #about .main-subheading{
        max-width: 600px;
        margin: auto;
        line-height: 2;
        font-size: 1.5em;
    }

</style>
<script type="text/javascript">
  $(function() {
		 $('a[href*="#"]:not([href="#"])').click(function() {
			 if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				 var target = $(this.hash);
				 target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				 if (target.length) {
                   if($(window).width() <= 768){
                     $('html, body').animate({
                       scrollTop: target.offset().top - 80
                     }, 800);

                   }else{
                     $('html, body').animate({
                       scrollTop: target.offset().top - 100
                     }, 800);
                   }       
                   return false;
				 }
			 }
		 });
	});

</script>
{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 10,
  "class": "slideshow",
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "label": "Slide height",
      "default": "one-hundred-height-hero",
      "options": [
        {
          "value": "one-hundred-height-hero",
          "label": "Full screen height"
        },
        {
          "value": "original-height",
          "label": "Image height"
        },
        {
          "value": "seven-fifty-height-hero",
          "label": "750px"
        },
        {
          "value": "sixty-fifty-height-hero",
          "label": "650px"
        },
        {
          "value": "five-fifty-height-hero ",
          "label": "550px"
        },
        {
          "value": "four-fifty-height-hero",
          "label": "450px"
        }
      ]
    },
    {
      "type": "select",
      "id": "slider_text_position",
      "label": "Text position",
      "default": "slider-text-block",
      "options": [
        {
          "value": "slider-text-block",
          "label": "Inside"
        },
        {
          "value": "slider-text-block-outside",
          "label": "Outside"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-light",
      "options": [
        {
          "value": "text-light",
          "label": "Light"
        },
        {
          "value": "text-dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "checkbox",
      "id":"autoplay_slider",
      "label":"Autoplay slider",
      "default": true
    },
    {
      "type": "range",
      "id": "duration",
      "min": 2,
      "max": 5,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 4
    },
	{
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo (Home page only)"
    },
    {
      "type": "link_list",
      "id": "main-menu",
      "label": "Link list",
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "2048px width recommended"
        },
        {
          "type": "select",
          "id": "bg_position",
          "label": "Image position",
          "default": "bg-pos-center-center",
          "options": [
            {
              "value": "bg-pos-top-center",
              "label": "Top"
            },
            {
              "value": "bg-pos-right-center",
              "label": "Right"
            },
            {
              "value": "bg-pos-center-center",
              "label": "Center"
            },
            {
              "value": "bg-pos-left-center",
              "label": "Left"
            },
            {
              "value": "bg-pos-bottom-center",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Opacity",
          "min": 0,
          "max": 95,
          "step": 5,
          "unit": "%",
          "default": 50
        },
        {
          "type": "color",
          "id": "hero_overlay_color",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "slide_heading",
          "label": "Heading",
          "default": "Welcome to Palo Alto"
        },
        {
          "type": "textarea",
          "id": "slide_subheading",
          "label": "Subheading",
          "default": "This subheading helps you provide some more detail to the title above."
        },
        {
          "type": "text",
          "id": "slide_btn_text",
          "label": "Button text",
          "default": "Welcome"
        },
        {
          "type": "url",
          "id": "slide_btn_link",
          "label": "Button URL"
        },
        {
          "type": "text",
          "id": "video_btn_text",
          "label": "Video button text",
          "default": "Watch the Video"
        },
        {
          "type": "video_url",
          "id": "video_btn_link",
          "label": "Video URL",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "select",
          "id": "hero_text_alignment",
          "label": "Text alignment",
          "default": "text-center",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}