<p class="text-center">{{section.settings.heading}}</p>
<div class="desktop-only">
    <div class="grid--full quick-links">
         {% for block in section.blocks %}
        <div class="grid__item large--one-half">
            <a href="#block_{{block.id}}" class="{{ block.settings.question | handle }}">{{ block.settings.question}}</a>
        </div>
         {%endfor%}
    </div>
</div>
<ul id="accordion" class="terms-page">

 {% for block in section.blocks %}
  
    <li id="block_{{block.id}}">
    <a  id="question" href="#">{{ block.settings.question}}</a>
    <div class="content">{{ block.settings.answer}}</div>
    {%  if forloop.index == 0 %}
      <a name="order" id="order" style="visibility: hidden"></a>
    {% endif %}
    {%  if forloop.index == 2 %}
      <a name="privacy" id="privacy" style="visibility: hidden"></a>
    {% endif %}
    </li>
 {%endfor%}
</ul>

<style>
  #accordion li a#question{
    font-weight: bold;
  }

@media (max-width:991px){
 
  #accordion li a#question{
    font-size: 19px;
   }
  #accordion.faq li{
    font-size: 17px;
  }
  #accordion li a#question:after{
  content: '\002b';
  display: inline-block;
  float: right;
  padding-right: 10px;
  font-weight: 700;
  }
  #accordion li a#question.open:after{
  content: '\002d';
  }

}
  
</style>
<script>
$(document).ready(function() {
     $('#accordion a#question').on('click',function(e){
         e.preventDefault()
         $(this).toggleClass('open')
         $(this).next().slideToggle()
         $('#accordion li > div').not($(this).next()).slideUp()
         $('#accordion a#question').not($(this)).removeClass('open')
        if($(this).hasClass('open')){
          scrollToLink($(this))
        }

     })
    $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top - 100
                }, 800);
                return false;
            }
        }
    })
    
    function scrollToLink(target){

          setTimeout(function(){

            $('html, body').animate({
                scrollTop: target.offset().top - 100
              }, 800);

          }, 400);
        }
})
</script>
{% schema %}
  {
    "name": "Terms ",
    "settings": [
   		{
        "type": "text",
		    "id": "heading",
		    "label": "Heading"
       }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "List",
        "settings": [
         
          {
            "type": "text",
            "id": "question",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
