<!-- /sections/background-video.liquid -->

{% if section.settings.btn_link != blank %}
  {% assign btn_link =  section.settings.btn_link  %}
{% else %}
  {% assign btn_link = "#!" %}
{% endif %}

{% assign videoKey = section.settings.hero_video_link.id %}
{% assign section_height = section.settings.video_height | plus: 0 %}
{% assign section_height_mobile = section.settings.video_height_mobile| plus: 0 %}

{% if section.settings.enable_autoplay %}
{% assign autoplay_var = 1 %}
{% else %}
{% assign autoplay_var = 0 %}
{% endif %}

{% if section.settings.text_alignment %}
{% assign text_alignment = "text-center" %}
{% else %}
{% assign text_alignment = "text-left" %}
{% endif %}

{% assign text_position = section.settings.text_position %}
{% assign overlayOpacity = section.settings.overlay_opacity | prepend: '.' %}


<style>
.video--{{section.id}} {
    {% unless section.settings.image == blank %}
        background: url('{{ section.settings.image | img_url:'2048x' }}');
    {% else %}
        background: url(" {% include 'placeholder_svg_uri', placeholder : 'lifestyle-1' %} ");
    {% endunless %}
}

@media screen and (max-width: 991px) {
  .video--{{ section.id }} {
    {% unless section.settings.image == blank %}
          background: url('{{ section.settings.image | img_url:'1024x' }}'); }
    {% else %}
        background: url(" {% include 'placeholder_svg_uri', placeholder : 'lifestyle-1' %} ");
    {% endunless %}
  }
}
</style>


<div class = data-section-id="{{ section.id }}" data-section-type="featured-video">

    <div class ="video-wrapper">

      <div class = "{{ text_alignment }} {{ text_position }} no-play-button">
        <!-- Text -->
        <div class="video-text-wrapper wrapper">
            {% if section.settings.title != blank %}
            <h1 class="main-heading {{ section.settings.text_color }}">{{ section.settings.title | escape }}</h1>
            {% endif %}
            {% if section.settings.main_subheading != blank %}
            <h2 class="main-subheading {{ section.settings.text_color }}">{{ section.settings.main_subheading | escape }}</h2>
            {% endif %}

            <!-- Button -->
            {% if section.settings.btn_text != blank %}
            <div class = "buttons-wrapper">
              {% if section.settings.btn_text != blank %}
              <a class="btn call-to-action" id="primary-cta" href="{{ btn_link }}">{{ section.settings.btn_text }}</a>
              {% endif %}
            </div>
            {% endif %}
              <a class="play-button-mobile" href = "{{section.settings.hero_video_link}}">
                <span class = "filled-circle custom-icon-filled-circle"></span>
                <span class = "stroke-circle custom-icon-stroke-circle"></span>
                <span class = "triangle custom-icon-triangle"></span>
              </a>
        </div> 
      </div>

      <!-- Video -->
      <div class = "video video--{{ section.id }} {{ section.settings.video_height }}
      {% if section.settings.image == blank %} placeholder-bg {% endif %}"
        data-video-id="{{ videoKey }}"
        data-video-ratio="{{ section.settings.video_ratio }}"
        >

    <div class ="overlay" style="background-color:{{ section.settings.hero_overlay_color }}; !important; opacity:{{ overlayOpacity }};"></div>
    </div>
    </div>
</div>


{% schema %}
{
  "name": "Video",
  "class": "featured-video-section",
  "settings": [
    {
      "type": "header",
      "content": "Headings"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "default": "text-inside",
      "options": [
        {
          "value": "text-inside",
          "label": "Inside"
        },
        {
          "value": "text-outside",
          "label": "Outside"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "text_alignment",
      "label": "Center text horizontally",
      "default": true
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "default": "text-light",
      "options": [
        {
          "value": "text-light",
          "label": "Light"
        },
        {
          "value": "text-dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Welcome to Palo Alto"
    },
    {
      "type": "textarea",
      "id": "main_subheading",
      "label": "Subheading",
      "default": "This subheading helps you provide some more detail to the title above."
    },
    {
      "type": "header",
      "content": "Buttons"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button label",
      "default": "Welcome"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "video_url",
      "id": "hero_video_link",
      "label": "Video link",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "accept": [
        "youtube"
      ],
      "info": "YouTube links only"
    },
    {
      "type": "select",
      "id": "video_height",
      "label": "Video height",
      "default": "one-hundred-height-hero",
      "options": [
        {
          "value": "one-hundred-height-hero",
          "label": "Full screen height"
        },
        {
          "value": "seven-fifty-height-hero",
          "label": "750px"
        },
        {
          "value": "sixty-fifty-height-hero",
          "label": "650px"
        },
        {
          "value": "five-fifty-height-hero ",
          "label": "550px"
        },
        {
          "value": "four-fifty-height-hero",
          "label": "450px"
        }
      ]
    },
    {
      "type": "select",
      "id": "video_ratio",
      "label": "Video ratio",
      "default": "16/9",
      "info":"This property is used to remove black space at the top and bottom of the video.",
      "options": [
        {
          "value": "4/3",
          "label": "4/3"
        },
        {
          "value": "16/9",
          "label": "16/9"
        },
        {
          "value": "21/9",
          "label": "21/9"
        }
      ]
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Opacity",
      "min": 0,
      "max": 95,
      "step": 5,
      "unit": "%",
      "default": 30
    },
    {
      "type": "color",
      "id": "hero_overlay_color",
      "label": "Overlay color",
      "default": "#000"
    }, 
    {
      "type": "image_picker",
      "id": "image",
      "label": "Poster image",
      "info": "Displays on desktop while the video loads and on mobile devices before the user clicks the play button."
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "video"
    }
  ]
}
{% endschema %}
