a.btn{
    border-color: #000;
    letter-spacing: 2px;
  }
  .cart__subtotal.h3.price{
    letter-spacing: 2px;
  }
  h3.cart-empty{
    margin-top: 45px;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
  .btn.return-home{
    padding: 20px 0;
    font-weight: 700;
    min-width: 250px;
  }
  h3{
    font-family: "Mukta",sans-serif;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
    line-height: 3;
    text-transform: uppercase;
    font-size: 18px;
  }
  table.cart-table{
    letter-spacing: 2px;
  }
  
  a.btn:hover{
    background: #000;
    color: #fff;
  }
  .featherlight .featherlight-close-icon{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    right: 2%;
  }
  .safe-checkout img{
     -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
      filter: invert(100%);
  }
  .safe-checkout{
    text-align: center;
    margin: 20px 0;
  }
  .safe-checkout div{
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    margin: 15px 0;
    position: relative;
    letter-spacing: 1px;
  }
  .safe-checkout div:after {
    left: 0;
  }
  .safe-checkout div:before {
    right: 0;
  }
/*   .safe-checkout div:before,
  .safe-checkout div:after{
    content: '';
    display: inline-block;
    background: #000;
    height: 2px;
    width: 15%;
    position: absolute;
    top: 10px;
  } */
  .js-qty__adjust, .ajaxcart__qty-adjust{
      color: #000;
  }
  .lightbox{
    display: none;
    color: #000;
    font-family: 'Lato', sans-serif;
  
  }
  #shipping_details h2, h2.cart-title{
    font-family: "Mukta",sans-serif;
    font-weight: 700;
    color: #000;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .lightbox h1 .lightbox h2 ,.lightbox h3,
  .lightbox h4,.lightbox h5, .lightbox h6{
    font-family: "Mukta",sans-serif;
    font-weight: 700;
    color: #000;
  }
  .featherlight-content{
    max-width: 85%;
  }
  @media (min-width:768px){
    table.cart-table.desktop-only{
      display: table !important;
    }
  }
  @media (min-width: 1020px){
    h1.cart-title{
      margin-bottom: 0;
    }
    span.h3.price{
      margin-top: 5px;
      margin-bottom: 35px;
    }
    .padding-left{
      padding-left: 65px;
    }
    table.cart-table th{
      padding: 20px 0;
      vertical-align: middle;
    }
/*     table.cart-table tbody td{
      padding: 20px 0;
     } */
    tr.cart__row.table__section{
      border-bottom: 3px solid #eee;
    }
    .border-left{
      border-left: 3px solid #eee;
      padding-left: 35px;
    }
    .cart__subtotal.h3.price{
      display: block;
      overflow: hidden;
      margin-top: 25px;
      font-size: 18px;
      letter-spacing: 2px;
    }
    a.h3 .title,.variant,.h3.price{
        font-size: 16px;
    }
    .js-qty{
      top: -5px;
    }
  }
  @media (min-width:1400px){
    .large--three-quarters-cart{
      width: 85%;
    }
    .js-qty__adjust, .ajaxcart__qty-adjust{
        padding: 0 15px;
    }
    .featherlight-content{
      max-width: 50%;
    }
    .safe-checkout .payment-icon-list{
      max-width: 250px;
      margin: auto;
    }
    .cart__image img{
      width: 90%;
    }
    .payment-icon-list li{
    height: 42px;
    overflow: hidden;
    }
    a.cart__remove{
      margin-top: 150xp;
    }
  }
 
  @media (max-width: 768px){
    h1.cart-title{
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 30px;
      font-size: 25px;
    }
    .h3.price{
      margin-top: 2px;
    }
    .cart__checkout.btn{
        margin-bottom: 30px;
    }
    a.cart__remove{
      margin: 15px 0;
      min-width: 72px;
    }
    .border-left{
      border-left: 0px !important;
      padding-left: 0;
    }
    .cart__subtotal{
      width: 100%
    }
    table.cart-table, table.cart-table tbody{
      display: block;
    }
    
    table.cart-table td{
      width: 44%;
      float: left;
      clear: none;
      text-align: left;
      padding: 0;
      margin-right: 6%;
    }
  
    table.cart-table td .variant{
      text-align: left;
      margin: 16px 0;
    }
    .table--responsive .cart__row{
      padding: 20px 0;
      border-bottom: 3px solid #eee !important;
    }
    .payment-icon-list>li{
        height: 50px;
        overflow: hidden;
    }
    
    table.cart-table .title{
      text-align: left;
      line-height: 1;
    }
    table.cart-table td .js-qty{
      margin: 0;
      margin-top: 16px;
      left: -5px;
    }
    table.cart-table td .product-img{
      width: 100%;
    }
    .table--responsive td:before{
      display:none;
    }
  }
 
  