   
   .recipes-wrapper .block-overlay.banana-bread a.hover-btn{
     color: #fff !important;
   }
   a.close{
        display:block;
        text-align: right;
        color: #000;
        font-size: 26px;
        font-weight: bold;
        font-family: "Mukta",sans-serif;
        position: absolute;
        top: 15px;
        right: 2vw;

        }
        .recipes-wrapper .block-overlay.banana-bread a.hover-btn{
          color: #fff;
        }
        .block-overlay a:not(.hover-btn){
          text-transform: uppercase;
        }
         
        .flip-card{ 
          position: relative;
        }
        .front-face,.back-face,.front-face * {
         }
        .flipped{
         }
        .flip-card.flipped .block-overlay{
           
        }
        .back-face{
          width: 100%;
          position: absolute;
          top: 0;
          background: #eee;
          padding: 2vw;
          min-height: 100%;
          text-align: left;
          opacity: 0;
          font-size: 16px;
        }
        .animated.back-face{
          opacity: 1;
        }
        .collection-wrap:before{
          border-top: 4px solid #eee;
          display: block;
          content: '';
          height: 20px;
          width: 100%;
        }
        h1.section-header__title.collection-title{
         margin-bottom: 0;
         border-bottom: 0px; 
        }

        @media (max-width:768px){
          .recipes-wrapper .block-overlay:after,
          .recipes-wrapper .block-overlay:before{
            height: 50px;
          }
          .block-overlay.banana-bread .hover-mobile a:hover{
            background: #999;
            color: #fff !important;
            border-color: #999 !important;
          }
          .product-item-parent{
            padding-right: 10px;
          }
          .product-item-parent:nth-of-type(2n+0){
            padding-right: 0;
            padding-left: 10px;
          }
          .product-item-parent h3 a{
            line-height: 1.3;
          }
        }
        @media (min-width: 1400px){
        .grid__image img{
          width: 100%;
        }
        .product-item-parent{
          padding: 0 15px;
        }
        
        .product-item-parent:nth-of-type(3n+1){
          padding-right: 30px;
        }
        .product-item-parent:nth-of-type(3n+2){
          padding-left: 15px;
        }
          .product-item-parent:nth-of-type(3n+3){
            padding-right: 0;
            padding-left: 30px;
          }
        }