@mixin transition ($property, $duration:0.35s, $timing_function:cubic-bezier(0.46, 0.01 , 0.32, 1), $delay: 0s) {
  -webkit-transition-property:        $property;
  -webkit-transition-duration:        $duration;
  -webkit-transition-timing-function: $timing_function;
  -webkit-transition-delay:           $delay;

  -moz-transition-property:           $property;
  -moz-transition-duration:           $duration;
  -moz-transition-timing-function:    $timing_function;
  -moz-transition-delay:              $delay;

  -o-transition-property:             $property;
  -o-transition-duration:             $duration;
  -o-transition-timing-function:      $timing_function;
  -o-transition-delay:                $delay;

  -ms-transition-property:            $property;
  -ms-transition-duration:            $duration;
  -ms-transition-timing-function:     $timing_function;
  -ms-transition-delay:               $delay;

  transition-property:                $property;
  transition-duration:                $duration;
  transition-timing-function:         $timing_function;
  transition-delay:                   $delay;
}

@mixin default-transition($property: all, $delay: 0){
  @include transition($property, 200ms, ease-in-out , $delay);
}
@mixin default-transition-no-delay($property: all, $delay: 0){
  @include transition($property, 200ms, ease-in-out , $delay);
}
/* Animations */

.video-image-wrapper img{
    @include default-transition(opacity);
}
/* Typography */
/* =================== */
.main-subheading{
 font-family: "Merriweather";
}
body{
    font-family: 'Lato', sans-serif;
}
input.error, select.error, textarea.error{
  background: transparent;
}
.product-item-parent h3,#NavDrawer h3,
.page-title, .blog-wrapper h3,
.slider-cta a, #mc_embed_signup input,
.f-copy,.footer-link,.recipes-wrapper a,
h1.section-header__title.collection-title,
.quick-links > div a,h1.product-title,
#CartDrawer .h3,.breadcrumb,
.ajaxcart__product-name,.ajaxcart__row *,
.video-wrapper h3,h2.CustomerLoginForm,
h1.cart-title,.cart-table *,
.template-cart .h3,
.cart__checkout, .contact-form label,
#RecoverPasswordForm h3,
.safe-checkout div,
h2.spr-header-title,
#how-it-works h3,
.featherlight-close-icon.featherlight-close,
h3.spr-form-title,a.spr-summary-actions-newreview,
h1.account-header,
h4.account-header,
.account-details h4,
thead.desktop-order th,
h1.address-title,
.address_form_new h2,
#four-oh-four h1+p{
  font-family: "Mukta",sans-serif !important;
  font-weight: 700 !important;
}
.back-face h5,
.reveal_content h5{
  color: #000;
  text-transform: uppercase;
  font-family: "Mukta",sans-serif !important;
  font-weight: 700 !important;
  text-align: center;
  font-size: 19px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.back-face *,
.reveal_content *{
  color: #000;
  line-height: 2;
}

.site-header__cart-toggle,.account-icon{
  display: inline-block;
}
.site-header__cart-toggle{
  height: 29px;
}
.site-header__cart-toggle:hover,.account-icon:hover,
.site-header__cart-toggle:active,.account-icon:active{
  border-bottom: 1px solid #fff;
}
.rc_header-settings.rc_title-bar{
  margin: 30px 0 0;
}
nav.breadcrumb a{
  color: #000;
}
nav.breadcrumb a:hover{
  text-decoration:underline;
}

#nutrition+.content{
  text-align: center;
  padding: 20px 0;
}
#nutrition+.content img{
  max-width: 70%;
}
a.footer-link{
  color: #fff !important;
}
div:not(.mc-field-group) input::placeholder{
  color: #000;
}
*{
-webkit-tap-highlight-color: rgba(0,0,0,0);
 }
.grid__image,.insta-featured-link,.instaimg{
  -webkit-tap-highlight-color: rgba(0,0,0,.5) !important;
}
body{
  background: #fff;
}
error{
  color: red;
}
.template-index:not(.js-drawer-open) .site-header:not(.bbg)  .site-header__logo{
  visibility: hidden;
}
.template-cart .h3{
  text-transform: uppercase;
  color: #000;
}
.lightbox{
  display: none;
}
.contact-form input:not(.btn){
  padding-bottom: 2px;
}
#instafeed{
  background: #000;
}
.featherlight-close-icon.featherlight-close{
  font-size: 18px;
  color: #000;
  top: 5px !important;
  right: 5px !important;
}
#how-it-works h3{
  text-transform: uppercase;
  color: #000;
  font-size: 19px;
}
#how-it-works{
  max-width: 350px;
  padding:30px;
}
.template-customers-order th, .template-customers-order td{
  background: #fff;
}
h2.rc_customer__name,
.rc_header-settings__title h2,
h4.purchase-address,
h1.account-header,
h4.account-header,
.account-details h4,
thead.desktop-order th,
h1.address-title,
#address_form_new h2,
h3.address-name,
h4.order-title,
.template-customers-order th,
table.rc_subscriptions__subscription__items th,
#ReChargeForm_address h2,
h4.rc__schedule__orders__order__date,
.rc_title-bar__title h2,
h2.product-detail-name,
h4#ProductPrice,
.back-face h1,
.reveal_content h1,
#mailchimp-success{
  color: #000 !important;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-family: "Mukta",sans-serif !important;
  font-weight: 700 !important;
}
a.rc_product-detail__title__link{
  display:none;
}
a.edit_address_link{
  font-family: 'Lato', sans-serif !important;
  font-size: 12px;
  display: inline-block;
  margin-left: 20px;
}
form#mc-embedded-subscribe-form{
  overflow: hidden;
}
#mailchimp-success{
  color: #fff !important;
  letter-spacing: 2px;
  margin-top: 12px;
}
.responsive-order :not(.order-title) a{
  font-weight: normal !important;
}
table.rc_subscriptions__subscription__items th,
table.rc_subscriptions__subscription__items td,
table.rc_schedule__order__items td,
table.rc_schedule__order__items th,
table.rc_table th,
table.rc_table td{
  border: 2px solid #474747;
  padding: 15px 10px;
}
a.edit_address_link{
  text-decoration: underline;
}
.order-title a,
.account-details a,
a.edit_address_link,
.template-customers-addresses label{
  color: #000 !important;
}
.order-title a:hover,
.account-details a:hover,
a.edit_address_link:hover{
  color: #757575;
}
.cart__row table__section .h3{
  font-size: 15px;
}
select.quantity-input{
  width: auto;
  border: 0px !important;
  position: relative;
  z-index: 99;
  padding-bottom:0;
  padding-left: 18px;
  padding-right: 40px;
  padding-bottom: 5px;
  font-weight: 700;
}
select.quantity-input option{
  font-weight: 700;
}
label.quantity-selector{
  margin-right: 0;
}
.qtydiv.input{
  position: relative;
  top: -4px;
}
.qtydiv.input:after{
  display:inline-block;
  background: url(//cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/qty-input.svg?1277107306945066866) no-repeat;
  content: '';
  width: 72px;
  height: 40px;
  background-size: 100%;
  position: absolute;
  top: 14px;
  right: 0;
  z-index: 9;
}
iframe#admin_bar_iframe{
  display:none;
}
.js-drawer-close .custom-icon-x{
  color: #fff;
}
h4.heading{
  color: #999;
  font-size: 1.6em;
  font-family: 'Lato', sans-serif !important;
}
label.rc_label.rc_label__deliver_every span{
  font-family: 'Lato', sans-serif !important;
  font-weight: normal;
  text-transform: none;
  font-size: 16px;
}
#RegisterForm .header{
  font-size: 1.2em;
}
#NavDrawer,#CartDrawer{
  z-index: 999;
}
body, input, textarea, select{
  font-weight: 500;
}
.contact-form{
   background: #F6F6F4;
}
.contact-form .form-vertical{
 padding: 4vw 0 4vw 6vw;
}
.new-review-form .spr-form-input:not(.spr-starrating){
  border:0px;
  border-bottom: 1px solid #E3E3E1;
  color: #000;
  font-family: 'Lato', sans-serif;

}
.spr-form-input textarea{
  border-bottom: 0;
}
.mc-field-group input{
  padding-left: 0px;
}
.contact-form .form-vertical input,
.contact-form .form-vertical textarea,
#customer_login input:not(.btn),
#customer_login textarea,
#create_customer input:not(.btn),
#RecoverPasswordForm input:not(.btn){
  border:0px;
  border-bottom: 3px solid #E3E3E1;
  font-weight: 700;
  font-size: 16px;
  padding-top: 30px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 0;
}
.contact-form label{
  color: #000;
  text-transform:uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  padding-top: 18px;
  display: block;
}
p.price{
  font-weight: bold;
}
.contact-form .form-vertical textarea{
  background-image: linear-gradient(#F6F6F4 92%, #E3E3E1 8%);
  background-attachment: local;
  -webkit-background-size: 100% 35px;
   background-size: 100% 35px;
   line-height: 35px;
   border-bottom: 0px;
   height: 320px;
   padding-top: 0;
}
.extra-header-padding a{
  text-decoration:none;
  font-weight: bold;
}
.contact-form .form-vertical input::placeholder,
.contact-form .form-vertical textarea::placeholder{
  color: #000;
}
#RecoverPasswordForm h3{
  color: #000;
}

#CustomerLoginForm .btn,
#RegisterForm .btn,
#RecoverPasswordForm .btn,
#address_form_new .btn,
.btn.new-address,
#ReChargeForm_address button,
.rc_button.rc_button--link,
.rc_form__search button,
.rc_form__group button.btn{
  padding: 15px 30px;
  color: #000;
  min-width: 200px;
  background: #fff;
  display: table;
  margin: auto;
  border-color: #000;
  border: 2px solid !important;
}
.rc_form__group{
  margin: 20px 0;
}
#ReChargeForm_address button,
.rc_button.rc_button--link,
.rc_form__search button,
.rc_form__group button.btn{
  margin: 0;
}
#product_quantity_wrapper   .js-qty__adjust--minus{
  font-size: 0;
}
.rc_button--fa-plus-circle:before{
  margin-right: 10px;
}
#CustomerLoginForm .btn:hover,
#CustomerLoginForm .btn:active,
#RegisterForm .btn:hover,
#RegisterForm .btn:active,
#RecoverPasswordForm .btn:active,
#RecoverPasswordForm .btn:hover,
#address_form_new .btn:hover,
.btn.new-address:hover,
#address_form_new .btn:active,
.btn.new-address:active,
#ReChargeForm_address button:hover,
#ReChargeForm_address button:active,
.rc_button.rc_button--link:hover,
.rc_button.rc_button--link:active,
.rc_form__search button:active,
.rc_form__search button:hover,
.rc_form__group button.btn:hover,
.rc_form__group button.btn:active{
    background: #000;
    color: #fff;
    border: 2px solid #000
}
.contact-form .form-vertical .btn{
  border: 2px solid;
  padding: 10px 30px;
  display: table;
  margin: 30px auto;
  min-width: 200px;
  float: right;
}
body:not(.template-index) .featured-blog-section{
 display:none;
}
button:focus,a:focus,*:focus {outline:0;}

.slider-cta a{
 font-size: 18px;
}
.call-to-action-circle{
  font-size: 42px;
  bottom: -7px;
}
.slider-cta a:hover span,
.slider-cta a:active span{
 border-bottom: 1px solid #fff;
}

.blog-wrapper h3{
  color: #000;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align:left;
}
.blog-wrapper a.btn--small{
  border: 2px solid #000;
  display: table;
  margin: auto;
  padding: 15px 50px;
  margin-top: 30px;
  font-weight: 700;
}
.custom-icon-hamburger{
 color: #fff;
}
.featured-blog-section{
 background: linear-gradient(180deg, #eee 75%, #fff 25%);
}
.featured-blog-section .featured-content-wrapper.grid--table>.grid__item{
 vertical-align: top;
}

.featured-blog-section .featured-content-overlay{
 background: none;
}
.blog-wrapper,.block-overlay p,.product-description,
.spr-form > form{
  font-family: 'Lato', sans-serif !important;
}

h3.spr-form-title, .spr-form-label{
  display: none;
}
.spr-form-title,
.spr-icon-star{
  color: #000;
}
.spr-button{
  border: 2px solid #000;
  font-weight: bold;
  line-height: unset;
}
.spr-form-input-textarea{
  border-bottom: 0px !important;
}
.spr-button:hover{
  background: #000;
  color: #fff;
}
.blog-wrapper p{
  line-height: 2;
  font-size: 15px;
  color: #000;
}
#PageContainer main{
 background: #fff;
}
#CartDrawer .h3{
  text-transform:uppercase;
  color: #fff;
  vertical-align: top;
}
#CartDrawer span.custom-icon-x{
  color: #fff !important;
  font-size: 18px;
}
.drawer__header{
  height: auto;
}
#CartDrawer{
  padding-top: 20px;
}
.breadcrumb{
  color: #ccc;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 50px;
}
.breadcrumb a{
  color: #ccc;
}


.cart__header-labels{
  border-bottom: 3px solid #eee;
}
.cart__subtotal .h3{
  font-size: 16px;
}
.cart__checkout.btn{
  width: 100%;
  text-align: center;
  max-width: 100%;
  padding: 10px 0;
  line-height: 2;
  border: 2px solid #000;
}
.cart-table td, .cart-table th{
  font-size: 16px;
  padding: 10px ;
  text-transform: uppercase;
  color: #000;
  vertical-align: top;
}
.cart__row:first-child{
  margin-top: 20px;
}
.cart-table th{
  color: #aaa;
  letter-spacing: 1px;
}
.border-left {
  border-left: 3px solid #eee;
}
.template-cart .h3{
  font-size: 14px;
}
a.cart__remove{
  border: 2px solid #000;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  color: #000;
  display: table;
  margin: 20px auto 0 auto;
  min-width: 75px;
 }
.template-page p{
  color: #000;
}
#ReCharge.user-customer{
  padding-top: 150px;
}
.template-page h6,
#accordion li a.parent,
.carousel-wrapper a.parent {
  font-family: "Mukta",sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #000;
  letter-spacing: 2px;
}
#PageContainer h1.page-title,
h1.section-header__title.collection-title,
h2.CustomerLoginForm,
h1.cart-title{
 text-transform: uppercase;
 color: #000;
 padding-bottom: 40px;
 margin-bottom: 40px;
 padding-top: 70px;
 border-bottom: 4px solid #eee;
 font-size: 36px;
 letter-spacing: 4px;
 text-align: center;
}
h1.section-header__title.collection-title{
  padding: 2vw 0;
}
.flickity-prev-next-button{
 display: none;
}
.call-to-action img{
 width: 55px;
}
.call-to-action{
 margin-top: 10vh;
 font-weight: bold;
}
.site-header.slideshow{
  position: absolute;
}
.site-header.top{
  position: fixed;
  z-index:99991 !important;
  top: 0 !important;
}
.template-index .site-header,
#about .site-header{
  background: transparent;
}
.small-text{
  padding: 20px 0;
}
.cart__subtotal.h3{
  font-size: 1.5em;
}
body:not(.template-index) main.main-content{
  padding-top: 100px !important;
}
#saint-hemp .main-content, #about .main-content{
  padding-top: 0 !important;
}
body.js-drawer-open .site-header.top{
  background: rgba(0,0,0,.95) !important;
}
.bbg{
  background: rgba(0,0,0,.95) !important;
  @include default-transition(background);
}
.reveal{
  opacity: 1 !important;
  @include default-transition(opacity);
}

.sub-text{
 max-width: 800px;
 margin: auto;
 font-size: 21px;
}
.cover{
  opacity: 0 !important;
  @include default-transition(opacity);
}
.recipe_title a.h3{
  margin-bottom: 0;
}
.recipe_title a.h3.hover{
  margin-top: -81px;
  color: #000;
  background: #fff;
  border-color: #fff;
}
.recipe_title a.h3.hover{
  opacity: 0;
  @include default-transition(opacity);
}
.recipe_title:hover a.h3,
.recipe_title:active a.h3{
  opacity: 0;
  @include default-transition(opacity);
}
.recipe_title:hover a.h3.hover,
.recipe_title:active a.h3.hover{
  opacity: 1;
  @include default-transition(opacity);
}
.featured-collection-section{
  padding-top: 0;
}
#RecoverPassword{
  color: #000;
}
.npd-left{
  padding-left: 0;
}

#RecoverPassword:hover,
#RecoverPassword:active,
#HideRecoverPasswordLink:hover,
#HideRecoverPasswordLink:active{
  text-decoration: underline;
}
#NavDrawer,#CartDrawer{
  background: rgba(0,0,0,.95);
  border: 0;
  top: 0px !important;
  padding-top: 110px;
  width: 314px;
}

.nav-controls{
  min-width: 32px;
  max-width: 32px;
}
.nav-controls .custom-icon-x{
  color: #fff;
  font-size: 25px;
}

.nav-controls .custom-icon-x:before{
  font-family: "custom-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.js-drawer-open-left  button span.custom-icon-hamburger.icon{
  display: none;
}

body .nav-controls .custom-icon-x{
  display: none;
}
body.js-drawer-open-left .nav-controls .custom-icon-x{
  display: inline-block;
}
.mobile-nav > .mobile-nav__item{
 background: transparent;
 border: 0;
}
.featured-image-section-inner h2{
 margin-bottom: 10px;
 font-size: 1.8em;
 text-align: center;
}
.featured-image-section-inner .call-to-action{
  color: #fff;
  border-color: #fff;
  margin-top: 15px;
}
.mobile-toggle-menu .custom-icon-hamburger{
  font-size: 30px;
  max-height:30px;
  top: -4px;
  position: relative;
}
 .js-drawer-open-left .is-moved-by-drawer,
.js-drawer-open-right .is-moved-by-drawer{
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
    transform: translateX(0);
}
.mobile-nav__item a h3,.mobile-nav__item  h3:hover{
   color: #fff;
}
.mobile-nav__item a{
  padding-left: 0;
  display:table;
  margin: auto;
  min-width:110px;
  text-transform: uppercase;
}
.mobile-nav__item a:hover h3{
  color: #fff;
  text-decoration: underline;
}
.mobile-nav__item a:active, .mobile-nav__item a:focus, .mobile-nav__toggle button:active, .mobile-nav__toggle button:focus{
  background: none;
}

/* new classes */
/* =================== */

#LoginForm .btn,
#RegisterForm .btn{
  margin-top: 50px;
  font-weight: 700;
}
.pills.col-2 a{
  display: inline-block;
  width: 50%;
  font-family: "Mukta",sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
  float:left;
  text-align: center;
  border-bottom: 4px solid #eee;
  padding: 10px 0;

}
.pills{
  clear:both;
  overflow: hidden;
}
.pill-content{
  display:none;
  padding-top: 50px;
}
.pill-content.open{
  display:block;
}
.ajaxcart__product-name{
  text-transform: uppercase;
}
.ajaxcart__row * {
  color: #fff;
  font-size: 12px;

}
.hero-logo{
 margin: auto;
 margin-bottom: 15vh;
 margin-top: 20vh;
}

.mobile-toggle-menu .cart-text{
  font-weight: bold;
  position: relative;
  top: -7px;
  left: 0;
  font-size: 17px;

}
h1.slide-title, .section-title{
 font-size: 28px;
}
.rotate{
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 80px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}
.invert-on-hover:hover,
#CustomerLoginForm .btn:hover,
#CustomerLoginForm .btn:active,
#RegisterForm .btn:hover,
#RegisterForm .btn:active,
#RecoverPasswordForm .btn:active,
#RecoverPasswordForm .btn:hover{
 background: #fff;
 border-color: #000;
 color: #000 !important;
 -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
.invert-on-hover-alt:hover,
#CustomerLoginForm .btn:hover,
#CustomerLoginForm .btn:active,
#RegisterForm .btn:hover,
#RegisterForm .btn:active,
#RecoverPasswordForm .btn:active,
#RecoverPasswordForm .btn:hover{
 background: #000;
 border-color: #000 !important;
 color: #fff !important;
 -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
#four-oh-four .btn{
 color: #fff;
 border-color: #fff !important;
 min-width: 250px;
 font-size: 18px;
 font-weight: 700;
 padding: 20px 30px;
 margin-top: 30px;
 padding-top: 24px;
}
#CartContainer .drawer-button{
  background: #fff;
}
#four-oh-four .btn:hover,
#four-oh-four .btn:active,
#four-oh-four .btn:focus {
 color: #000;
  background: #fff;
}
#four-oh-four{
  position: relative;
  top: 20vh;
}
#four-oh-four h1{
   color: #fff;
   font-size: 100px;
 }
 #four-oh-four .btn{
  background: #000;
 }
#four-oh-four p{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
}
.image-grid-wrapper{
 background: #fff;
 padding: 4em 0;
 color: #000;
 position: relative;
}
.image-grid-wrapper .title{
 text-transform: uppercase;
 font-weight: 700;
 letter-spacing: 2px;
}
.image-grid-wrapper img{
 max-width: 100%;
 min-height: 125px;
 max-height: 125px;
 margin-bottom: 20px;
}
.image-grid-wrapper .grid__item{
 margin-bottom: 140px;
}
.site-footer{
 background-repeat: no-repeat !important;
 background-size: cover  !important;
}
#mc_embed_signup{
 margin-top: 30px;
}
#mc_embed_signup input:not(.button){
 color: #fff;
 border-color: #fff;
 text-transform: uppercase;
 border: 0;
 border-bottom: 2px solid;
 background: transparent;
}
#mc_embed_signup input::placeholder{
 color: #fff;
}
#mc_embed_signup .button{
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 35px;
  margin-top: 5px;
}
.footer_link-item{
 padding-right: 0 !important;
  text-transform: uppercase;
}
.f-social{
 margin: 80px 0 0;
}
.f-social,.f-copy{
 color: #fff;
 text-transform: uppercase;
 font-size: 1.1em;
}
.social-sharing-wrapper a:last-child i{
  padding-right: 0;
}
.f-social a,.f-copy a{
 color: #fff;
}
.drawer__close{
  display: inline-block;
  vertical-align: initial;
  font-size: 23px;
}

.featured-collection-section{
 position: relative;
}
.featured-collection-section .section-title{
 color: #000;
}

.template-index p.price{
  display: none;
}
p.price{
  color: #000;
  text-align: left;
}
.product-item-parent h3, .product-item-parent a,
.blog-wrapper h3, .footer-link, .f-copy, .mobile-nav__item a{
 letter-spacing: 2px;
}
.product-item-parent h3 a{
 text-transform: uppercase;
 color: #000 !important;
 font-size: 14px;
}
.pull-right{
 float: right;
}
.pull-left{
 float: left;
}
.no-border{
 border: 0px !important;
}
.footer_link-item a:hover{
  color: #fff;
}
.social-sharing-wrapper a{
 margin-right: 5px;
}
.bitcoin{
  width: 100px;
  position:relative;
  top: -7px;
}
.social-sharing-wrapper a:hover{
  opacity:.5;
}
#mc_embed_signup input{
  font-size: 1em;
  letter-spacing: .13em;
}
.recipes-wrapper{
  padding: 50px 0 0 0;
  margin: 20px 50px ;
  border-top: 4px solid #eee;

}
.social-icon{
  background: url(//cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/social-icon.png?1277107306945066866);
  width: 32px;
  height: 32px;
  display: inline-block;
}
.social-icon.instagram{
 background-position: -36px;
}
.social-icon.youtube{
 background-position: -72px;
}
.social-icon.medium{
 background-position: -108px;
}
.social-icon.linkedin{
 background-position: -144px;
}
.social-icon.steemit{
 background-position: -179px;
}
.featured-blog-section .section-title{
  color: #000;
 }
.product-image {
  position: relative;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.product-overlay-grid{
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  z-index: 13;
  min-width: 100%;
  top: 0;
  min-height: 100%;
  @include default-transition(opacity);
}
.form-error, .errors,.form-success{
  color: red;
  background: none;
  border: 0px;
  font-size: 15px !important;
  font-family: "Mukta",sans-serif !important;
  font-weight: 700;
}
.form-error, .errors a{
  text-decoration: underline;
  color: red;
}
.form-success{
  color: green !important;
}

.product-item-parent h3 .variant{
  text-transform: lowercase;
  display:block;
 }

.product-overlay-grid .btn:hover{
    border-color: #fff;
    background: #fff;
    color: #000;

}
.insta-comment i{
  font-size: 38px;
}
.product-overlay-grid .btn{
  color: #fff;
  border-color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}
.footer-link:hover{
  text-decoration: underline;
}
.product-item-parent:hover .product-overlay-grid{
 opacity: 1;
}
.no-padding-right{
  padding-right: 0 !important;
}
.no-padding-left{
  padding-left: 0 !important;
}
.fixed-header{
  position: fixed;
  top: 0;
}
.template-page main p, .template-page main div{
   font-family: 'Lato', sans-serif;
   font-size: 17px;
}
body.template-404 main{
 background: #000 url(//cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/404_bg.png?1277107306945066866) no-repeat !important;
 background-size: cover !important;
 min-height: 100vh;
}
body.template-404 footer{
  display: none;
}
.template-product .product-page-table .cell img{
  margin: 0;
}
#accordion{
  margin-left: 0;
}
#accordion > li{
  list-style: none;
  border-bottom: 4px solid #eee;
  padding: 20px 0;
  margin: 0;
}
#accordion > li:first-child{
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
}
#accordion li:last-child{
  border-top: 0;
}

#accordion a.parent{
  text-transform:uppercase;
}
#accordion li div.content{
  display:none;
  font-size: 15px;
}
#accordion > strong{
  font-size: 15px;
}
p.form-success{
  line-height: 1.3;
  margin-bottom: 40px;
}
#accordion li a.parent:after,
a.show-recipe:after{
 content: '\002b';
 display: inline-block;
 float: right;
 padding-right: 10px;
 font-weight: 700;
}
#accordion li a.open:after,
a.show-recipe.open:after{
   content: '\2013';
}
#accordion li a{
  color: #000;
  display: block;
}
#NavDrawer .add-icons{
  height: 70px;
  text-align: right;
  position: relative;
  top: 20px;
  right: -20px;
}
.videoWrap{
  display: flex !important; justify-content: center; height: 100% !important;
}
#productVideo{
  width: 100% !important;
  background: #000 !important;
  height: 100%;
}
.recipes-wrapper .block-overlay a{
  border: 2px solid;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}



.recipes-wrapper .block-overlay .hover:hover a.hover-btn,

.recipes-wrapper .block-overlay .hover:active a.hover-btn{
  opacity: 1 !important;
  @include default-transition-no-delay(opacity);
}
.recipes-wrapper .block-overlay .hover:hover a:not(.hover-btn),

.recipes-wrapper .block-overlay .hover:active a:not(.hover-btn){
  opacity: 0;
  @include default-transition-no-delay(opacity);
}

 .next-arrow,.prev-arrow{
    width: 12px;
    position:absolute;
    top: 32%;
    z-index: 990;
  }
  .next-arrow{
     right: 4vw;
  }
  .prev-arrow{
     left: 4vw;
  }
  .slick-dots li{
    list-style: none;
    float: left;
  }
  .carousel .title.mobile-only{
    font-size: 25px;
    padding-bottom: 50px;
    display: table;
    margin: auto;
    position: relative;
    top: -8px;
    left:-8px;
  }

  .slick-dots{
    display: table;
    margin: auto;
    list-style: none;
    text-align: center;
    position: relative;
    top: -10vw;
  }
  .slick-dots li{
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 3px;
      padding: 0;
      background: #e1e1e1;
      border-radius: 50%;
      cursor: pointer;
  }
  .slick-dots li.slick-active{
    background: #000;
  }

  .slick-dots li button{
      font-size: 0;
      line-height: 0;
      visibility:hidden;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus{
      outline: none;
  }
 .related-wrapper{
    display: flex;
    justify-content: center;
  }

  .related-wrapper .grid__item{
    padding-left: 0;
  }
  .related-wrapper .grid__item:first-child{
    margin-right: 20px;
  }
/* media queries */
/* =================== */
@media (max-width:400px){
  body:not(.template-index) main.main-content{
    padding-top: 70px !important;
  }
}
@media (max-width:480px){
  .template-collection .grid__item.product-item-parent:nth-child(2n+1){
    clear: left;
  }
}
@media (max-width:768px){
  #account th, #account td{
    border-width: 1px;
  }
  .flip-card a, .flip-card p, .flip-card ol, .flip-card ul{
    font-size: 14px !important;
    line-height: 1.6;
  }
  .recipes-wrapper.no-border{
    padding-top: 0;
    margin-top: 0;
  }
  .collection-header--no-image{
    padding-top: 0px;
  }
  .mobile-bottom{
    margin-bottom: 100px;
  }
  .product-tabs-wrapper{
    padding-left: 0;
  }
  #productVideo{
    min-height: 340px !important;
  }
  .videoWrap{
    display: flex !important; justify-content: center; height: 100% !important;
    }
  .hover-mobile a:hover,
  .hover-mobile a:active,
  .hover-mobile a:focus{
    background: #fff;
    color: #000 !important;
    border-color:#000 !important;
  }
  body.js-drawer-open.js-drawer-open-left{
    overflow: hidden;
  }
  .js-qty{
    max-width: 85px;
  }
  .block-overlay:before,
  .block-overlay:after,
  .recipe_title:before,
  .recipe_title:after{
    display: none !important;
  }
  .featured-content-section .video-wrapper{
    padding: 25px 0 0 0 !important;
  }


  .related-products h4{
    padding-bottom: 30px !important;
  }
  #ProductPhoto{
    margin-top: 30px;
  }
  .blog-wrapper .invert-on-hover-alt:hover,
  .blog-wrapper .invert-on-hover-alt:active{
    background: #fff !important;
    color: #000 !important;
  }
  a#white-divider{
  position: relative;
  }
  a#white-divider:after{
  content:'';
  height: 65%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 8px;
  width: 2px;
  }
  form#create_customer{
    margin-bottom: 30px;
  }
  h2.CustomerLoginForm{
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  #instafeed{
    background: #fff;
    padding: 0 10px;
  }
  #instafeed a.instafeed-photo{
    margin-bottom: 10px;
  }
  .npm-left{
    padding-left: 0 !important;
  }
  .video-wrapper iframe{
    position: relative;
    z-index: 999999999;
  }
  .mobile-nav__item a{
    min-width: 125px;
  }
  body.js-drawer-open.js-drawer-open-left #PageContainer{
    pointer-events: none;
  }
  .shopify-section{
    position:relative;
    z-index: 2;
  }
  .sub-text{
    font-size: 19px !important;
    line-height: 1.7 !important;
    margin-bottom: 25px;
  }
  .collection-wrap .grid__image img{
    max-height: 215px;
  }

  #four-oh-four h1+p{
    font-size: 18px;
    letter-spacing: 2px;
  }
  button.hamburger{
    position: relative;
    top: -4px;
  }
  #ReCharge.user-customer{
  padding-top: 50px;
  }
  .slider-cta a{
    font-size: 16px;
  }
  .product-item-parent h3 .variant{
    font-size: 17px;
  }
  .contact-form .form-vertical .btn{
    float: none;
  }
  #four-oh-four{
    top: 8vh;
  }
  #four-oh-four h1{
    font-size: 80px;
  }
  .mobile-nav__item a h3{
    font-size: 28px;
  }
  .call-to-action-circle{
    font-size: 36px;
  }
 .insta-featured{
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .insta-featured h2{
  color: #000;
  text-transform: uppercase;
  font-size: 23px;
  text-align: center;
  font-family: "Mukta",sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 0;
 }
  .insta-featured img{
    width: 40px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .npl-mobile{
    padding-left: 0;
  }
  .video-image-wrapper{
    padding-left: 0 !important;
  }
  .blog-wrapper p{
    color: #fff;
  }
  #PageContainer h1.page-title, h1.section-header__title.collection-title{
    font-size: 1.5em;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .template-collection
   #PageContainer h1.collection-title{
    font-size: 25px;
  }
  #accordion li a{
     position: relative;
  }
  .contact-form .form-vertical{
    padding-right: 4vw;
    padding-top: 50px;

  }
  .contact-form .form-vertical input, .contact-form .form-vertical textarea{
    padding-left: 0;
  }
  .shopify-section.slideshow{
    z-index: 9;
  }

  .social-sharing-wrapper a{
    margin-right: 5px;
  }
  a.account-icon{
    position: relative;
    top: -2px;
  }
  .f-copy{
    padding-top: 15px;
    font-size: 12px;
  }
  .nav-controls-wrapper{
    position: relative;
    top: 5px;
    right: 12px;
  }
  .nav-controls .custom-icon-x{
    position: relative;
    top: -2px;
  }
  #NavDrawer,#CartDrawer{
    width: 100%;
    max-width: 100%;
    right: -100vw;
  }
  body.template-404 main{
    background: #000 url(//cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/404_bg_mobile.png?1277107306945066866) no-repeat !important;
    background-size: cover !important;
    background-position: -35px 100px !important;
   }
  .js-drawer-open-left #NavDrawer{
    -moz-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }

  .featured-image-section-inner h2{
    font-size: 22px;
   }
  .blog-wrapper a.btn--small{
    margin-top: 30px;
    border-color: #fff;
  }
  #mc_embed_signup input:not(.button){
   width: 90%;
   margin-bottom: 20px;
   padding-left: 0;
  }


  .payment-icon-list>li{
    margin: 2px 5px;
  }
  footer{
    background: rgba(0,0,0,.95) url(//cdn.shopify.com/s/files/1/0018/8370/1303/t/12/assets/footer_bg_mobile.png?1277107306945066866) no-repeat !important;
  }
  footer hr{
    margin: 10px 0;
    background: #fff;
    border: 1px solid;
  }
  .f-social {
    margin: 10px 0 0 !important;
  }
  .mobile-toggle-menu a, .mobile-toggle-menu button{
    padding: 0px 5px;
    margin: 0 10px 0 0;
  }
   .mobile-toggle-menu button.drawer__close{
     margin-right: 0;
   }

  .mobile-toggle-menu button span.icon{
    font-size: 25px;
  }
  .featured-image-section-inner .call-to-action{
    display: table;
    margin: auto;
    float: none;
  }
  .featured-image-section-inner{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .featured-image-section-inner .mobile-wrapper{
   padding: 16vh 0 0;
   font-size: 18px;
  }
  .featured-image-section-inner{
    vertical-align: top;
  }
  .featured-image-section-inner .btn{
    margin-top: 40px;
  }
  .mobile-only{
    display: block !important;
  }
  .desktop-only{
    display: none !important;
  }
  .featured-collection-section,.featured-blog-section{
   background: #fff;
   padding-bottom: 0;
  }
  .image-grid-wrapper h1.section-title,
  .featured-collection-section h1.section-title,
  .blog-wrapper .section-title{
    text-align: left;
    border-bottom: 1px solid #000;
    padding-bottom: 18px;
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
    padding-top: 50px;
  }

  .footer_link-item,#mc_embed_signup .button{
   width: 100%;
  }
  .footer-menu.footer{
   border-right: 2px solid #fff;
  }
  .footer-menu-2.footer-menu{
   padding-left: 20px !important;
  }
  .footer-menu.footer .footer_link-item{
   text-align: right !important;
  }

  .product-overlay-grid{
    display: none;
  }

  .footer-logo {
    margin-top: 2em;
  }
  .blog-wrapper a.btn--small{
    font-size: 1.2em;
    padding: 10px 30px;
  }
  div#instafeed a:nth-of-type(4),div#instafeed a:nth-of-type(5){
    display:none;
  }
  .recipes-wrapper .block{
    position: relative;
  }
  .recipes-wrapper .block .block-overlay{
    position: absolute;
    top: 22%;
    padding: 0 5vw;
  }
  .block-overlay .hover,
  .block-overlay .hover-mobile{
    padding-top: 6vh;
    position: relative;
    z-index: 990;
  }

  .block-overlay p{
    padding-top: 3vh;
    padding-bottom: 3vh;
    max-width: 90%;
    margin: 3vw auto;
  }

  .site-header .wrapper{
    padding-right: 0;
  }
  a.site-header__cart-toggle{
    margin-right: 16px;
  }
  .block-overlay .hover-btn{
    display:none !important;
  }
  .recipes-wrapper{
    margin: 8vw;
    margin-bottom: 0;
   }
  .recipes-wrapper .grid__item{
    padding-bottom: 8vw;
  }
  .recipes-wrapper .grid__item:nth-of-type(2){
    padding-bottom: 0;
  }
  .blog-wrapper{
    position: absolute;
    top: 0;
    z-index: 990;
    background: rgba(0,0,0,.7) !important;
    color: #fff;
    padding: 10vw;
    padding-bottom: 11vw;
    min-height: 100%;
  }
  .blog-wrapper p{
    text-align: justify;
  }
  .blog-wrapper a, .blog-wrapper h3{
   color: #fff;
   border-color: #fff;
  }
  .product-item-parent h3{
    margin: auto;
    text-align: left;
  }
  .blog-wrapper .section-title{
    color: #fff;
    border-color: #fff;
    padding-top: 10px;
  }
  .featured-blog-section h1.section-title{
    top: 0 !important;
    left: 0 !important;
  }

  body .featured-blog-section h1.section-title.desktop-only{
    display:none !important;
  }
  .account-pages .pills a{
    font-size: 17px;
    border: 0;
    border-bottom: 3px solid transparent;

  }
  .account-pages .pills a.open{
    border-bottom: 3px solid #000;
  }
  .account-pages .pills{
    background: #eee;
  }
  h2.CustomerLoginForm{
    margin-bottom: 20px;
   }
  .pill-content{
    padding: 20px 15px 0 15px;
  }

}
@media (max-width:1024px){
  .video-image-wrapper{
    width: 100%;
  }
  #mc_embed_signup input:not(.button){
    font-size: 12px;
    width: 95%;
    text-align: left !important;
  }
  #mc_embed_signup .button{
    padding: 5px 15px;
  }
  .f-social{
    margin-top: 40px;
  }
  .featured-collection .product-item-parent:nth-of-type(3n+0){
  }

  .featured-blog-section .blog-wrapper{
   }
  .featured-blog-section h1.section-title:not(.mobile-only){
    display: inline-block !important;
    font-size: 22px;
    top: -50px;
    position: relative;
    left: -80px !important;

  }
  .featured-collection{
    padding-bottom: 0;
  }
  .featured-collection-section .section-title{
    bottom: 150px !important;
  }

}
@media (min-width:768px){
  #NavDrawer{
      padding-top: 110px;
  }
  .video-text-col.desktop-only,
  .video-image-parent.desktop-only{
    display: table-cell !important;
  }
  .account-pages.wrapper{
    width: 75%;
  }
  #shopify-section-about-two-column-image-right,
  .featured-image-section.alt{
    margin-top: 100px !important;
  }
  .image-zoom{
    cursor: zoom-in;
  }
  .pills.col-2 a.open{
    border: 4px solid #eee;
    border-bottom: 0;
  }

  .insta-featured{display:none}

  .featured-blog-section h1.section-title{
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  }
  #accordion{
    margin-top: 50px;
  }

  .recipes-wrapper .block-overlay .hover{
    padding-top: 4vw;
    display: table !important;
    margin: auto;
    text-align: center;
  }
  .recipes-wrapper .block-overlay p{
    padding: 2vw 5vw;
    margin-top: -30px;
    min-height: 150px;
  }
  .quick-links{
    max-width: 750px;
    margin: auto;
  }
  .quick-links > div{
    border: 4px solid #eee;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    letter-spacing: 2px;
    padding: 10px 0;
  }
 .quick-links > div:nth-of-type(1),
 .quick-links > div:nth-of-type(2){
   border-bottom: 0;
  }
  .quick-links > div:nth-of-type(odd){
    border-right:0;
    border-left:0;
  }
  .quick-links > div:nth-of-type(even){
    border-right:0;
  }
  #accordion.terms-page li{
    border: 0;
  }
  #accordion.terms-page li a{
    pointer-events: none;
  }
  #accordion.terms-page li a:after{
    display:none;
  }
  #accordion.terms-page li div{
    display: block !important;
  }
  .recipes-wrapper .block{
    position: relative;
  }
  .recipes-wrapper .block .block-overlay{
    position: absolute;
    top: 5vw;
    line-height: 2;
    font-size: 17px;
  }
  .recipes-wrapper .block:nth-of-type(odd){
    text-align: left;
    padding-right: 2vw;
  }
  .recipes-wrapper .block:nth-of-type(even){
    text-align: right;
    padding-left: 2vw;
  }

  .mobile-toggle-menu a, .mobile-toggle-menu button{
    margin: 0 15px;
  }

  .featured-image-section-inner .mobile-wrapper{
    float: right;
    clear:both;
  }
  .product-item-parent h3{
    text-align: left;
    display: block;
    margin: auto;
  }
  .mobile-only{
   display: none !important;
  }
  .no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .desktop-only{
    display: block !important;
  }
  .social-sharing-wrapper {
    margin-bottom: 3vw;
  }
  .image-grid-wrapper{
   padding: 8vw 16vw 0 16vw;
  }

  .featured-collection{
    padding: 160px 8vw 8vw 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vw;
  }
  .template-page video-wrapper h3{
    margin-bottom: 30px;
  }

  .featured-collection .product-item-parent:nth-of-type(4){
    margin-right: 0;
  }

  .featured-blog-section .blog-wrapper{
    padding: 50px 80px 0 100px;
    background: #efefef;
    text-align: justify;
    position: relative;
  }
  .image-grid-wrapper .section-title,
  .featured-collection-section .section-title{
    color: #000;
    left: 0;
	  bottom: 195px;
    font-size: 30px;
  }

  .relative-desktop{
    position:relative;
  }
  .hero-logo{
    width: 28vw;
  }

  .footer-menu{
    padding-right: 0 !important;
  }
 .f-copy{
   margin-top: -12px;
   font-size: 14px;
 }

  .featured-blog-section .section-title{
    bottom: 0px;
  }

}
@media (min-width:1280px){
  #shopify-section-collection-template{
    max-width: 80vw;
    margin: auto;
  }
  #article-template-recipes{
    max-width: 80vw;
    margin: auto;
  }


  .contact-form .form-vertical{
    padding-right: 8vw;
    padding-left: 3vw;
    margin-bottom: 100px;
    padding-top: 6vw;
  }
  .contact-form{
  }
  .extra-header-padding{
    margin-bottom: 180px;
  }
  .contact-form label{
    padding-left: 10px;
  }
  .collection-wrap .grid__image img{
    width: 100%;
  }

  .featured-blog-section .blog-wrapper{
    padding-top: 0;
  }
  .social-sharing-wrapper{
    margin-bottom: 4vw;
  }

}
@media (min-width:1400px){
  footer .alpha{
    width: 60%;
  }
  .product-single.wrapper{
    max-width: 90%;
  }
  .product-tabs-wrapper{
    padding-left: 3vw;
  }
  footer .beta{
    width: 20%
  }
  footer .gamma{
    width: 40%;
  }
  .f-copy{
    font-size: 18px;
  }
  #about .main-subheading{
    line-height: 55px;
    position: relative;
    top: 4vh;
  }

  #about .featured-image-section{
    max-height: 600px;
  }
  .featured-content-section .video-wrapper{
    padding: 100px 100px 0 100px;
  }
  .video-text-col{
    vertical-align: middle !important;
  }
   .social-sharing-wrapper{
      margin-bottom: 6vw;
      margin-top: 6.5vw;
    }
    .f-copy{
      margin-top: 0;
      font-size: 14px;
      letter-spacing: 3px;
    }
    a.footer-link{
      font-size: 19px;
      line-height: 2;
    }
    .f-social{
      margin-top: 0;
    }

    .bitcoin{
      width: 120px;
      left: -7px;
    }
    #mc_embed_signup .button{
      font-size: 1em;
    }
    #mc_embed_signup input:not(.button){
      width: 95%;
    }
    .social-sharing-wrapper a img{
      width: 40px;
    }
    .footer-logo img{
      margin: 0 5%;
      margin-bottom: 2vw;
      max-width: 780px;
      padding-right: 30px;
    }

  .site-footer .grid--full{
    max-width: 100%;
  }
  .featured-blog-section .blog-wrapper{
    padding-right: 15vw;
    padding-left: 0;
  }
  .payment-icon-list>li{
    margin:0 2px;
  }
  .product-item-parent h3 a,
  .product-item-parent h3 span{
    font-size: 17px;
  }
  .product-overlay-grid a.btn{
    font-size: 17px;
  }
  .hero-logo{
    width: 32vw;
  }
  .featured-image-section-inner h2{
    font-size: 28px;
    line-height: 2;
   }
  .featured-image-section-inner .call-to-action{
    font-size: 18px;
    padding: 20px 0;
    min-width: 300px;
    text-align:center;
    margin-top: 20px;
  }
  .breadcrumb{
    font-size: 18px;
  }
  .related-products .grid__item:nth-of-type(last){
    margin-right: 0;
  }

  .lg-button-wrap{
    text-align: center !important;
  }
}
@media (min-width:1680px){
  .template-404 .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .featured-image-section{
    max-height: 750px;
  }
  .collection-wrap{
    padding: 0 !important;
  }
   .grid--full.wrapper:not(.footer):not(.featured-collection):not(.account-pages){
    max-width: 1520px;
    margin: auto;
  }
  .template-page .grid--full.wrapper:not(.footer){
    max-width: 80%;
  }
  #four-oh-four{
    top: 0;
  }
  .pills.col-2 a.open,.pills.col-2 a{
    border-width: 4px;
  }
  h2.CustomerLoginForm{
    margin-bottom: 80px;
  }

  .lg-button-wrap{
    width: 25% !important;
  }
  .contact-form .form-vertical{
    padding-left: 0vw;
    padding-right: 5vw;
  }
  .account-details{
    min-height: 18vw;
  }
  .lg--center{
    text-align: center !important;
  }

  .video-image-parent{
    text-align: right;
  }
  .video-image-parent .npl-mobile {
    width: 85%;
  }
  .social-sharing-wrapper{
    margin-top: 4.5vw ;
    margin-bottom: 4vw;
  }
  .footer-logo img{
    margin-left: 9vw;
  }

}

@media (min-width:2000px){
  .cart-spacer{
    min-height: 200px;
  }
}

@media (max-width:400px){
    .blog-wrapper{
      padding: 0 6vw !important;
    }
    .blog-wrapper a.btn--small{
      margin-top: 20px;
    }
}
.recharge .rc_title-bar{
  margin-top: 0px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px !important;
    display: inline-block !important;
    color: #000;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #111;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #111;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.r-container .blog-article div.image a img{
    width: 100%
}
#res-prod-conta article div.content{
    display: block!important;
}
#res-prod-conta article div.content div.text-content div.rte{
    display: none;
}
#res-prod-conta article div.footer div.tag a{
  color:white;
}
