/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

      .rotate{ display: none !important;}
      .wrapper.mobile-only{display: block !important;}
      .image-grid-wrapper .next-arrow, .image-grid-wrapper .prev-arrow{
          top: 18%;
      }
      .featured-collection{
          padding: 6vw;
          padding-top: 0;
      }
     
      .featured-collection .grid__item{
          padding-right: 15px;
          padding-top: 0;
      }
      .mobile-toggle-menu .account-icon{
         top: 1px;
      }
      button.hamburger{
        top: 0;
      }
      .hero-logo{
          width: auto;
      }
      .featured-image-section-inner .mobile-wrapper{
          float: none;
          padding-top: 0;
      }
      .featured-image-section-inner{
          vertical-align: middle;
      }
      .featured-collection{
          align-items: flex-start;
      }
      .footer-menu{
          padding-right: inherit !important;
          padding-top: 20px;
          padding-bottom: 20px;
          margin: 20px auto;
      }
      .featured-blog-section .blog-wrapper{
          position: static;
          padding-bottom: 50px;
          background: #efefef !important;
      }
      .blog-wrapper h3, .blog-wrapper p{
          color: #000 !important;
      }
      .blog-wrapper a.btn--small{
          border-color: #000 !important;
          color: #000;
      }
      .video-image-parent .npl-mobile{
          padding-left: 30px !important;
          padding-right: 30px !important;
          width: 50%;
      }
      .video-text-col{
          padding: 0 30px !important;
      }
      .collection-wrap .grid__image img{
          max-height: 100%
      }
      .recipes-wrapper .block-overlay p{
          margin-top: 30px !important;
      }
      .recipes-wrapper .block .block-overlay{
          top: 30% !important;
      }
      .block-overlay .hover-mobile{
          display: block !important;
      }
      .block-overlay .hover.desktop-only{
          display: none !important;
      }
      .flip-card .back-face{
          padding-top: 10vw;
      }
      .recipes-wrapper .scene{
          padding-left: 0 !important;
          padding-right: 0 !important;
      }
      .contact-img{
          display:none;
      }
      .h3.price{
          text-align: left !important;
          margin: 10px 0 20px 0 !important;
      }
      .account-pages .desktop-only img{ display:none}
    
}   