
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
 height: auto;
  margin:1em 0 1.5em 0;
}
.spr-reviews{
  /* opacity: 0; */
}

.spr-reviews .prev-arrow{ left: 0;}
.spr-reviews .next-arrow { right: 0;}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#accordion li.no-action a.parent::after{ content: '';}
#accordion li.no-action a.parent{ pointer-events: none;}

.play-icon{
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0,0,0,.6);
  flex-direction: column;
}
.product-gallery-nav .slick-track::before,
.product-gallery-nav .slick-track::after{
  display: none;
}

.play-icon img{
  margin-bottom: 10px;
}


.play-icon h5{

    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    font-family: "Mukta",sans-serif !important;
    font-weight: 700 !important;
 }
.product-tabs{
    position: relative;
    z-index: 990;
}
.reveal_content.fadeInRight{
    display:block !important;
    margin: auto;
    width: 100%;
    min-height: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    color: #555;
    background: #eee;
}
.animated{
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}
.carousel.recipe .slick-slide{
    position: relative;
}
.recipe_title a.h3.hover{
    position: relative;
    z-index: 999;
}

a#close-recipe{
    font-size: 2em;
    position: relative;
    display: block;
    text-align: right;
    font-family: "Mukta",sans-serif;
    float: right;
    font-weight: 700;
    left: 20px;
    top: -25px;
}
.spr-container{
    border: 0px !important;
    padding: 0;
}
.spr-content .slick-dots{
    display: none !important;
}
.spr-review{
    text-align: center;
    border: 0px !important;
}
div.rc_popup__block{
    z-index: 991;
}
p.msg{
    margin-bottom: 0;
}

.carousel-wrapper .recipe-content{
    padding-top: 20px;
}
.carousel-wrapper.recipes a.parent{
    margin: 5px 0;
    display: block;
    padding-left: 12px;
}
.recipe .slick-slide{
    min-height: 600px !important;
}
.recipe_title a.h3{
    font-family: "Mukta",sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 17px;
    border: 2px solid #999;
    padding: 10px 15px;
    margin: 30px 0;
    color: #999;
    text-align: center;
    min-width: 150px;
    line-height: 1.6;

}
.card.banana-bread .recipe_title a.h3.hover{
    color: #fff !important;
}
.recipe_title a.h3.lightbox{
    position: relative;
    z-index: 9999;
}

.reveal_content{ display:none   }

.recipe_title:before,
.recipe_title:after{
    content: '';
    display: block;
    height: 80px;
    width: 2px;
    display: table;
    margin: auto;
}
.recipe_title{
    display: table;
    margin: auto;
    position: relative;
    top: 10vh;
    z-index: 990;
}
.carousel-wrapper .next-arrow{
    right: 1vw;
}
.carousel-wrapper .prev-arrow{
    left: 1vw;
}
@media (max-width: 768px){
    .carousel .card{
        background-position: center !important;
        background-size: cover !important;
    }

    .recipe_title a.h3{
      position: relative;
      top: 100px;
    }
    .related-products h4{
        top: 50px;
        position: relative;
        padding-top: 50px;
        display: inline-block;
    }
    .carousel .slick-dots{
        top: 10vw !important;
    }
    .recipe_title{
        top: 15vh;
    }
    .carousel-wrapper .next-arrow,
    .carousel-wrapper .prev-arrow{
        top: 45%;
        width: 15px;
    }
    .product-gallery {
      touch-action: manipulation !important;
    }
}
@media (min-width: 1440px){
    .carousel-wrapper .next-arrow,
    .carousel-wrapper .prev-arrow{
        top: 42%;
        width: 15px;
    }
    .product-single__photos{
        border-bottom: 3px solid #eee;
        margin-bottom: 50px;
    }

    .recipe_title{
        top: 8vh;
    }
    .recipe .slick-slide{
       background-size: 100% !important;
     }
     .embed-container iframe{
       height: 694px;
     }

    .product-gallery-nav .slick-slide > img{
      width: 300px;
    }

}
@media (min-width: 1680px){
  .product-gallery-nav .slick-slide > img{
    width: 335px;
  }
}


div.rc_block__type label.rc_label{
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: "Mukta",sans-serif;
    letter-spacing: 2px;
  }
  .rc_label__delivery{
    letter-spacing: 0;
  }
  .product-gallery .slick-dots{
    top: 6vw !important;
  }
  .related-products h4{
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  .product-gallery-nav {
    margin: 20px 0 0;
  }
  .product-gallery-nav .slick-slide.slick-current{
    display: none;
  }

  .product-gallery-nav .slick-slide{
    width: auto !important;
    margin:0 0 0 0;
    position: relative;
  }

  .product-gallery-nav .slick-track{
    display: flex;
    justify-content: space-between;
  }
  .product-gallery  .slick-arrow{
    display:none !important;
  }

  .product-gallery .slick-slide img{
     margin: auto;

   }
  .product-gallery-nav .slick-slide img{
    left: 0 !important;
    zoom: 0;
  }


  h1.product-title{
    margin: 50px 0 20px 0;
  }
  .related-products .price{
    display: none;
  }
  h1.product-title,h2#ProductPrice,.related-products h4,
  .qtydiv{
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Mukta",sans-serif;
    font-weight: 700;
  }
  .qtydiv{
    font-size: 18px;
    padding-right: 0;
  }
  .variants-wrapper{
    overflow: hidden;
    margin-top: 30px;
  }
  #AddToCart{
    border: 2px solid #000;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
    line-height: unset;
    height: 70px;
  }
  .product-form .grid__item.alpha{
    padding-left: 0;
    padding-right:20px;
    border-right: 3px solid #eee;
  }
  #accordion li:first-child{
    border-top: 0;
  }
  #accordion > div{
    font-size: 20px;
  }
  #accordion li{
    padding: 5px 0 5px 10px;
  }
  #accordion li > a{
    letter-spacing: 2px;
    font-family: "Mukta",sans-serif;
    font-weight: 700;
  }
  h2.spr-header-title,.spr-review-footer{
    display:none;
  }
  .spr-review-header-title{
    font-family: "Mukta",sans-serif;
    color: #000;
  }
  i.spr-icon{
    color: #000;
    font-size: 75%;
  }
  .spr-review-header-byline{
    font-style: normal;
  }

  #rc_container{
    margin-top: 20px;
  }
    @media (max-width: 768px){
      .product-form .grid__item.beta{
        padding-left: 0;
      }
      .product-title, h2#ProductPrice{
        font-size: 25px;
        text-align: left !important;
      }
      .product-form .grid__item.alpha{
        padding-right: 0;
        border: 0px;
      }
      .rc_block.rc_block__type{
        padding-left: 0;
      }
      /* .mobile-bg-slick{
        height: 00px;
        background-size: cover !important;
      }
      .product-gallery .slick-track{
        height: 500px;
      }
      .product-tabs-wrapper{
        padding-left: 0;
      }
       /* .mobile-bg-slick img{
        display: none;
      } */
    }
    @media (min-width: 768px){
      .product-gallery .slick-dots{
        display:none !important;
      }
      .mobile-bg-slick{
      background: none !important;
      }

      .spec-div{
          max-width: 70%;
          margin: auto;
          float: none;
      }

    }
    @media (min-width: 1360px){
      h1.product-title,h2#ProductPrice,.related-products h4{
        font-size: 28px;
      }
      .product-description.rte, p.msg{
        font-size: 18px;
        line-height: 2;
      }
      .product-form{
        padding-left: 3vw
      }
      .product-form .alpha{
        padding-right: 15px !important;
      }
      .product-form .beta {
        padding-left: 15px !important;
      }
      h1.product-title{
        margin-top: 180px;
      }
      div.product-description.rte{
          margin-top: 60px;
      }
    }
