<!-- /templates/404.liquid -->

<div id="four-oh-four" class = "text-center">
	<h1>{{ 'general.404.title' | t }}</h1>
	<p>{{ 'general.404.subtext_html' | t }}</p>
	<a href="/" class="btn invert-on-hover" >{{ 'general.404.button_text' | t }}</a>
</div>