{% comment %}
  The contents of the article.liquid template can be found in /sections/article-template.liquid
{% endcomment %}

{% assign blog_name = article.handle | split: '/' %}

{% if blog_name[0] == 'news' %}
  {% section 'news-article-template' %}
{% else %}
  {% section 'article-template' %}
{% endif %}

