
{{ 'cart.css' | asset_url | stylesheet_tag }}
{% include 'subscription-cart-footer' %}

<!-- /sections/cart.liquid -->
<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" integrity="sha384-axi5ffQG1HW3hkExwml/y1xQHdTCM5KumQS+E7XSolfUkIPC7Ev/l3UCd71SU+3L" crossorigin="anonymous"></script>

<div class = "grid--full large--three-quarters-cart wrapper">
  <div class = "grid__item ">
    {% if cart.item_count > 0 %}
    <h1 class = "cart-title">{{ 'cart.general.title' | t }}</h1>
    <form action="/cart" method="post" novalidate class="cart table-wrap">

      <div class="grid__item large--two-thirds no-padding-left">
        <table class="cart-table full table--responsive ">
          <thead class="cart__header-labels">
          <th width="300"colspan="1"></th>
          <th width="250" class="text-left">{{ 'cart.label.product' | t }}</th>
          <th  width="550" class="text-center">{{ 'cart.label.quantity' | t }}</th>
          <th class="text-center">{{ 'cart.label.price' | t }}</th>
          {% comment %} <th class="text-right">{{ 'cart.label.total' | t }}</th> {% endcomment %}
          </thead>
          <tbody>
          {% for item in cart.items %}
            <tr class="cart__row table__section">

              <td data-label="{{ 'customer.order.product' | t }}" class = "product-name-label">
                <a href="{{ item.url | within: collections.all }}" class="cart__image">

                  <img class="product-img desktop-only" width="160" src="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}">

                  <div class="mobile-only" style="height:200px !important;width: 100%;background: url('{{ item | img_url: 'grande' }}') no-repeat center center;background-size: contain; background-position: top;">
                  </div>
                </a>
              </td>
              <td style="vertical-align: top">
                <a href="{{ item.url }}" class="h3">
                  {% assign title = item.product.title | split: ' | ' %}

                  <div class="title">
                    <!--                     <span style="display:block">{{title[0]}}</span> <span style="display:block">{{title[1]}}</span> -->
                    <span style="display: block;">{{ item.product.title | replace: '| ', '' }}</span>

                  </div>
                  <div class="variant" style="margin-top: 15px;"> {{ item.variant.option1}} </div>
                </a>
                <span class="h3 price text-left mobile-only">
                     {{ item.line_price | money }}
                  </span>
                {% comment %}
                  Optional, loop through custom product line items if available

                  For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}
                {% assign property_size = item.properties | size %}
                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" %}
                      {{ p.first }}:

                      {% comment %}
                        Check if there was an uploaded file associated
                      {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}

                      <br>
                    {% endunless %}
                  {% endfor %}
                {% endif %}
              </td>
              <td class="text-left" data-label="{{ 'cart.label.quantity' | t }}">
                <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
              </td>
              <td data-label="{{ 'cart.label.price' | t }}">
                  <span class="h3 price text-center desktop-only">
                    {{ item.line_price | money }}
                  </span>

                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove invert-on-hover-alt">
                  Remove
                </a>
              </td>

              {% comment %} <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
                  <span class="h3 price">
                    {{ item.line_price | money }}
                  </span>
              </td> {% endcomment %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="grid__item large--one-third padding-left">

        <div class="cart__row grid">
          {% comment %} <div class="grid__item large--one-half medium--down-one-whole">
            {% if settings.enable_cart_notes %}
              <textarea name="note" class="input-full" placeholder = "{{ 'cart.general.note' | t }}" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            {% endif %}
          </div> {% endcomment %}
          <div class="grid__item large--text-left large--one-whole border-left">
            <div class="cart__subtotal price h3">
              <div class="pull-left">{{ 'cart.general.subtotal' | t }} </div>
              <div class="pull-right">{{ cart.total_price | money }}</div>
            </div>
            <div class="small-text">
              Checkout summary will display in Australian Dollars $AUD. <br/>
              <a href="#shipping_details" data-featherlight="#shipping_details"
                 style="text-decoration:underline">Shipping Details</a>
              <div id="shipping_details" class="lightbox">
                <h2>Shipping</h2>
                {{pages.shipping.content}}
              </div>
            </div>
            <p> &nbsp; </p>

            {% comment %} <small class = "shipping-note light-gray">{{ 'cart.general.shipping_at_checkout' | t }}</small> {% endcomment %}
            <input type="submit" name="update" class="btn--secondary hide update-cart cart__update" value="{{ 'cart.general.update' | t }}">
            <input type="submit" name="checkout" class="cart__checkout btn invert-on-hover-alt" value="{{ 'cart.general.checkout' | t }}">

            <div class="safe-checkout">
              <img src="{{'Shopify_Secure.svg' | asset_url}}" width="100">
              <div> guaranteed safe checkout </div>
              <ul class="payment-icon-list grid-uniform">
                {% comment %} <li classs = "grid__item large--one-eighth">
                  <img class="bitcoin" src="{{'bitcoin.png' | asset_url }}" width="50">
                </li> {% endcomment %}
                <li classs = "grid__item large--one-eighth">
                  <img src="{{'visa-outline.svg' | asset_url }}" width="50">
                </li>
                <li classs = "grid__item large--one-eighth">
                  <img src="{{'mastercard-outline.svg' | asset_url }}" width="50">
                </li>
                <li classs = "grid__item large--one-eighth">
                  <img src="{{'amex.svg' | asset_url }}" width="50">
                </li>
                <li classs = "grid__item large--one-eighth">
                  <img src="{{'paypal-outline.svg' | asset_url }}" width="50">
                </li>
                <li classs = "grid__item large--one-eighth">
                  <img src="{{'apple_pay.svg' | asset_url }}" width="50">
                </li>
                <li classs = "grid__item large--one-eighth">
                  <img src="{{'google_pay.svg' | asset_url }}" width="50">
                </li>
                <li classs = "grid__item large--one-eighth">
                  <img src="{{'bitcoin.svg' | asset_url }}" width="50">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </form>
    {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <h1 class="cart-title text-center">{{ 'cart.general.title' | t }}</h2>
      <h3 class="text-center cart-empty">{{ 'cart.general.empty' | t }}</h3>
      <p class="text-center"><a href="/collections/hemp-food" class="btn return-home">keep Shopping</a></p>
      <div class="cart-spacer">
      </div>
      {% endif %}
  </div>
</div>
<style>

</style>
<script>
    function checkCart(){
        var qty = 0;
        $('form.cart .js-qty__num').each(function(i, el){
            if($(el).val() == 1){
                $(el).parent().addClass('sh-hide-minus');
            }
        });

        $('.js-qty__num').each(function(i, el){
            qty = qty + parseInt($(el).val());
            $('.cart-text .CartCount').text(qty);
        });
    }

    $(document).on('change', '.template-cart .js-qty input', function(e){
        var $this = $(this),
            $form = $('form.cart');

        //clearTimeout(window.cartUpdateTimeout);
        setTimeout(function(){
            $.ajax({
                type: 'POST',
                dataType: 'html',
                data: $form.serialize(),
                url: $form.attr('action')+'.html',
                success: function(data) {
                    var $newForm = $(data).find('form.cart');
                    $form.replaceWith($newForm);
                    ajaxCart.init();
                    checkCart();
                }
            });
            $this
                .prop('disabled', true)
                .parents('.js-qty')
                .fadeTo(0, 0.25);
        }, 500);
    })
</script>
