  <!-- /templates/list-collections.liquid -->

{% include 'grid-logic' %}

<!-- Page Header -->
<header class="collection-header grid-uniform wrapper" id = "ListCollections">
  <div class="grid__item large--one-whole text-center">
    <h1 class="section-header__title collection-title">{{ 'collections.general.list_collections' | t }}</h1>
    <span class="spacer-line"></span>
  </div>
</header>

<!-- Echo each Collection Title and Image -->
<div class="grid--full wrapper">
  {% for collection in collections %}
   {% unless collection.handle == 'frontpage' %}
    <div class="grid__item {{ grid_item_width }} product-item-parent text-center">
        <a href="{{ collection.url }}" class="grid__image product-image">
          <div class = "table">
            <div class = "cell">
              {% if collection.image %}
                {%- assign image = collection.image -%}
                {%- assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' -%}
                {% include 'theme-rias' %}
                <img 
                   class="lazyload"
                   data-src="{{ image_url_pattern }}"
                   data-widths= "[{{ image_widths }}]"
                   data-aspectratio="{{image.aspect_ratio }}"
                   data-sizes="auto"
                >
                <noscript>
                  <img src="{{ image | img_url: '600x' }}" alt="{{ image.alt | escape }}">
                </noscript> 
              {% else %}
                {%- assign image = collection.products.first.featured_image -%}
                {%- assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' -%}
                {% include 'theme-rias' %}
                <img 
                   class="lazyload"
                   data-src="{{ image_url_pattern }}"
                   data-widths= "[{{ image_widths }}]"
                   data-aspectratio="{{image.aspect_ratio }}"
                   data-sizes="auto"
                >
                <noscript>
                  <img src="{{ image | img_url: '600x' }}" alt="{{ image.alt | escape }}">
                </noscript> 
              {% endif %}
            </div>
          </div>
        </a>      
        <h3>{{ collection.title }}</h3>
    </div>
    {% endunless %}
  {% endfor %}
</div>
