<!-- /templates/page.faq liquid -->

 <div class="grid--full wrapper">
  <div class="grid__item large--three-quarters push--large--one-eighth">
	<h1 class= "page-title text-center no-border" style="margin-bottom: 0">{{ page.title }}</h1> 
      {% section 'terms' %}
  </div>
</div>