{% assign recipes = blogs.hemp-recipes.articles %}

{% capture contentForQuerystring %}{{ content_for_header }}{% endcapture %}
{% assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
  replace:'\/','/' |
  replace:'%20',' ' |
  replace:'\u0026','&'
%}
{% assign pageQuerystring = pageUrl | split:'?' | last %}
{% assign parts = pageQuerystring | split:'&' | first | strip_newlines %}

{% if parts contains 'f=' %}
  {% capture current_tag %}{{ parts | replace: 'f=', '' }}{% endcapture %}
  {% capture clean_tag %}{{ parts | replace: 'f=', '' | replace: '+',' ' }}{% endcapture %}
{% endif %}

{{ 'collection.css' | asset_url | stylesheet_tag }}
<style>
  .recipes-wrapper .block .block-overlay{
    width: 100%;
  }
  @media (min-width:1400px){
    .recipes-wrapper{
      max-width:73vw;margin:auto;padding-top: 0;
    }
  }

</style>
<div id="shopify-section-collection-template" class="shopify-section">
  <div class="grid--full wrapper recipes-wrapper no-border" id="collection-section">
    <h1 id="hrct" class="page-title text-center no-top-padding hemp-recipes-collection-title">{{ page.title }}</h1>
    <! -- start nav -->
    <div class="desktop-only">
      <nav class="breadcrumb recipe-breadcrumb" role="navigation" aria-label="breadcrumbs">

        <a href="/pages/hemp-recipes"> Recipes </a>
        <span aria-hidden="true">/</span>
        <span>{{ page.title }}</span>

      </nav>
    </div>
    <! -- end nav -->
    {{ page.content }}
  </div>
  <!-- grid start -->
  {% if clean_tag != blank %}
    {{ clean_tag | json }}
  {% endif %}

  <div class="grid--full wrapper">
    <hr style="border-width: 4px 0 0;border-color: #eee;margin: 50px 0 30px;"/>
    <div class="blog-filters">
      <script>
          function recipeFilter($el){
              var newUrl = '{{ request.path }}/?f=' + $el.value;
              window.location.href = newUrl;
          }
      </script>
      <strong>Filter By : </strong>
      <select onchange="recipeFilter(this)">
        <option value="All">All articles</option>
        <option value="Breakfast" {% if clean_tag != blank and clean_tag == 'Breakfast' %}selected="selected"{% endif %}>Breakfast</option>
        <option value="Desert" {% if clean_tag != blank and clean_tag == 'Desert' %}selected="selected"{% endif %}>Desert</option>
        <option value="Baking" {% if clean_tag != blank and clean_tag == 'Baking' %}selected="selected"{% endif %}>Baking</option>
      </select>
    </div>

  </div>

  <div class="grid--full wrapper collection-wrap recipes-wrapper">
    <!-- box 1 {{page.title}} -->
    {% for recipe in recipes %}
      {% if recipe.tags contains page.title %}
        {% if clean_tag != blank and clean_tag != 'All' %}
          {% if recipe.tags contains clean_tag %}
            <!-- box start -->
            <div class="grid__item text-center small--one-half medium--one-half large--one-third  has-tag product-item-parent setbox-size">
              <!-- Image -->
              <div class="grid__image">
                <a title="{{ recipe.title }}" href="{{ recipe.url }}" class="wrap">
                  <img src="{{ recipe.image | img_url:'master'}}" width="100%" class="recipe-image-list" >
                </a>
                <div class="product-overlay-grid">
                  <a title="Hemp Seed Recipes" class="btn" href="{{ recipe.url }}">View RECIPE</a>
                </div>
              </div>


              <!-- title start -->
              <h3>
                <a title="Hemp Seed Recipes" href="{{ recipe.url }}" >
                      <span class="desktop-only">
                        <span style="display:block">{{ recipe.title }}</span>
                      </span>
                  <span class="mobile-only">
                        {{ recipe.title }}
                      </span>
                </a>
              </h3>
              <!-- title end -->
            </div>
            <!-- box end -->
          {% endif %}
        {% else %}
          <!-- box start -->
          <div class="grid__item text-center small--one-half medium--one-half large--one-third  has-tag product-item-parent setbox-size">
            <!-- Image -->
            <div class="grid__image">
              <a title="{{ recipe.title }}" href="{{ recipe.url }}" class="wrap">
                <img src="{{ recipe.image | img_url:'master'}}" width="100%" class="recipe-image-list" >
              </a>
              <div class="product-overlay-grid">
                <a title="Hemp Seed Recipes" class="btn" href="{{ recipe.url }}">View RECIPE</a>
              </div>
            </div>


            <!-- title start -->
            <h3>
              <a title="Hemp Seed Recipes" href="{{ recipe.url }}" >
                <span class="desktop-only">
                  <span style="display:block">{{ recipe.title }}</span>
                </span>
                <span class="mobile-only">
                  {{ recipe.title }}
                </span>
              </a>
            </h3>
            <!-- title end -->
          </div>
          <!-- box end -->
        {% endif %}


      {% endif%}
    {%endfor%}
    <!-- grid end -->
  </div>
  <style>
    .collection-wrap:before{
      display: none;
    }
    .recipes-wrapper {
      padding: 0 0 0 0;
      margin: 0px 50px;
    }
    .blog-filters{
      z-index: 999;
      position: relative;
    }
  </style>