<!-- /templates/page.liquid -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  {% section 'slideshow-about' %}
  {% section 'featured-image-about' %}
  {% section 'about-two-column-image' %}

  {% section 'about-two-column-image-right' %}

  {% section 'featured-image-about-alt' %}
  {% section 'about-two-column-image-alt' %}

    <div class="desktop-only">
    </div>
<div class="grid--full wrapper">
</div>
<style>
/*#about .main-content .shopify-section .video-text-col,
#about .main-content .shopify-section .video-image-parent{
   transform: translateY(500px);
   opacity: 0;
 }
#about .main-content .shopify-section.featured-image {
    transform: translateY(100px);
    opacity: 0;
 }
.section-reveal .video-image-parent,
.section-reveal.featured-image {
   opacity: 1 !important;
   transform: translateY(0px) !important;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.section-reveal .video-text-col{
  opacity: 1 !important;
   transform: translateY(0px) !important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
} */
#about footer{
  position: relative;
  z-index: 990;
}
@media (max-width:768px){
    #about .main-subheading{
        font-size: 18px;
    }

    .slider-text-block{
      top: 50%;
      left: 50% !important;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    #shopify-section-featured-image-about-alt{
        max-height: 300px;
    }
}
@media (max-width:480px){
    .slides{
        background-position: -170vw center !important
    }
}
</style>

<script src="https://unpkg.com/aos@3.0.0-beta.6/dist/aos.js" integrity="sha384-ZGo5k5ISlEzWLoXyt+lnvKt9j03Z7GkxXh14zLqVy098XJhcdKHjL8pQYVMI8WiH" crossorigin="anonymous"></script>
  <script>
    AOS.init();
  </script>

{% comment %} <script>
$(document).ready(function() {

    /* Every time the window is scrolled ... */
    $(window).scroll( function(){

        /* Check the location of each desired element */
        $('.main-content .shopify-section:not(.slideshow)').each( function(i){

            var bottom_of_object = $(this).offset().top ;
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){

                $(this).addClass('section-reveal');

            }

        });

    });

});
</script> {% endcomment %}
