<!-- /templates/page.contact.liquid -->

<div class="grid--full extra-header-padding ">

  <div class="grid__item push--large--one-quarter large--one-half medium-down--one-whole">

    <h1 class = "no-border page-title text-center" style="margin-bottom: 0">{{ page.title }}</h1>
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte sub-text text-center ">
      {{ page.content }}
    </div>

    {% comment %}
      Contact form starts here
    {% endcomment %}


  </div>

</div>
<style>
#field-HP{
    display: none;
}
</style>

<div class="grid--full contact-form">
  <div class="grid--full wrapper">
  <div class="grid__item large--one-half medium-down--one-whole">
  <div class="form-vertical clearfix">
        {% form 'contact' , autocomplete: 'off' %}

          {% assign name_attr = 'contact.form.name' | t | handle %}

          <input type="text"  autocomplete="hp"   placeholder="hp" name="hp" class="" id="field-HP" >

          <input autocomplete="new-password" style="padding-top:0" type="text" placeholder="Full Name *" class="input-full" name="contact[Full Name]" required="required">

          <input id="email" autocomplete="new-password" type="email" class="input-full" name="contact[email]" placeholder="Email *" required="required">

          <div class="confirm-email">
            <input id="confirm-email" autocomplete ="off" type="text" class="input-full" placeholder="Confirm Email  *" required="required">
            <span class="error-message">email addresses do not match</span>
          </div>

           <input autocomplete="new-password" type="text" class="input-full" name="contact[Subject]" placeholder="Subject *" required="required">
            <label class="msg"></label>
           <textarea rows="4" placeholder="Message*" class="input-full textarea" name="contact[Message]"   required="required"></textarea>

          <input type="submit" class="btn invert-on-hover-alt" value="{{ 'contact.form.send' | t }}">

          {% comment %}
            Successful message
          {% endcomment %}
          {% if form.posted_successfully? %}
          <div class="note form-success" style="clear:both">
          {{ 'contact.form.post_success' | t }}
          </div>
          {% endif %}

          {{ form.errors | default_errors }}

        {% endform %}

      </div>


  </div>
  <div class="grid__item large--one-half desktop-only" style="position: relative; top:-100px">
  <img src="{{'contact-image.jpg' | asset_url }}" width="100%" class="contact-img" >
  </div>
 </div>
</div>
<script>
$( document ).ready(function() {
     window.startDate2 = new Date();
});
$("#field-HP").attr('style','display:none;');
$(document).ready(function(){
  $('#confirm-email').on('paste', function(e){
  	e.preventDefault();
  });
  $('#contact_form').on('submit', function(e){
    window.endDate2 = new Date();
    var seconds = (window.endDate2.getTime() - window.startDate2.getTime()) / 1000;
    if( $("#field-HP").val() != "" || seconds < 20 ){
      return false;
    }
    var email = $('#email').val(),
        confirmEmail = $('#confirm-email').val();

    if(email !== confirmEmail){
      e.preventDefault();
      $('#confirm-email').css('border-color','red').parent().addClass('email-error');
      $('html, body').animate({
        scrollTop: $('#confirm-email').offset().top - 100
      }, 800);
      $('#confirm-email').focus();
      setTimeout(function(){ $('#confirm-email').css('border-color','#E3E3E1').parent().removeClass('email-error') },5000);
    } else if(checkEmail(email) == false){
      e.preventDefault();
      $('#email').css('border-color','red');
      $('html, body').animate({
        scrollTop: $('#email').offset().top - 100
      }, 800);
      setTimeout(function(){ $('#email').css('border-color','#E3E3E1') },5000);
    }

   });
})
function checkEmail(email)
{
  var tlds = ".au .com .net .org .gov .edu .info";

  var  email = email.replace(/^\s+|\s+$/, '');
  var rex = new RegExp("^[A-Za-z0-9\.\-_]+@[A-Za-z0-9\.\-_]+\.[A-Za-z]+$")
  var endofString = email.split('.');
  var ending = endofString.length - 1;
  var tld = endofString[ending];
  if (! email.match(rex)) {
    console.log('Invalid email address, please try again.');
    return false;
  }
  else if (tlds.search(tld) < 0) {
    console.log('Invalid top level domain, please try again.');
    return false;
  }
  else {
    return true;
  }
}
</script>
