{% assign recipes = blogs.recipes.articles %}
{{ 'collection.css' | asset_url | stylesheet_tag }}
<style>
.recipes-wrapper .block .block-overlay{
    width: 100%;
}
@media (min-width:1400px){
 .recipes-wrapper{
     max-width:73vw;margin:auto;padding-top: 0;
 }
}

</style>
<div class="grid--full wrapper recipes-page-wrapper recipes-wrapper no-border" id="recipes-full-wrapper">
 	<h1 id="phr" class="page-title text-center no-top-padding hemp-recipes-title">{{ page.title }}</h1>
  {{ page.content }}

</div>
  <!-- grid start -->

  <div class="grid--full wrapper collection-wrap recipes-wrapper">
    <!-- box 1 -->
      <div class="hemp-recipes-grid grid__item text-center small--one-half medium--one-half large--one-third  has-tag product-item-parent">
        <!-- Image -->
        <div class="grid__image">
            <a title="Hemp Protein Powder Recipes" href="/pages/protein-powder-recipes" class="wrap">
              <img src="https://cdn.shopify.com/s/files/1/0018/8370/1303/files/hemp-protein-powder-recipes.jpg?6996">
            </a>
           <div class="product-overlay-grid">
            <a title="Hemp Protein Powder Recipes" class="btn" href="/pages/protein-powder-recipes">View Recipes</a>
          </div>
         </div>
       <h3>

  <!-- title start -->
  <h3>
      <a title="Hemp Protein Powder Recipes" href="/pages/protein-powder-recipes">
        <span class="desktop-only">
          <span style="display:block">Hemp Protein Powder Recipes</span>
        </span>
        <span class="mobile-only">
           Hemp Protein Powder Recipes
        </span>
      </a>
  </h3>
  <!-- title end -->
  </div>


    <!-- box 2 -->
      <div class="hemp-recipes-grid grid__item text-center small--one-half medium--one-half large--one-third  has-tag product-item-parent">
        <!-- Image -->
        <div class="grid__image">
            <a title="Hemp Seed Recipes" href="/pages/hemp-seed-recipes" class="wrap">
              <img src="https://cdn.shopify.com/s/files/1/0018/8370/1303/files/hemp-seed-recipes.jpg?6996">
            </a>
           <div class="product-overlay-grid">
            <a title="Hemp Seed Recipes" class="btn" href="/pages/hemp-seed-recipes">View Recipes</a>
          </div>
         </div>


       <!-- title start -->
       <h3>
       <a title="Hemp Seed Recipes" href="/pages/hemp-seed-recipes" >
             <span class="desktop-only">
               <span style="display:block">Hemp Seed Recipes</span>
             </span>
             <span class="mobile-only">
               Hemp Seed Recipes
             </span>
           </a>
       </h3>
       <!-- title end -->
        </div>

    <!-- box 3 -->
      <div class="hemp-recipes-grid grid__item text-center small--one-half medium--one-half large--one-third  has-tag product-item-parent">
        <!-- Image -->
        <div class="grid__image">
            <a title="Hemp Oil Food Recipes" href="/pages/hemp-oil-food-recipes" class="wrap">
              <img src="https://cdn.shopify.com/s/files/1/0018/8370/1303/files/hemp-oil-food-recipes.jpg?6996">
            </a>
           <div class="product-overlay-grid">
            <a title="Hemp Oil Food Recipes" class="btn" href="/pages/hemp-oil-food-recipes">View Recipes</a>
          </div>
         </div>
   <!-- title start -->
   <h3>
   <a title="Hemp Oil Food Recipes" href="/pages/hemp-oil-food-recipes" >
         <span class="desktop-only">
           <span style="display:block">Hemp Oil Food Recipes</span>
         </span>
         <span class="mobile-only">
           Hemp Oil Food Recipes
         </span>
    </a>
   </h3>
   <!-- title end -->
  </div>

<!-- grid end -->

      <style>

        .block-overlay.{{cssHandle}} {
          color: {{accent_color}};
        }
        .block-overlay.{{cssHandle}}:before,
        .block-overlay.{{cssHandle}}:after{
          content: '';
          display: block;
          height: 80px;
          width: 2px;
          background: {{accent_color}} ;
          margin: auto;
          position: relative;
        }
        .block-overlay.{{cssHandle}}:after{
          top: -10px;
        }
        .block-overlay.{{cssHandle}} a{
          color: {{accent_color}};
          border-color: {{accent_color}};
        }
        .recipes-wrapper .block-overlay.{{cssHandle}} a.hover-btn{
          background: {{accent_color}} ;
          color: #000;
          padding: 7px 15px;
          display: block;
          margin: auto;
          opacity: 0;
          z-index: 999;
          cursor: pointer;
          position: relative;
          top: -43px;
          letter-spacing: 2px;

        }

      </style>
  </div>

</div>


<script type="text/javascript">
$(document).ready(function(){

    $('.flipper').on('click',function(e){
      e.preventDefault();
      var $front = $(this).closest('.front-face'),
          $back = $front.next();
      $front.removeClass('fadeInRight').addClass('animated fadeOutRight');
      $back.removeClass('fadeOutRight').addClass('animated fadeInRight');

      $front.parent().css('min-height', $back.outerHeight());
    })
    $('.back-face a.close').on('click',function(e){
      e.preventDefault();
      var $back = $(this).parent(),
          $front = $(this).parent().prev();
      $front.removeClass('fadeOutRight').addClass('fadeInRight');
      $back.removeClass('fadeInRight').addClass('fadeOutRight');

      $front.parent().removeAttr('style');

    })
  })
</script>
