{% assign recipes = blogs.recipes.articles %}
{{ 'collection.css' | asset_url | stylesheet_tag }}
<style>
.recipes-wrapper .block .block-overlay{
    width: 100%;
}
@media (min-width:1400px){
 .recipes-wrapper{
     max-width:73vw;margin:auto;padding-top: 0;
 }
}

</style>
 <div class="grid--full wrapper recipes-wrapper no-border" >
 	<h1 class= "page-title text-center">{{ page.title }}</h1>

    {% for recipe in recipes %}

        {% for tag in recipe.tags %}
            {% if tag contains '#' %}
                {% assign accent_color = tag %}
            {% endif%}
        {% endfor %}

     {% assign cssHandle = recipe.title | handleize %}

      <div class="grid__item block medium--down-one-whole large--one-half scene">
      <div class="flip-card">
        <div class="front-face">
          <div class="block-overlay text-center {{cssHandle}}">
          <div class="hover desktop-only">
            <a href="#">
             {{recipe.title}}
            </a>
            <a href="#" class="hover-btn flipper">MAKE</a>
          </div>
            <div class="mobile-only hover-mobile">
              <a href="#" class=" flipper"> {{recipe.title}}</a>
            </div>
            <p style="color:{{accent_color}}">
              {{recipe.excerpt}}
            </p>

          </div>
          <img src="{{ recipe.image | img_url:'master'}}" width="100%">
          </div>
          <div class="back-face" >
            <a href="#" class="close"> x </a>
            {{recipe.content}}
          </div>
        </div>
      </div>
      <style>

        .block-overlay.{{cssHandle}} {
          color: {{accent_color}};
        }
        .block-overlay.{{cssHandle}}:before,
        .block-overlay.{{cssHandle}}:after{
          content: '';
          display: block;
          height: 80px;
          width: 2px;
          background: {{accent_color}} ;
          margin: auto;
          position: relative;
        }
        .block-overlay.{{cssHandle}}:after{
          top: -10px;
        }
        .block-overlay.{{cssHandle}} a{
          color: {{accent_color}};
          border-color: {{accent_color}};
        }
        .recipes-wrapper .block-overlay.{{cssHandle}} a.hover-btn{
          background: {{accent_color}} ;
          color: #000;
          padding: 7px 15px;
          display: block;
          margin: auto;
          opacity: 0;
          z-index: 999;
          cursor: pointer;
          position: relative;
          top: -43px;
          letter-spacing: 2px;

        }

      </style>
    {%endfor%}
  </div>

</div>


<script type="text/javascript">
$(document).ready(function(){

    $('.flipper').on('click',function(e){
      e.preventDefault();
      var $front = $(this).closest('.front-face'),
          $back = $front.next();
      $front.removeClass('fadeInRight').addClass('animated fadeOutRight');
      $back.removeClass('fadeOutRight').addClass('animated fadeInRight');

      $front.parent().css('min-height', $back.outerHeight());
    })
    $('.back-face a.close').on('click',function(e){
      e.preventDefault();
      var $back = $(this).parent(),
          $front = $(this).parent().prev();
      $front.removeClass('fadeOutRight').addClass('fadeInRight');
      $back.removeClass('fadeInRight').addClass('fadeOutRight');

      $front.parent().removeAttr('style');

    })
  })
</script>
