<!-- /templates/page.liquid -->

<div class="grid--full">

  <div class="grid__item push--large--one-quarter large--one-half medium-down--one-whole">

    <h1 class = "no-border page-title text-center" style="margin-bottom: 0">{{ page.title }}</h1>
    {% comment %}
      Regular page content goes here.
    {% endcomment %}

  </div>

</div>
{% include 'blog-grid' %}
