<!-- /templates/page.liquid -->

<div class="grid--full wrapper">
  <div class="grid__item large--three-quarters push--large--one-eighth">
	<h1 class= "page-title text-center">{{ page.title }}</h1> 
      {{ page.content }}
  </div>
</div>